openapi: 3.2.0
info:
  title: Weavr Linked Accounts API
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Linked Accounts across 4 of this provider''s published API definitions: weavr-multi-openapi-original.yml, weavr-payment-run-openapi-original.yml, weavr-simulator-openapi-original.yml, weavr-webhooks-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: Weavr Sandbox Environment
  url: https://sandbox.weavr.io/multi
- url: https://sandbox.weavr.io/payment-run
  description: Sandbox
- url: https://sandbox.weavr.io/simulate/api"
- url: '""'
tags:
- name: Linked Accounts
paths:
  /linked_accounts:
    post:
      tags:
      - Linked Accounts
      description: 'A Linked Account is an entity in the Weavr system that represents an external bank account or PSP account which the Identity has verified that they own and control. This feature enables users to perform transactions, such as outgoing and incoming wire transfers, between their Linked Accounts and their Managed Accounts in a way that can be recorded as a self-to-self transfer.

        '
      summary: Add a linked account
      operationId: linkedAccountCreate
      x-permissions:
      - i:linked_accounts:create
      parameters:
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/LinkedAccountCreationRequest'
      responses:
        '200':
          $ref: '#/components/responses/LinkedAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '409':
          $ref: '#/components/responses/LinkedAccountRegisterConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    get:
      tags:
      - Linked Accounts
      description: Retrieves all the Linked Accounts belonging to the logged-in Identity.
      summary: Get all linked accounts
      operationId: linkedAccountsGet
      x-permissions:
      - i:linked_accounts:list
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/profileId'
      - $ref: '#/components/parameters/friendlyName'
      - $ref: '#/components/parameters/state'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/createdFrom'
      - $ref: '#/components/parameters/createdTo'
      - $ref: '#/components/parameters/tag'
      responses:
        '200':
          $ref: '#/components/responses/LinkedAccountsGetResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /linked_accounts/{id}:
    get:
      tags:
      - Linked Accounts
      description: Fetch the Linked Account identified by the `id` in path.
      summary: Get a linked account
      operationId: linkedAccountGet
      x-permissions:
      - i:linked_accounts:get
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the Linked Account.
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '200':
          $ref: '#/components/responses/LinkedAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    patch:
      tags:
      - Linked Accounts
      description: Update the details for the linked account identified by the `id` in the path.
      summary: Update a linked account
      operationId: linkedAccountUpdate
      x-permissions:
      - i:linked_accounts:update
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the linked account.
        schema:
          type: string
          pattern: ^[0-9]+$
      requestBody:
        $ref: '#/components/requestBodies/LinkedAccountMetadataUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/LinkedAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /linked_accounts/{id}/remove:
    post:
      tags:
      - Linked Accounts
      description: 'Removes the linked account identified by the `id` path parameter. Unlike block, this action is not reversible.

        '
      summary: Remove a linked account
      operationId: linkedAccountRemove
      x-permissions:
      - i:linked_accounts:remove
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the linked account.
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/LinkedAccountRemoveConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /linked_accounts/{id}/block:
    post:
      tags:
      - Linked Accounts
      description: Temporarily blocks a linked account.
      summary: Block a linked account
      operationId: linkedAccountBlock
      x-permissions:
      - i:linked_accounts:block
      parameters:
      - name: id
        in: path
        description: The unique identifier of the linked account.
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/LinkedAccountBlockConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /linked_accounts/{id}/unblock:
    post:
      tags:
      - Linked Accounts
      description: 'Unblocks the linked account identified by the `id` path parameter.

        '
      summary: Unblock a linked account
      operationId: linkedAccountUnblock
      x-permissions:
      - i:linked_accounts:unblock
      parameters:
      - name: id
        in: path
        description: The unique identifier of the linked account.
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/LinkedAccountUnblockConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /linked_accounts/{id}/verifications:
    get:
      tags:
      - Linked Accounts
      description: ''
      summary: Get linked account verifications
      operationId: linkedAccountVerificationsGet
      x-permissions:
      - i:linked_accounts:get_verifications
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the linked account.
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/verificationRunState'
      responses:
        '200':
          $ref: '#/components/responses/LinkedAccountVerificationRunsGetResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /v1/linked_accounts:
    get:
      operationId: getLinkedAccounts
      summary: Get Linked accounts
      description: 'Retrieves the linked accounts belonging to the buyer that the logged-in user belongs to.



        Required user role: `CONTROLLER`'
      tags:
      - Linked Accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - linkedAccounts
                properties:
                  linkedAccounts:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - accountIdentification
                      - currency
                      - institution
                      - consent
                      - status
                      properties:
                        id:
                          description: The unique identifier of the linked account
                          type: string
                          pattern: ^[0-9a-fA-F]{24}$
                          example: 652d25b73541d8084a88a38d
                        accountIdentification:
                          description: The bank details that uniquely identify the account on the banking systems.
                          oneOf:
                          - title: FasterPaymentsBankDetails
                            required:
                            - accountNumber
                            - sortCode
                            type: object
                            description: Bank details used in case the wire transfer is executed over Faster Payments.
                            properties:
                              accountNumber:
                                type: string
                                minLength: 8
                                maxLength: 8
                                pattern: ^[0-9]{8}$
                                description: Account number, required for wire transfer over Faster Payments.
                              sortCode:
                                type: string
                                minLength: 6
                                maxLength: 6
                                pattern: ^[0-9]{6}$
                                description: Sort code, required for wire transfer over Faster Payments.
                              secondaryReference:
                                type: string
                                description: Secondary reference data if applicable.
                          - title: SepaBankDetails
                            required:
                            - iban
                            type: object
                            description: Bank details used in case the wire transfer is executed over SEPA.
                            properties:
                              iban:
                                type: string
                                minLength: 15
                                maxLength: 34
                                pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
                                description: International Bank Account Number, required for wire transfer over SEPA.
                              bankIdentifierCode:
                                type: string
                                minLength: 8
                                maxLength: 11
                                pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
                                description: BIC, for wire transfer over SEPA.
                        currency:
                          type: string
                          description: The primary currency associated with the account
                          maxLength: 3
                          minLength: 3
                          enum:
                          - GBP
                          - EUR
                        institution:
                          type: object
                          required:
                          - countries
                          properties:
                            displayName:
                              description: The name to be used when displaying the institution to users on user interfaces
                              type: string
                            countries:
                              type: array
                              description: The institution's supported countries
                              items:
                                type: string
                                maxLength: 2
                                minLength: 2
                                pattern: ^[A-Z]+$
                                enum:
                                - GB
                                - AT
                                - BE
                                - BG
                                - HR
                                - CY
                                - CZ
                                - DK
                                - EE
                                - FI
                                - FR
                                - DE
                                - GI
                                - GR
                                - HU
                                - IS
                                - IE
                                - IT
                                - LV
                                - LI
                                - LT
                                - LU
                                - MT
                                - NL
                                - 'NO'
                                - PL
                                - PT
                                - RO
                                - SK
                                - SI
                                - ES
                                - SE
                            images:
                              type: object
                              description: The images that should be used when displaying the institution
                              properties:
                                icon:
                                  type: string
                                logo:
                                  type: string
                            info:
                              type: object
                              properties:
                                loginUrl:
                                  type: string
                                helplinePhoneNumber:
                                  type: string
                        consent:
                          type: object
                          required:
                          - expiresAt
                          - expiresIn
                          - status
                          properties:
                            expiresAt:
                              type: string
                              format: date-time
                            expiresIn:
                              type: integer
                            status:
                              type: string
                              enum:
                              - ACTIVE
                              - EXPIRED
                              - REVOKED
                        status:
                          type: string
                          description: 'The status of the linked account. The status can be one of the following:


                            - `PENDING_CHALLENGE`: The Linked Account is pending challenge

                            - `PENDING_VERIFICATION`: The Linked Account is pending the completion of the required verification steps

                            - `PENDING_FUNDING`: Awaiting a wire transfer as part of the verification process when adding an account without Open Banking

                            - `REJECTED`: The Linked Account did not pass one or more verification steps and is not eligible for use

                            - `LINKED`: The linked account is linked and ready for use

                            - `UNLINKED`: The linked account is not linked and cannot be used

                            '
                          enum:
                          - LINKED
                          - UNLINKED
                          - PENDING_CHALLENGE
                          - PENDING_FUNDING
                          - PENDING_VERIFICATION
                          - REJECTED
                        friendlyName:
                          type: string
                          maxLength: 80
                          description: A user-friendly name for the linked account
                  count:
                    type: integer
                    description: The total number of records (excluding the paging limit).
                    format: int32
                  responseCount:
                    type: integer
                    description: The total number of records returned in this response (always capped at 100).
                    format: int32
        '400':
          description: Bad Request Error - Your request is invalid.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    maxLength: 255
                    type: string
                    description: When present helps to identify and fix the problem.
                  syntaxErrors:
                    type: object
                    description: Is returned as part of an HTTP error response whenever a syntax error is detected. A list of the fields together with their syntax error will be provided.
                    properties:
                      invalidFields:
                        type: array
                        items:
                          type: object
                          properties:
                            params:
                              type: array
                              items:
                                type: string
                            fieldName:
                              type: string
                            error:
                              type: string
                              enum:
                              - REQUIRED
                              - HAS_TEXT
                              - REQUIRES
                              - SIZE
                              - RANGE
                              - IN
                              - NOT_IN
                              - REGEX
                              - EXACTLY
                              - AT_LEAST
                              - AT_MOST
                              - ALL_OR_NONE
        '401':
          description: Unauthorized - Your credentials or access token are invalid.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '403':
          description: Forbidden - Access to the requested resource or action is forbidden.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    enum:
                    - INSUFFICIENT_PERMISSIONS
        '429':
          description: Too many requests.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
            x-ratelimit-limit:
              description: 'Example: `20, 10;w=60, 20;w=3600, 200;w=86400`

                The first number (20) is the limit that has been exceeded.

                The remaining numbers are the limits that are in force, with ''w'' meaning ''window in seconds''. In this example `20;w=3600` was exceeded. 20 calls in 3600secs (1hr)

                '
              required: true
              schema:
                type: string
            x-ratelimit-reset:
              description: The number of seconds until the window is reset.
              required: true
              schema:
                minimum: 0
                type: integer
                format: int32
        '500':
          description: Internal Server Error - There is a problem with the server. Please try again later.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '503':
          description: Service Unavailable - We're temporarily offline for maintenance. Please try again later.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
      security:
      - apiKey: []
        authToken: []
    servers:
    - url: https://sandbox.weavr.io/payment-run
      description: Sandbox
  /v1/linked_accounts/{linked_account_id}:
    get:
      operationId: getLinkedAccountsId
      summary: Get Linked account
      description: 'Retrieves a linked account of the buyer that the logged-in user belongs to.



        Required user role: `CONTROLLER`'
      tags:
      - Linked Accounts
      parameters:
      - name: linked_account_id
        in: path
        required: true
        description: The unique identifier of the linked account.
        schema:
          type: string
          readOnly: true
          pattern: ^[0-9a-fA-F]{24}$
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - accountIdentification
                - currency
                - institution
                - consent
                - status
                properties:
                  id:
                    description: The unique identifier of the linked account
                    type: string
                    pattern: ^[0-9a-fA-F]{24}$
                    example: 652d25b73541d8084a88a38d
                  accountIdentification:
                    description: The bank details that uniquely identify the account on the banking systems.
                    oneOf:
                    - title: FasterPaymentsBankDetails
                      required:
                      - accountNumber
                      - sortCode
                      type: object
                      description: Bank details used in case the wire transfer is executed over Faster Payments.
                      properties:
                        accountNumber:
                          type: string
                          minLength: 8
                          maxLength: 8
                          pattern: ^[0-9]{8}$
                          description: Account number, required for wire transfer over Faster Payments.
                        sortCode:
                          type: string
                          minLength: 6
                          maxLength: 6
                          pattern: ^[0-9]{6}$
                          description: Sort code, required for wire transfer over Faster Payments.
                        secondaryReference:
                          type: string
                          description: Secondary reference data if applicable.
                    - title: SepaBankDetails
                      required:
                      - iban
                      type: object
                      description: Bank details used in case the wire transfer is executed over SEPA.
                      properties:
                        iban:
                          type: string
                          minLength: 15
                          maxLength: 34
                          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
                          description: International Bank Account Number, required for wire transfer over SEPA.
                        bankIdentifierCode:
                          type: string
                          minLength: 8
                          maxLength: 11
                          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
                          description: BIC, for wire transfer over SEPA.
                  currency:
                    type: string
                    description: The primary currency associated with the account
                    maxLength: 3
                    minLength: 3
                    enum:
                    - GBP
                    - EUR
                  institution:
                    type: object
                    required:
                    - countries
                    properties:
                      displayName:
                        description: The name to be used when displaying the institution to users on user interfaces
                        type: string
                      countries:
                        type: array
                        description: The institution's supported countries
                        items:
                          type: string
                          maxLength: 2
                          minLength: 2
                          pattern: ^[A-Z]+$
                          enum:
                          - GB
                          - AT
                          - BE
                          - BG
                          - HR
                          - CY
                          - CZ
                          - DK
                          - EE
                          - FI
                          - FR
                          - DE
                          - GI
                          - GR
                          - HU
                          - IS
                          - IE
                          - IT
                          - LV
                          - LI
                          - LT
                          - LU
                          - MT
                          - NL
                          - 'NO'
                          - PL
                          - PT
                          - RO
                          - SK
                          - SI
                          - ES
                          - SE
                      images:
                        type: object
                        description: The images that should be used when displaying the institution
                        properties:
                          icon:
                            type: string
                          logo:
                            type: string
                      info:
                        type: object
                        properties:
                          loginUrl:
                            type: string
                          helplinePhoneNumber:
                            type: string
                  consent:
                    type: object
                    required:
                    - expiresAt
                    - expiresIn
                    - status
                    properties:
                      expiresAt:
                        type: string
                        format: date-time
                      expiresIn:
                        type: integer
                      status:
                        type: string
                        enum:
                        - ACTIVE
                        - EXPIRED
                        - REVOKED
                  status:
                    type: string
                    description: 'The status of the linked account. The status can be one of the following:


                      - `PENDING_CHALLENGE`: The Linked Account is pending challenge

                      - `PENDING_VERIFICATION`: The Linked Account is pending the completion of the required verification steps

                      - `PENDING_FUNDING`: Awaiting a wire transfer as part of the verification process when adding an account without Open Banking

                      - `REJECTED`: The Linked Account did not pass one or more verification steps and is not eligible for use

                      - `LINKED`: The linked account is linked and ready for use

                      - `UNLINKED`: The linked account is not linked and cannot be used

                      '
                    enum:
                    - LINKED
                    - UNLINKED
                    - PENDING_CHALLENGE
                    - PENDING_FUNDING
                    - PENDING_VERIFICATION
                    - REJECTED
                  friendlyName:
                    type: string
                    maxLength: 80
                    description: A user-friendly name for the linked account
        '400':
          description: Bad Request Error - Your request is invalid.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    maxLength: 255
                    type: string
                    description: When present helps to identify and fix the problem.
                  syntaxErrors:
                    type: object
                    description: Is returned as part of an HTTP error response whenever a syntax error is detected. A list of the fields together with their syntax error will be provided.
                    properties:
                      invalidFields:
                        type: array
                        items:
                          type: object
                          properties:
                            params:
                              type: array
                              items:
                                type: string
                            fieldName:
                              type: string
                            error:
                              type: string
                              enum:
                              - REQUIRED
                              - HAS_TEXT
                              - REQUIRES
                              - SIZE
                              - RANGE
                              - IN
                              - NOT_IN
                              - REGEX
                              - EXACTLY
                              - AT_LEAST
                              - AT_MOST
                              - ALL_OR_NONE
        '401':
          description: Unauthorized - Your credentials or access token are invalid.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '403':
          description: Forbidden - Access to the requested resource or action is forbidden.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    enum:
                    - INSUFFICIENT_PERMISSIONS
        '404':
          description: Not found - The requested resource couldn't be found.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
        '429':
          description: Too many requests.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
            x-ratelimit-limit:
              description: 'Example: `20, 10;w=60, 20;w=3600, 200;w=86400`

                The first number (20) is the limit that has been exceeded.

                The remaining numbers are the limits that are in force, with ''w'' meaning ''window in seconds''. In this example `20;w=3600` was exceeded. 20 calls in 3600secs (1hr)

                '
              required: true
              schema:
                type: string
            x-ratelimit-reset:
              description: The number of seconds until the window is reset.
              required: true
              schema:
                minimum: 0
                type: integer
                format: int32
        '500':
          description: Internal Server Error - There is a problem with the server. Please try again later.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '503':
          description: Service Unavailable - We're temporarily offline for maintenance. Please try again later.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
      security:
      - apiKey: []
        authToken: []
    patch:
      operationId: patchLinkedAccountsId
      summary: Update a linked account
      description: 'Updates properties of a linked account such as friendly name.


        Required user role: `CONTROLLER`'
      tags:
      - Linked Accounts
      parameters:
      - name: linked_account_id
        in: path
        required: true
        description: The unique identifier of the linked account.
        schema:
          type: string
          readOnly: true
          pattern: ^[0-9a-fA-F]{24}$
      - in: header
        name: idempotency-ref
        description: A unique call reference generated by the caller that, taking into consideration the payload as well as the operation itself, helps avoid duplicate operations. Idempotency reference uniqueness is maintained for at least 24 hours.
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                friendlyName:
                  type: string
                  maxLength: 80
                  description: A user-friendly name for the linked account. Allows special characters. Max 80 characters.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - accountIdentification
                - currency
                - institution
                - consent
                - status
                properties:
                  id:
                    description: The unique identifier of the linked account
                    type: string
                    pattern: ^[0-9a-fA-F]{24}$
                    example: 652d25b73541d8084a88a38d
                  accountIdentification:
                    description: The bank details that uniquely identify the account on the banking systems.
                    oneOf:
                    - title: FasterPaymentsBankDetails
                      required:
                      - accountNumber
                      - sortCode
                      type: object
                      description: Bank details used in case the wire transfer is executed over Faster Payments.
                      properties:
                        accountNumber:
                          type: string
                          minLength: 8
                          maxLength: 8
                          pattern: ^[0-9]{8}$
                          description: Account number, required for wire transfer over Faster Payments.
                        sortCode:
                          type: string
                          minLength: 6
                          maxLength: 6
                          pattern: ^[0-9]{6}$
                          description: Sort code, required for wire transfer over Faster Payments.
                        secondaryReference:
                          type: string
                          description: Secondary reference data if applicable.
                    - title: SepaBankDetails
                      required:
                      - iban
                      type: object
                      description: Bank details used in case the wire transfer is executed over SEPA.
                      properties:
                        iban:
                          type: string
                          minLength: 15
                          maxLength: 34
                          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
                          description: International Bank Account Number, required for wire transfer over SEPA.
                        bankIdentifierCode:
                          type: string
                          minLength: 8
                          maxLength: 11
                          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
                          description: BIC, for wire transfer over SEPA.
                  currency:
                    type: string
                    description: The primary currency associated with the account
                    maxLength: 3
                    minLength: 3
                    enum:
                    - GBP
                    - EUR
                  institution:
                    type: object
                    required:
                    - countries
                    properties:
                      displayName:
                        description: The name to be used when displaying the institution to users on user interfaces
                        type: string
                      countries:
                        type: array
                        description: The institution's supported countries
                        items:
                          type: string
                          maxLength: 2
                          minLength: 2
                          pattern: ^[A-Z]+$
                          enum:
                          - GB
                          - AT
                          - BE
                          - BG
                          - HR
                          - CY
                          - CZ
                          - DK
                          - EE
                          - FI
                          - FR
                          - DE
                          - GI
                          - GR
                          - HU
                          - IS
                          - IE
                          - IT
                          - LV
                          - LI
                          - LT
                          - LU
                          - MT
                          - NL
                          - 'NO'
                          - PL
                          - PT
                          - RO
                          - SK
                          - SI
                          - ES
                          - SE
                      images:
                        type: object
                        description: The images that should be used when displaying the institution
                        properties:
                          icon:
                            type: string
                          logo:
                            type: string
                      info:
                        type: object
                        properties:
                          loginUrl:
                            type: string
                          helplinePhoneNumber:
                            type: string
                  consent:
                    type: object
                    required:
                    - expiresAt
                    - expiresIn
                    - status
                    properties:
                      expiresAt:
                        type: string
                        format: date-time
                      expiresIn:
                        type: integer
                      status:
                        type: string
                        enum:
                        - ACTIVE
                        - EXPIRED
                        - REVOKED
                  status:
                    type: string
                    description: 'The status of the linked account. The status can be one of the following:


                      - `PENDING_CHALLENGE`: The Linked Account is pending challenge

                      - `PENDING_VERIFICATION`: The Linked Account is pending the completion of the required verification steps

                      - `PENDING_FUNDING`: Awaiting a wire transfer as part of the verification process when adding an account without Open Banking

                      - `REJECTED`: The Linked Account did not pass one or more verification steps and is not eligible for use

                      - `LINKED`: The linked account is linked and ready for use

                      - `UNLINKED`: The linked account is not linked and cannot be used

                      '
                    enum:
                    - LINKED
                    - UNLINKED
                    - PENDING_CHALLENGE
                    - PENDING_FUNDING
                    - PENDING_VERIFICATION
                    - REJECTED
                  friendlyName:
                    type: string
                    maxLength: 80
                    description: A user-friendly name for the linked account
        '400':
          description: Bad Request Error - Your request is invalid.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    maxLength: 255
                    type: string
                    description: When present helps to identify and fix the problem.
                  syntaxErrors:
                    type: object
                    description: Is returned as part of an HTTP error response whenever a syntax error is detected. A list of the fields together with their syntax error will be provided.
                    properties:
                      invalidFields:
                        type: array
                        items:
                          type: object
                          properties:
                            params:
                              type: array
                              items:
                                type: string
                            fieldName:
                              type: string
                            error:
                              type: string
                              enum:
                              - REQUIRED
                              - HAS_TEXT
                              - REQUIRES
                              - SIZE
                              - RANGE
                              - IN
                              - NOT_IN
                              - REGEX
                              - EXACTLY
                              - AT_LEAST
                              - AT_MOST
                              - ALL_OR_NONE
        '401':
          description: Unauthorized - Your credentials or access token are invalid.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '403':
          description: Forbidden - Access to the requested resource or action is forbidden.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    enum:
                    - INSUFFICIENT_PERMISSIONS
        '404':
          description: Not found - The requested resource couldn't be found.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    enum:
                    - IDEMPOTENT_REQUEST_IN_PROGRESS
                    - LINKED_ACCOUNT_INVALID_STATE
        '413':
          description: Content Too Large
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '422':
          description: Unprocessable Entity
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '429':
          description: Too many requests.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
            x-ratelimit-limit:
              description: 'Example: `20, 10;w=60, 20;w=3600, 200;w=86400`

                The first number (20) is the limit that has been exceeded.

                The remaining numbers are the limits that are in force, with ''w'' meaning ''window in seconds''. In this example `20;w=3600` was exceeded. 20 calls in 3600secs (1hr)

                '
              required: true
              schema:
                type: string
            x-ratelimit-reset:
              description: The number of seconds until the window is reset.
              required: true
              schema:
                minimum: 0
                type: integer
                format: int32
        '500':
          description: Internal Server Error - There is a problem with the server. Please try again later.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '503':
          description: Service Unavailable - We're temporarily offline for maintenance. Please try again later.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
      security:
      - apiKey: []
        authToken: []
    servers:
    - url: https://sandbox.weavr.io/payment-run
      description: Sandbox
  /v1/linked_accounts/{linked_account_id}/unlink:
    post:
      operationId: unlinkLinkedAccountsId
      summary: Unlink a linked account
      description: 'Unlinks a linked account identified by the `linked_account_id`.


        This action is not reversible and if the buyer wants to use this linked account again to fund payment runs, they will have to re-link the account. More information on how to link an account can be found [here](https://docs.weavr.io/payment-run/instruments/link-account/).


        Details of an unlinked account, can still be retrieved via the [Get linked accounts](#operation/getLinkedAccounts) and [Get linked account](#operation/getLinkedAccountsId) endpoints.



        Required user role: `CONTROLLER`'
      tags:
      - Linked Accounts
      parameters:
      - name: linked_account_id
        in: path
        required: true
        description: The unique identifier of the linked account.
        schema:
          type: string
          readOnly: true
          pattern: ^[0-9a-fA-F]{24}$
      - in: header
        name: idempotency-ref
        description: A unique call reference generated by the caller that, taking into consideration the payload as well as the operation itself, helps avoid duplicate operations. Idempotency reference uniqueness is maintained for at least 24 hours.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - accountIdentification
                - currency
                - institution
                - consent
                - status
                properties:
                  id:
                    description: The unique identifier of the linked account
                    type: string
                    pattern: ^[0-9a-fA-F]{24}$
                    example: 652d25b73541d8084a88a38d
                  accountIdentification:
                    description: The bank details that uniquely identify the account on the banking systems.
                    oneOf:
                    - title: FasterPaymentsBankDetails
                      required:
                      - accountNumber
                      - sortCode
                      type: object
                      description: Bank details used in case the wire transfer is executed over Faster Payments.
                      properties:
                        accountNumber:
                          type: string
                          minLength: 8
                          maxLength: 8
                          pattern: ^[0-9]{8}$
                          description: Account number, required for wire transfer over Faster Payments.
                        sortCode:
                          type: string
                          minLength: 6
                          maxLength: 6
                          pattern: ^[0-9]{6}$
                          description: Sort code, required for wire transfer over Faster Payments.
                        secondaryReference:
                          type: string
                          description: Secondary reference data if applicable.
                    - title: SepaBankDetails
                      required:
                      - iban
                      type: object
                      description: Bank details used in case the wire transfer is executed over SEPA.
                      properties:
                        iban:
                          type: string
                          minLength: 15
                          maxLength: 34
                          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
                          description: International Bank Account Number, required for wire transfer over SEPA.
                        bankIdentifierCode:
                          type: string
                          minLength: 8
                          maxLength: 11
                          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
                          description: BIC, for wire transfer over SEPA.
                  currency:
                    type: string
                    description: The primary currency associated with the account
                    maxLength: 3
                    minLength: 3
                    enum:
                    - GBP
                    - EUR
                  institution:
                    type: object
                    required:
                    - countries
                    properties:
                      displayName:
                        description: The name to be used when displaying the institution to users on user interfaces
                        type: string
                      countries:
                        type: array
                        description: The institution's supported countries
                        items:
                          type: string
                          maxLength: 2
                          minLength: 2
                          pattern: ^[A-Z]+$
                          enum:
                          - GB
                          - AT
                          - BE
                          - BG
                          - HR
                          - CY
                          - CZ
                          - DK
                          - EE
                          - FI
                          - FR
                          - DE
                          - GI
                          - GR
                          - HU
                          - IS
                          - IE
                          - IT
                          - LV
                          - LI
                          - LT
                          - LU
                          - MT
                          - NL
                          - 'NO'
                          - PL
                          - PT
                          - RO
                          - SK
                          - SI
                          - ES
                          - SE
                      images:
                        type: object
                        description: The images that should be used when displaying the institution
                        properties:
                          icon:
                            type: string
                          logo:
                            type: string
                      info:
                        type: object
                        properties:
                          loginUrl:
                            type: string
                          helplinePhoneNumber:
                            type: string
                  consent:
                    type: object
                    required:
                    - expiresAt
                    - expiresIn
                    - status
                    properties:
                      expiresAt:
                        type: string
                        format: date-time
                      expiresIn:
                        type: integer
                      status:
                        type: string
                        enum:
                        - ACTIVE
                        - EXPIRED
                        - REVOKED
                  status:
                    type: string
                    description: 'The status of the linked account. The status can be one of the following:


                      - `PENDING_CHALLENGE`: The Linked Account is pending challenge

                      - `PENDING_VERIFICATION`: The Linked Account is pending the completion of the required verification steps

                      - `PENDING_FUNDING`: Awaiting a wire transfer as part of the verification process when adding an account without Open Banking

                      - `REJECTED`: The Linked Account did not pass one or more verification steps and is not eligible for use

                      - `LINKED`: The linked account is linked and ready for use

                      - `UNLINKED`: The linked account is not linked and cannot be used

                      '
                    enum:
                    - LINKED
                    - UNLINKED
                    - PENDING_CHALLENGE
                    - PENDING_FUNDING
                    - PENDING_VERIFICATION
                    - REJECTED
                  friendlyName:
                    type: string
                    maxLength: 80
                    description: A user-friendly name for the linked account
        '400':
          description: Bad Request Error - Your request is invalid.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    maxLength: 255
                    type: string
                    description: When present helps to identify and fix the problem.
                  syntaxErrors:
                    type: object
                    description: Is returned as part of an HTTP error response whenever a syntax error is detected. A list of the fields together with their syntax error will be provided.
                    properties:
                      invalidFields:
                        type: array
                        items:
                          type: object
                          properties:
                            params:
                              type: array
                              items:
                                type: string
                            fieldName:
                              type: string
                            error:
                              type: string
                              enum:
                              - REQUIRED
                              - HAS_TEXT
                              - REQUIRES
                              - SIZE
                              - RANGE
                              - IN
                              - NOT_IN
                              - REGEX
                              - EXACTLY
                              - AT_LEAST
                              - AT_MOST
                              - ALL_OR_NONE
        '401':
          description: Unauthorized - Your credentials or access token are invalid.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '403':
          description: Forbidden - Access to the requested resource or action is forbidden.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    enum:
                    - INSUFFICIENT_PERMISSIONS
        '404':
          description: Not found - The requested resource couldn't be found.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    enum:
                    - IDEMPOTENT_REQUEST_IN_PROGRESS
                    - LINKED_ACCOUNT_INVALID_STATE
        '413':
          description: Content Too Large
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '422':
          description: Unprocessable Entity
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '429':
          description: Too many requests.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
            x-ratelimit-limit:
              description: 'Example: `20, 10;w=60, 20;w=3600, 200;w=86400`

                The first number (20) is the limit that has been exceeded.

                The remaining numbers are the limits that are in force, with ''w'' meaning ''window in seconds''. In this example `20;w=3600` was exceeded. 20 calls in 3600secs (1hr)

                '
              required: true
              schema:
                type: string
            x-ratelimit-reset:
              description: The number of seconds until the window is reset.
              required: true
              schema:
                minimum: 0
                type: integer
                format: int32
        '500':
          description: Internal Server Error - There is a problem with the server. Please try again later.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '503':
          description: Service Unavailable - We're temporarily offline for maintenance. Please try again later.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
      security:
      - apiKey: []
        authToken: []
    servers:
    - url: https://sandbox.weavr.io/payment-run
      description: Sandbox
  /linked_accounts/{account_id}/set:
    post:
      tags:
      - Linked Accounts
      description: 'Allows the verification or rejection of a linked account run

        by specifying the account ID. This operation updates the status

        of a linked account to either VERIFIED or REJECTED.

        '
      operationId: linked_accounts_account_id_set
      parameters:
      - name: account_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/call-ref'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedAccountRunRequest'
        required: true
      responses:
        '204':
          description: Success - No Content
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInvalidRequest'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
      security:
      - API_Secret_Key: []
    servers:
    - url: https://sandbox.weavr.io/simulate/api"
  /linked_accounts/{account_id}/verify:
    post:
      tags:
      - Linked Accounts
      description: This tool is used to simulate internal verification for linked accounts by Account ID.
      operationId: linked_accounts_account_id_verify
      parameters:
      - name: account_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/call-ref'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequestByAccountId'
        required: true
      responses:
        '204':
          description: Success - No Content
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInvalidRequest'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyStepsRequestConflict'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
      security:
      - API_Secret_Key: []
    servers:
    - url: https://sandbox.weavr.io/simulate/api"
webhooks:
  /linked_accounts/watch:
    post:
      tags:
      - Linked Accounts
      summary: Linked Account Update
      description: Notification that an event related to a Linked Account has occurred.
      operationId: linked_accounts_watch
      parameters:
      - $ref: '#/components/parameters/call-ref_2'
      - $ref: '#/components/parameters/published-timestamp'
      - $ref: '#/components/parameters/signature'
      - $ref: '#/components/parameters/signature-v2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedAccountEvent'
        required: true
      responses:
        '204':
          description: Success - No Content
    servers:
    - url: '""'
components:
  responses:
    InternalServerError:
      description: Internal Server Error - There is a problem with the server. Please try again later.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
    TooManyRequests:
      description: Too many requests.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
        x-ratelimit-limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        x-ratelimit-reset:
          $ref: '#/components/headers/x-ratelimit-reset'
    Unauthorized:
      description: Unauthorized - Your credentials or access token are invalid.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
    Forbidden:
      description: Forbidden - Access to the requested resource or action is forbidden.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                - INSUFFICIENT_PERMISSIONS
    LinkedAccountRemoveConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                - LINKED_ACCOUNT_ALREADY_REMOVED
                - LINKED_ACCOUNT_HAS_PENDING_ACTIONS
                - LINKED_ACCOUNT_REJECTED
    LinkedAccountResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LinkedAccount'
    NoContent:
      description: Success - No Content.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
    LinkedAccountRegisterConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                - PROFILE_NOT_FOUND
                - PROFILE_INACTIVE
                - MODEL_CONSTRAINTS_VIOLATED
                - CURRENCY_NOT_SUPPORTED_BY_PROFILE
                - COUNTRY_NOT_SUPPORTED_BY_PROFILE
                - ACCOUNT_NUMBER_MISSING
                - SORT_CODE_MISSING
                - ACCOUNT_NUMBER_AND_IBAN_PROVIDED
                - SORT_CODE_AND_IBAN_PROVIDED
                - NO_ACCOUNT_DETAILS_PROVIDED
                - INVALID_IDENTITY_TYPE
                - IBAN_MISSING
                - LINKED_ACCOUNT_ALREADY_ADDED
                - MANAGED_ACCOUNT_MISSING
                - THIS_IS_A_MANAGED_ACCOUNT
                - ACCOUNT_DESCRIPTOR_MISSING
    NotFound:
      description: Not found - The requested resource couldn't be found.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InstrumentForbidden:
      description: Forbidden - Access to the requested resource or action is forbidden.
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                - STEP_UP_REQUIRED
                - ACCESS_TOKEN_REQUIRED
                - INSUFFICIENT_PERMISSIONS
    LinkedAccountUnblockConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                - LINKED_ACCOUNT_INACTIVE
                - LINKED_ACCOUNT_NOT_BLOCKED
                - LINKED_ACCOUNT_REMOVED
    LinkedAccountVerificationRunsGetResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              verificationRuns:
                type: array
                items:
                  $ref: '#/components/schemas/LinkedAccountVerificationRun'
              count:
                type: integer
                description: The total number of records (excluding the paging limit).
                format: int32
              responseCount:
                type: integer
                description: The total number of records returned in this response (always capped at 100).
                format: int32
    BadRequestError:
      description: Bad Request Error - Your request is invalid.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                maxLength: 255
                type: string
                description: When present helps to identify and fix the problem.
              syntaxErrors:
                $ref: '#/components/schemas/SyntaxError'
    Error:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    LinkedAccountsGetResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              accounts:
                description: The filtered managed accounts list.
                type: array
                items:
                  $ref: '#/components/schemas/LinkedAccount'
              count:
                type: integer
                description: The total number of records (excluding the paging limit).
                format: int32
              responseCount:
                type: integer
                description: The total number of records returned in this response (always capped at 100).
                format: int32
    ServiceUnavailable:
      description: Service Unavailable - The requested service is temporarily unavailable. Please try again later.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
    LinkedAccountBlockConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                - LINKED_ACCOUNT_INACTIVE
                - LINKED_ACCOUNT_ALREADY_BLOCKED
                - LINKED_ACCOUNT_REMOVED
  schemas:
    LinkedAccountVerificationStep:
      type: string
      enum:
      - TRANSFER_INSTRUCTION
      - USER_DECLARATION_SCA_CHALLENGE
      - INTERNAL_CHECKS
      - MICRO_DEPOSIT
    StringWrappedTypeId:
      required:
      - type
      - id
      type: object
      properties:
        type:
          maxLength: 50
          pattern: ^[a-zA-Z0-9_-]+$
          type: string
        id:
          type: string
          pattern: ^[0-9]+$
    CreateLinkedAccountRequest:
      required:
      - name
      - accountReference
      - country
      - type
      type: object
      properties:
        profileId:
          $ref: '#/components/schemas/LinkedAccountProfileId'
        tag:
          $ref: '#/components/schemas/Tag'
        name:
          description: 'The full name or corporate name of the account holder as registered with the external bank or payment service provider. This is the name under which the account is officially held.

            '
          type: string
          minLength: 1
          maxLength: 100
        type:
          $ref: '#/components/schemas/AccountType'
        accountReference:
          description: The IBAN, or Account Number and Sort Code, or Account Descriptor of the account held at the external bank or payment service provider.
          oneOf:
          - $ref: '#/components/schemas/Iban'
          - $ref: '#/components/schemas/AccountNumberAndSortCode'
          - $ref: '#/components/schemas/AccountDescriptor'
        country:
          description: The country of the bank or institution at which the account is held.
          type: string
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]+$
        friendlyName:
          description: A user-friendly label assigned to the Linked Account to help end-users easily identify it within the application. This name can be updated at any time using the `PATCH` endpoint.
          type: string
          maxLength: 50
        currency:
          oneOf:
          - $ref: '#/components/schemas/Currency'
    LinkedAccountProfileId:
      type: string
      description: 'The id of the Linked Account Profile which this instrument is linked to.


        You can have one or more profiles linked to your application, and these can be used to drive different behaviours according to your product''s needs.


        This field is necessary only if you have been provided with multiple Linked Account Profiles.


        Profile Ids can be found in the Multi Portal, in the API Credentials page.

        '
      pattern: ^[0-9]+$
    CurrencyAmount:
      required:
      - currency
      - amount
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/Currency'
        amount:
          type: integer
          format: int64
          description: 'The monetary amount, scaled to the lowest denomination of the currency.


            Example, an amount of 1000 for a EUR currency is actually 1000 Euro cents or EUR 10.00.

            '
      description: The object representing a monetary amount in a particular currency.
    SyntaxError:
      type: object
      description: Is returned as part of an HTTP error response whenever a syntax error is detected. A list of the fields together with their syntax error will be provided.
      properties:
        invalidFields:
          type: array
          items:
            type: object
            properties:
              params:
                type: array
                items:
                  type: string
              fieldName:
                type: string
              error:
                type: string
                enum:
                - REQUIRED
                - HAS_TEXT
                - REQUIRES
                - SIZE
                - RANGE
                - IN
                - NOT_IN
                - REGEX
                - EXACTLY
                - AT_LEAST
                - AT_MOST
                - ALL_OR_NONE
    Iban:
      required:
      - iban
      type: object
      description: Bank details
      properties:
        iban:
          type: string
          minLength: 15
          maxLength: 34
          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
          description: International Bank Account Number, required for wire transfer.
        bankIdentifierCode:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
          description: BIC, for wire transfer over SEPA or RIX.
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    LinkedAccountVerificationStepStatus:
      type: string
      enum:
      - PENDING_USER
      - PENDING_REVIEW
      - PENDING_EXECUTION
      - REJECTED
      - COMPLETED
    LinkedAccount:
      required:
      - id
      - profileId
      - name
      - country
      - state
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the linked account.
          pattern: ^[0-9]+$
        profileId:
          $ref: '#/components/schemas/ProfileId'
        tag:
          $ref: '#/components/schemas/Tag'
        friendlyName:
          minLength: 1
          maxLength: 50
          type: string
          description: A user-friendly label assigned to the Linked Account to help end-users easily identify it within the application. This name can be updated at any time using the `PATCH` endpoint
        name:
          minLength: 1
          maxLength: 100
          type: string
          description: 'The full name or corporate name of the account holder as registered with the external bank or payment service provider. This is the name under which the account is officially held.

            '
        type:
          $ref: '#/components/schemas/AccountType'
        currency:
          $ref: '#/components/schemas/Currency'
        country:
          description: The country of the bank or institution at which the account is held.
          type: string
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]+$
        accountReference:
          description: The IBAN or Account Number and Sort Code of the account held at the external bank or payment service provider.
          oneOf:
          - $ref: '#/components/schemas/AccountNumberAndSortCode'
          - $ref: '#/components/schemas/Iban'
          - $ref: '#/components/schemas/AccountDescriptor'
        state:
          $ref: '#/components/schemas/LinkedAccountState'
        creationTimestamp:
          description: The timestamp when the linked account was created, expressed in Epoch timestamp using millisecond precision.
          type: integer
          format: int64
        owner:
          $ref: '#/components/schemas/StringWrappedTypeId'
    AccountDescriptor:
      required:
      - accountDescriptor
      type: object
      description: Identifier or account number which does not follow either the IBAN or Faster Payment (sort code and account number) format, such as a US bank account identifier.
      properties:
        accountDescriptor:
          type: string
    Tag:
      type: string
      description: The tag field is a custom field that can be used to search and filter.
      maxLength: 50
      pattern: ^[a-zA-Z0-9_-]+$
    AccountNumberAndSortCode:
      required:
      - accountNumber
      - sortCode
      type: object
      description: Bank details
      properties:
        accountNumber:
          type: string
          pattern: ^[0-9]{8}$
          description: Account number
        sortCode:
          type: string
          pattern: ^[0-9]{6}$
          description: Sort code
        secondaryReference:
          type: string
          description: Optional secondary reference for accounts without unique sort codes.
    InstrumentState:
      type: string
      description: "The state of the instrument indicating what it can and cannot do as follows:\n  - ACTIVE: The instrument is in an active state and can be used in transactions.\n  - BLOCKED: The instrument is temporarily blocked and cannot be used. Any funds on the instrument are also frozen. The `blockedReason` provides more information as to why it was blocked.\n  - DESTROYED: The instrument has been permanently destroyed. The `destroyReason` provides more information as to why it was destroyed.\n  - NOT_ENABLED: The instrument is not enabled for use, since the linked user has not completed all necessary verification steps.\n"
      enum:
      - ACTIVE
      - BLOCKED
      - DESTROYED
      - NOT_ENABLED
    ProfileId:
      type: string
      description: 'The profile Id which a specific identity, instrument or transaction type is linked to.


        Profiles contain configuration and determine behavioral aspects of the newly created transaction, for example, fees that may apply.


        You can have one or more profiles linked to your application, and these can be used to drive different behaviors according to your product''s needs.


        Profile Ids can be found in the Multi Portal, in the API Credentials page.

        '
      pattern: ^[0-9]+$
    LinkedAccountVerificationRun:
      type: object
      required:
      - state
      properties:
        id:
          type: string
          description: The unique identifier of the linked account verification
        state:
          description: The state of the linked account verification
          $ref: '#/components/schemas/LinkedAccountVerificationRunState'
        completedTimestamp:
          type: integer
          format: int64
          description: The timestamp when the verification was completed, expressed in Epoch timestamp using millisecond precision.
        verificationSteps:
          type: array
          items:
            type: object
            properties:
              step:
                $ref: '#/components/schemas/LinkedAccountVerificationStep'
              details:
                oneOf:
                - $ref: '#/components/schemas/LinkedAccountVerificationTransferInstruction'
                - $ref: '#/components/schemas/LinkedAccountMicroDepositVerification'
              status:
                $ref: '#/components/schemas/LinkedAccountVerificationStepStatus'
              completedTimestamp:
                type: integer
                format: int64
                description: The timestamp when the card will be renewed, expressed in Epoch timestamp using millisecond precision.
        overriddenReason:
          type: string
          description: Optional field for users to provide a reason for overriding the verification steps
    Currency:
      type: string
      description: 'The currency expressed in ISO-4217 code. Example: GBP, EUR, USD.'
      maxLength: 3
      minLength: 3
      pattern: ^[A-Z]*$
    LinkedAccountState:
      type: string
      description: "The state of the linked account:\n  - **PENDING_VERIFICATION**: The Linked Account is pending the completion of the required verification steps.\n  - **ACTIVE**: The Linked Account is verified and active, ready to be used for self-to-self wire transfers.\n  - **BLOCKED**: The Linked Account is temporarily blocked, preventing any use of this external account in self-to-self wire transfers. A Linked Account can be unblocked by calling the Multi API endpoint `POST /linked_accounts/{id}/unblock`.\n  - **REMOVED**: The Linked Account has been removed from the platform and can no longer be used for self-to-self wire transfers unless a new verification is completed in future.\n  - **REJECTED**: The Linked Account failed the verification process and cannot be used for self-to-self wire transfers unless a new verification is completed in future.\nA Linked Account can transition through these different overall states, starting at the `PENDING_VERIFICATION` state until all verification steps are followed through.\n"
      enum:
      - PENDING_VERIFICATION
      - BLOCKED
      - ACTIVE
      - REJECTED
      - REMOVED
    LinkedAccountVerificationTransferInstruction:
      type: object
      required:
      - amount
      - reference
      properties:
        amount:
          $ref: '#/components/schemas/CurrencyAmount'
        reference:
          type: string
        destination:
          type: object
          properties:
            accountOwnerName:
              type: string
            accountType:
              $ref: '#/components/schemas/AccountType'
            accountReference:
              oneOf:
              - $ref: '#/components/schemas/Iban'
              - $ref: '#/components/schemas/AccountNumberAndSortCode'
              - $ref: '#/components/schemas/AccountDescriptor'
    AccountType:
      type: string
      description: "An account can be of two types, Personal or Business:\n  - PERSONAL means that the account held at the external bank or PSP is registered under the ownership of a natural person or consumer identity;\n  - BUSINESS means that the account held at the external bank or PSP is registered under the ownership of a corporate entity.\n"
      enum:
      - BUSINESS
      - PERSONAL
    LinkedAccountVerificationRunState:
      type: string
      enum:
      - PENDING
      - VERIFIED
      - REJECTED
    LinkedAccountMicroDepositVerification:
      type: object
      required:
      - amount
      properties:
        amount:
          $ref: '#/components/schemas/CurrencyAmount'
        senderName:
          type: string
    FieldValidationType:
      type: string
      enum:
      - REQUIRED
      - HAS_TEXT
      - REQUIRES
      - SIZE
      - RANGE
      - IN
      - NOT_IN
      - REGEX
      - EXACTLY
      - AT_LEAST
      - AT_MOST
      - ALL_OR_NONE
    FieldValidation:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/FieldValidationType'
        params:
          type: array
          items:
            type: string
    ClientInvalidRequest:
      type: object
      properties:
        message:
          maxLength: 255
          type: string
          description: When present helps to identify and fix the problem.
          x-fieldValidation: size(_,255)
        validation:
          allOf:
          - $ref: '#/components/schemas/MessageValidation'
          - description: Description of fields which were invalid.
    VerifyRequestByAccountIdVerificationStep:
      type: string
      enum:
      - INTERNAL_CHECKS
      - TRANSFER_INSTRUCTION
      - USER_DECLARATION_SCA_CHALLENGE
      - MICRO_DEPOSIT
    LinkedAccountRunRequestState:
      type: string
      enum:
      - VERIFIED
      - REJECTED
    VerifyRequestByAccountIdVerificationState:
      type: string
      enum:
      - COMPLETED
      - REJECTED
    VerifyStepsRequestConflictErrorCode:
      type: string
      enum:
      - ALREADY_COMPLETED
      - ALREADY_REJECTED
    FieldValidationErrors:
      type: object
      properties:
        name:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/FieldValidation'
    VerifyStepsRequestConflict:
      type: object
      properties:
        errorCode:
          $ref: '#/components/schemas/VerifyStepsRequestConflictErrorCode'
    DefaultError:
      type: object
      properties:
        message:
          maxLength: 255
          type: string
          description: When present helps to identify and fix the problem.
          x-fieldValidation: size(_,255)
      description: A default error model in case of errors other than 400, 409 or 504.
    LinkedAccountRunRequest:
      type: object
      properties:
        state:
          $ref: '#/components/schemas/LinkedAccountRunRequestState'
    VerifyRequestByAccountId:
      type: object
      properties:
        steps:
          type: array
          items:
            $ref: '#/components/schemas/VerifyRequestByAccountIdVerificationStep'
        result:
          $ref: '#/components/schemas/VerifyRequestByAccountIdVerificationState'
    MessageValidation:
      type: object
      properties:
        invalid:
          type: boolean
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldValidationErrors'
    LinkedAccountEventType:
      type: string
      enum:
      - PENDING_VERIFICATION
      - VERIFIED
      - BLOCKED
      - UNBLOCKED
      - REMOVED
      - REJECTED
    LinkedAccountEvent:
      required:
      - linkedAccount
      - publishedTimestamp
      - eventType
      type: object
      properties:
        linkedAccount:
          $ref: '#/components/schemas/LinkedAccount'
        publishedTimestamp:
          type: string
          pattern: ^[0-9]+$
          description: Epoch timestamp using millisecond precision.
        eventType:
          description: "The type of event that occurred related to the linked account. Possible values are:\n  - **PENDING_VERIFICATION**: The linked account is pending verification.\n  - **VERIFIED**: The overall verification run was successfully completed. The linked account is now verified.\n  - **BLOCKED**: The linked account has been blocked.\n  - **UNBLOCKED**: The linked account has been unblocked.\n  - **REMOVED**: The linked account has been removed.\n  - **REJECTED**: The linked account was rejected.\n"
          $ref: '#/components/schemas/LinkedAccountEventType'
  parameters:
    state:
      name: state
      in: query
      required: false
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/InstrumentState'
    tag:
      name: tag
      in: query
      required: false
      description: Filter by the managed account/card tag. The exact tag must be provided, as wildcards are not supported. Leave out to fetch all managed accounts/card.
      schema:
        type: string
    createdTo:
      name: createdTo
      in: query
      required: false
      description: Filter for managed accounts/cards created before `createdTo` timestamp. Timestamp is expressed in Epoch timestamp using millisecond precision. Leave out to fetch all managed accounts/cards.
      schema:
        type: integer
        format: int64
    createdFrom:
      name: createdFrom
      in: query
      required: false
      description: Filter for managed accounts/cards created after `createdFrom` timestamp. Timestamp is expressed in Epoch timestamp using millisecond precision. Leave out to fetch all managed accounts/cards.
      schema:
        type: integer
[...]
