openapi: 3.1.0
info:
  version: v3
  title: Weavr Multi Product BackOffice Access Token Managed Cards API
  x-logo:
    url: https://storage.googleapis.com/weavr-cdn/weavr_logo-new.png
    backgroundColor: '#FFFFFF'
    altText: Weavr
  description: 'Weavr Multi Back Office API allows you, as an innovator, to perform various back office operations concerning

    identities and their instruments, without requiring the users to be logged in.


    A token is to be obtained through the `access_token` method, and this will allow relevant operations

    to be performed on behalf of this same identity.

    '
  contact:
    name: Weavr
    url: https://weavr.io
servers:
- description: Weavr Sandbox Environment
  url: https://sandbox.weavr.io/multi/backoffice
tags:
- name: Managed Cards
  description: "Managed Cards are a type of financial instrument offered by Weavr. \nCards created in prepaid mode have their own balance, whereas those created in debit mode tap into the balance of their parent Managed Accounts. \nApart from being used at merchants for puchases, prepaid mode cards can also be used as sources and destinations in the `transfer` transaction.\n\nWith the `access_token` representing the identity and the consent of the identity, you will be able to perform operations on the identity's Managed Cards,\nsuch as getting a Managed Card's details and managing its spend rules.\n"
paths:
  /managed_cards/{id}:
    get:
      tags:
      - Managed Cards
      description: Returns all details of the managed card identified by the `id` path parameter.
      summary: Get a managed card
      operationId: managedCardGet
      parameters:
      - name: id
        in: path
        description: The unique identifier of a card.
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardGetResponse'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    patch:
      tags:
      - Managed Cards
      description: Update the details of the managed card identified by the `id` path parameter.
      summary: Update a managed card
      operationId: managedCardUpdate
      x-permissions:
      - i:managed_cards:update
      - i:managed_cards:update:all
      - i:managed_cards:update:own
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of a card.
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardUpdateConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_cards/{id}/renewal:
    patch:
      tags:
      - Managed Cards
      description: 'Update the renewal type of the managed card identified by the `id` path parameter.


        Please contact our support team or your account manager to request access to this endpoint.

        '
      summary: Update a managed card's renewal type
      operationId: managedCardRenewalTypeUpdate
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of a card.
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardRenewalTypeUpdateRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardUpdateConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
  /managed_cards/{id}/remove:
    post:
      tags:
      - Managed Cards
      description: 'Destroys the managed card identified by the `id` path parameter. Unlike block, this action is not reversible.


        A managed card must be empty before it can be destroyed using this operation.

        '
      summary: Remove a managed card
      operationId: managedCardRemove
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of a managed card.
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardRemoveConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
  /managed_cards/{id}/block:
    post:
      tags:
      - Managed Cards
      description: Blocks the managed card identified by the `id` path parameter. This is a reversible action and the card can be unblocked using the _managedCardUnblock_ operation.
      summary: Block a managed card
      operationId: managedCardBlock
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of a managed card.
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardBlockConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
  /managed_cards/{id}/unblock:
    post:
      tags:
      - Managed Cards
      description: 'Unblocks the managed card identified by the `id` path parameter.

        The managed card must have `state.blockedReason` as `USER` so that it can be unblocked.

        If the managed card was blocked by `SYSTEM`, users cannot unblock it.

        '
      summary: Unblock a managed card
      operationId: managedCardUnblock
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the managed card.
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardUnblockConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
  /managed_cards/{id}/spend_rules:
    get:
      tags:
      - Managed Cards
      summary: Get all spend rules for a managed card
      operationId: managedCardSpendRulesGet
      description: Fetch the list of spend rules associated with the managed card identified by the `id` path parameter.
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardSpendRulesGetResponse'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    post:
      tags:
      - Managed Cards
      summary: Create spend rules for a managed card
      operationId: managedCardSpendRulesCreate
      description: Create the spend rules associated with the managed card identified by the `id` path parameter.
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      requestBody:
        $ref: '#/components/requestBodies/CardLevelSpendRulesRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardSpendRulesCreateConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    patch:
      tags:
      - Managed Cards
      summary: Update spend rules for a managed card
      operationId: managedCardSpendRulesUpdate
      description: Must be user after a POST, to update individual spend rules associated with the managed card identified by the `id` path parameter.
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/UpdateCardLevelSpendRulesRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardSpendRulesUpdateConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    delete:
      tags:
      - Managed Cards
      summary: Delete all spend rules for a managed card
      operationId: managedCardSpendRulesDelete
      description: Remove all spend rules associated with the managed card identified by the `id` path parameter.
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
  /managed_cards/{id}/statement:
    get:
      tags:
      - Managed Cards
      description: Returns a list of transactions against the managed card identified by the `id` path parameter, matching the criteria provided in the request.
      summary: Get a managed card statement
      operationId: managedCardStatement
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of a managed card.
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/orderByTimestamp'
      - $ref: '#/components/parameters/fromTimestamp'
      - $ref: '#/components/parameters/toTimestamp'
      - $ref: '#/components/parameters/singleEntryPerTransaction'
      - $ref: '#/components/parameters/statementTransactionType'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardStatementResponse'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
  /managed_cards:
    post:
      tags:
      - Managed Cards
      description: 'Creates a managed card for the consumer or corporate identity.

        The Managed Card Profile (configured in the Multi Portal) specified determines the behaviour and restrictions that the managed card will have.

        '
      summary: Create a managed card
      operationId: managedCardCreate
      x-permissions:
      - i:managed_cards:create
      parameters:
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardRequest'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '409':
          $ref: '#/components/responses/ManagedCardConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    get:
      tags:
      - Managed Cards
      description: Fetch cards matching the search criteria provided.
      summary: Get all managed cards
      operationId: managedCardsGet
      x-permissions:
      - i:managed_cards:list
      - i:managed_cards:list:all
      - i:managed_cards:list:own
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/profileId'
      - $ref: '#/components/parameters/friendlyName'
      - $ref: '#/components/parameters/state'
      - $ref: '#/components/parameters/state_blockedReason'
      - $ref: '#/components/parameters/state_destroyedReason'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/card_type'
      - $ref: '#/components/parameters/card_renewal_type'
      - name: externalHandle
        in: query
        required: false
        description: Search by the card's `externalHandle`.
        schema:
          type: string
      - name: cardNumberFirstSix
        in: query
        required: false
        description: Filter by first six digits of the card.
        schema:
          pattern: ^[0-9]{6}$
          type: string
      - name: cardNumberLastFour
        in: query
        required: false
        description: Filter by last four digits of the card.
        schema:
          pattern: ^[0-9]{4}$
          type: string
      - $ref: '#/components/parameters/createdFrom'
      - $ref: '#/components/parameters/createdTo'
      - name: mode
        in: query
        required: false
        description: Filter by card mode (prepaid mode or debit mode).
        schema:
          type: string
          enum:
          - DEBIT_MODE
          - PREPAID_MODE
      - $ref: '#/components/parameters/tag'
      - name: parentManagedAccountId
        in: query
        required: false
        description: Filter by the Id of the parent managed account associated with the card. This is applicable only for debit mode cards.
        schema:
          type: string
          pattern: ^[0-9]+$
      - name: manufacturingState
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ManufacturingState'
      - $ref: '#/components/parameters/userIdQuery'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardPageResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /deprecated/managed_cards/{id}/statement:
    get:
      deprecated: true
      tags:
      - Managed Cards
      description: Deprecated in favour of [GET /managed_cards/{id}/statements](#tag/Managed-Cards/operation/managedCardStatements). Returns a list of transactions against the managed card identified by the `id` path parameter, matching the criteria provided in the request.
      summary: Get a managed card statement (deprecated)
      operationId: managedCardStatementDeprecated
      x-permissions:
      - i:managed_cards:statement
      - i:managed_cards:statement:own
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of a managed card.
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/statementLimit'
      - $ref: '#/components/parameters/orderByTimestamp'
      - $ref: '#/components/parameters/fromTimestamp'
      - $ref: '#/components/parameters/toTimestamp'
      - $ref: '#/components/parameters/singleEntryPerTransaction'
      - $ref: '#/components/parameters/statementTransactionType'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardStatementResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_cards/{id}/transactions:
    get:
      tags:
      - Managed Cards
      description: 'Returns all transactional activity on the managed card identified by the `id` path parameter.


        This includes pending authorisations, completed settlements, refunds, and all other card transaction types

        in a unified schema.

        '
      summary: Get transaction activity for a managed card
      operationId: managedCardTransactionsGet
      x-permissions:
      - i:managed_cards:statement
      - i:managed_cards:statement:own
      parameters:
      - name: id
        in: path
        description: The unique identifier of the managed card.
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/transactionActivityType'
      - $ref: '#/components/parameters/transactionActivityStatus'
      - $ref: '#/components/parameters/transactionActivityDirection'
      - $ref: '#/components/parameters/creationTimestampFrom'
      - $ref: '#/components/parameters/creationTimestampTo'
      - $ref: '#/components/parameters/lastUpdatedTimestampFrom'
      - $ref: '#/components/parameters/lastUpdatedTimestampTo'
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/transactionActivitySortBy'
      responses:
        '200':
          $ref: '#/components/responses/InstrumentTransactionActivityListResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_cards/{id}/transactions/{transactionId}:
    get:
      tags:
      - Managed Cards
      description: Returns a specific transaction on the managed card.
      summary: Get a specific transaction for a managed card
      operationId: managedCardTransactionGet
      x-permissions:
      - i:managed_cards:statement
      - i:managed_cards:statement:own
      parameters:
      - name: id
        in: path
        description: The unique identifier of the managed card.
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
      - name: transactionId
        in: path
        description: The unique identifier of the transaction.
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '200':
          $ref: '#/components/responses/InstrumentTransactionActivityResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_cards/{id}/physical:
    post:
      tags:
      - Managed Cards
      description: 'Upgrades the virtual card identified by the `id` path parameter to physical.


        Before cards can be upgraded, a physical card programme must be set up and the card profile configuration updated accordingly.

        '
      summary: Upgrade a card to physical
      operationId: managedCardPhysicalUpgrade
      x-permissions:
      - i:managed_cards:create_physical
      - i:managed_cards:create_physical:own
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardPhysicalUpgradeRequest'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardGetResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalUpgradeConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_cards/{id}/physical/activate:
    post:
      tags:
      - Managed Cards
      description: Activates the physical card identified by the `id` path paramter.
      summary: Activate a physical card
      operationId: managedCardPhysicalActivate
      x-permissions:
      - i:managed_cards:activate_physical
      - i:managed_cards:activate_physical:own
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardPhysicalActivateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardGetResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalActivateConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_cards/{id}/physical/pin:
    get:
      tags:
      - Managed Cards
      description: Retrieves the PIN of the physical card identified by the `id` path parameter.
      summary: Get PIN for a physical card
      operationId: managedCardPhysicalPinGet
      x-permissions:
      - i:managed_cards:get_physical_pin
      - i:managed_cards:get_physical_pin:own
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardPhysicalPinGetResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalPinGetConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_cards/{id}/physical/pin/unblock:
    patch:
      tags:
      - Managed Cards
      description: 'Physical cards can be marked as `pinBlocked` if there are too many failed PIN attempts.


        Use this operation to unblock a PIN so that the card can be used again.

        '
      summary: Unblock PIN for a physical card
      operationId: managedCardPhysicalPinUnBlock
      x-permissions:
      - i:managed_cards:unblock_physical_pin
      - i:managed_cards:unblock_physical_pin:own
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalPinUnBlockConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_cards/{id}/physical/replace_damaged:
    post:
      tags:
      - Managed Cards
      description: Report as damaged, and replace the physical card identified by the `id` path parameter.
      summary: Replace a damaged physical card
      operationId: managedCardPhysicalReplaceDamaged
      x-permissions:
      - i:managed_cards:replace_damaged
      - i:managed_cards:replace_damaged:own
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardPhysicalReplaceDamagedRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalReplaceDamagedConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_cards/{id}/physical/report_lost:
    post:
      tags:
      - Managed Cards
      description: Report the physical card identified by the `id` path parameter as lost. This will deactivate the instrument and a new card will need to be requested.
      summary: Report a physical card as lost
      operationId: managedCardPhysicalReportLost
      x-permissions:
      - i:managed_cards:report_lost
      - i:managed_cards:report_lost:own
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalReportLostConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_cards/{id}/physical/report_stolen:
    post:
      tags:
      - Managed Cards
      description: 'Report the physical card identified by the `id` path parameter as stolen. This will destroy the instrument and a new replacement card will need to be requested.


        Once a replacement is requested, any funds remaining on this destroyed card will be transferred to the replacement card."

        '
      summary: Report a physical card as stolen
      operationId: managedCardPhysicalReportStolen
      x-permissions:
      - i:managed_cards:report_stolen
      - i:managed_cards:report_stolen:own
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalReportStolenConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_cards/{id}/physical/replace_lost_stolen:
    post:
      tags:
      - Managed Cards
      description: 'Issue a replacement for the physical card, identified by the `id` path parameter, that has already been reported as lost or stolen.


        Any funds (that are not blocked pending a purchase for a previous authorisation) remaining on the card will be automatically transferred to the new replacement card.

        '
      summary: Replace a lost or stolen physical card
      operationId: managedCardPhysicalReplaceLostOrStolen
      x-permissions:
      - i:managed_cards:replace_lost_stolen
      - i:managed_cards:replace_lost_stolen:own
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardPhysicalReplaceLostOrStolenRequest'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardGetResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalReplaceLostOrStolenConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api-key: []
  /managed_cards/{id}/physical/contactless_limit/reset:
    post:
      tags:
      - Managed Cards
      description: 'For security purposes, the cardholder needs to provide the PIN after a number of contactless purchases. Use this operation to reset the physical card''s contactless limit.

        The contactless limit can only be reset for physical cards having the wearable form factor.

        '
      summary: Reset contactless limit for a physical card
      operationId: managedCardPhysicalContactlessLimitReset
      x-permissions:
      - i:managed_cards:reset_contactless_limit
      - i:managed_cards:reset_contactless_limit:own
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalContactlessLimitResetConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
components:
  schemas:
    OutgoingWireTransferRejectedInfo:
      description: "Additional info when the outgoing wire transfer has been rejected, as follows:\n  - SYSTEM: The wire transfer was rejected by the system.\n  - USER: The wire transfer was rejected by the user.\n"
      type: string
      enum:
      - SYSTEM
      - USER
    CardPaymentEventType:
      type: string
      description: Type of event recorded against a CardPayment. The `reversal` flag on each event distinguishes a reversal from the original action.
      enum:
      - AUTHORISATION
      - SETTLEMENT
      - REFUND
      - ORIGINAL_CREDIT
    FasterPaymentsBankDetailsOrBACSBankDetails:
      required:
      - accountNumber
      - sortCode
      type: object
      description: Bank details used in case the wire transfer is executed over Faster Payments.
      properties:
        accountNumber:
          type: string
          pattern: ^[0-9]{8}$
          description: Account number, required for wire transfer over Faster Payments.
        sortCode:
          type: string
          pattern: ^[0-9]{6}$
          description: Sort code, required for wire transfer over Faster Payments.
        secondaryReference:
          type: string
    CommonLevelSpendRules:
      type: object
      properties:
        allowedMerchantCategories:
          type: array
          maxItems: 200
          items:
            type: string
          description: 'Whitelist MCC: A list of allowed merchant category codes (MCCs). If the MCC does not match, then the transaction will be declined. If an MCC is also in the blocked list, the blocked list will take precedence.'
        blockedMerchantCategories:
          type: array
          maxItems: 200
          items:
            type: string
          description: 'Blacklist MCC: A list of disallowed merchant category codes (MCCs). If the MCC matches, then the transaction will be declined. If an MCC is also in the allowed list, the blocked list will take precedence.'
        allowedMerchantIds:
          type: array
          maxItems: 200
          items:
            type: string
          description: 'Whitelist Merchant Id: A list of allowed merchant IDs. If the Merchant Id does not match, then the transaction will be declined. If a Merchant Id is also provided in the blocked list, the blocked list will take precedence.'
        blockedMerchantIds:
          type: array
          maxItems: 200
          items:
            type: string
          description: 'Blacklist Merchant Id: A list of disallowed merchant IDs. If the Merchant Id matches, then the transaction will be declined. If a Merchant Id is also in the allowed list, the blocked list will take precedence.'
        allowedMerchantCountries:
          type: array
          maxItems: 50
          items:
            maxLength: 2
            minLength: 2
            pattern: ^[A-Z]{2}$
            type: string
          description: 'Whitelist Merchant Country: A list of allowed merchant countries, in ISO 3166-1 alpha-2 format. If the Merchant country does not match, then the transaction will be declined. If a Merchant Country is also provided in the blocked list, the blocked list will take precedence.'
        blockedMerchantCountries:
          type: array
          maxItems: 50
          items:
            maxLength: 2
            minLength: 2
            pattern: ^[A-Z]{2}$
            type: string
          description: 'Blacklist Merchant Country: A list of disallowed merchant countries, in ISO 3166-1 alpha-2 format. If the Merchant country matches, then the transaction will be declined. If a Merchant Country is also in the allowed list, the blocked list will take precedence.'
        allowContactless:
          type: boolean
          description: Indicates if a contactless transaction is allowed on the card.
        allowAtm:
          type: boolean
          description: Indicates if an ATM Withdrawal transaction is allowed on the card.
        allowECommerce:
          type: boolean
          description: Indicates if an online transaction is allowed on the card.
        allowCashback:
          type: boolean
          description: Indicates if a cashback transaction at a physical terminal is allowed on the card.
        allowCreditAuthorisations:
          type: boolean
          description: Indicates if a the card can receive a credit transaction.
        rolloverPolicy:
          $ref: '#/components/schemas/RolloverPolicy'
    CorrespondentBankingOwtState:
      description: "The state of the correspondent bank transfer transaction, as follows:\n  - INVALID: The transfer has failed initial validation checks.\n  - PENDING_CHALLENGE: The transfer requires the completion of a transaction confirmation challenge before it can be submitted.\n  - SUBMITTED: The transfer has been submitted to the sending financial institution for processing.\n  - REJECTED: The transfer that was submitted was rejected.\n  - APPROVED: The transfer that was submitted has been approved and is being processed by the sending financial institution.\n  - FAILED: There was an issue with the transfer, and the transaction has failed.\n  - COMPLETED: The requested funds have been sent from the source instrument.\n  - RETURNED: The transfer has been returned to the sender.\n  - SCHEDULED: The transfer will be executed at the scheduled time.\n  - CANCELLED: The scheduled transfer has been cancelled.\n  - PENDING_CONFIRMATION: The transfer requires a manual confirmation by the user before proceeding.\n"
      type: string
      enum:
      - INVALID
      - PENDING_CHALLENGE
      - SUBMITTED
      - REJECTED
      - APPROVED
      - FAILED
      - COMPLETED
      - RETURNED
      - SCHEDULED
      - CANCELLED
      - PENDING_CONFIRMATION
    CorrespondentBankingExternalData:
      type: object
      description: External data key-value pair.
      required:
      - name
      - value
      properties:
        name:
          type: string
          maxLength: 50
          description: Name/key of the external data.
        value:
          type: string
          maxLength: 255
          description: Value of the external data.
    ExternalAccountId:
      type: object
      description: The id of an external account, such as a Linked Account, registered with the Weavr Platform.
      required:
      - type
      - id
      properties:
        type:
          $ref: '#/components/schemas/ExternalAccountType'
        id:
          type: string
          pattern: ^[0-9]+$
    UKConfirmationOfPayeeResult:
      type: object
      required:
      - match
      properties:
        match:
          type: string
          description: The result of matching performed by the UK Confirmation of Payee responder
          enum:
          - EXACT_MATCH
          - CLOSE_MATCH
          - NO_MATCH
          - NOT_POSSIBLE
        reasonCode:
          type: string
          description: "The reason why the matching failed at the UK Confirmation of Payee responder:\n\n  - ANNM: The CoP responder confirms that the account `name` provided does not match;\n  - MBAM: The CoP responder indicates that the account `name` provided closely matches the actual account in its records, the actual account name is returned in the `accountName` field;\n  - BANM: The account `type` that the user specified is 'PERSONAL', but the CoP responder indicates that the actual account matching the `name` provided is actually BUSINESS;\n  - PANM: The account `type` that the user specified is 'BUSINESS', but the CoP responder indicates that the actual account matching the `name` provided is actually PERSONAL;\n  - BAMM: The account `type` that the user specified is 'PERSONAL', but the CoP responder indicates that an account closely matching the `name` provided is BUSINESS;\n  - PAMM: The account `type` that the user specified is 'BUSINESS', but the CoP responder indicates that an account closely matching the `name` provided is PERSONAL;\n  - AC01: The account does not exist in the CoP responders books, the `accountNumber` specified is likely incorrect; \n  - IVCR: The CoP responder was unable to locate an account based on the `secondaryReference` field;\n  - ACNS: The account is not supported for CoP by the CoP responder;\n  - OPTO: The owner of the account has opted out of CoP service by the CoP responder;\n  - CASS: The account has been switched using the Current Account Switch Service;\n  - SCNS: The `sortCode` provided is not supported at endpoint;\n"
          enum:
          - ANNM
          - MBAM
          - BANM
          - PANM
          - BAMM
          - PAMM
          - AC01
          - IVCR
          - ACNS
          - OPTO
          - CASS
          - SCNS
        accountName:
          type: string
          description: 'CoP: Returned when the `match` is a `CLOSE_MATCH` and the `reasonCode` is MBAM, BAMM or PAMM

            VoP: Returned when the `match` is a `CLOSE_MATCH`

            '
    CorrespondentBankingIndividualAddressAndBirthInfo:
      required:
      - dateOfBirth
      - placeOfBirth
      type: object
      description: Birth information for an individual originator.
      properties:
        dateOfBirth:
          type: string
          format: date
          description: Date of birth in YYYY-MM-DD format.
        placeOfBirth:
          type: string
          maxLength: 140
          description: Place of birth - city and country.
    ExternalData:
      description: External data fields, as provided and managed by the caller that are to be stored and associated with a Managed Card instance. This information is not processed or used by Weavr but some of the values could be shown in specific reports and used as filters
      type: array
      items:
        type: object
        properties:
          name:
            type: string
            minLength: 1
            maxLength: 100
          value:
            type: string
            minLength: 1
            maxLength: 100
      uniqueItems: true
      maxItems: 10
    PhysicalCardDetails:
      required:
      - pendingActivation
      type: object
      properties:
        bulkDelivery:
          $ref: '#/components/schemas/BulkCardDelivery'
        productReference:
          type: string
          description: The unique reference indicating the configuration of the physical card. Example the card design.
        carrierType:
          type: string
        pendingActivation:
          type: boolean
          description: Indicates if the physical card is activated for physical usage such as with physical terminals.
        pinBlocked:
          type: boolean
          description: Indicates if the physical card is blocked due to providing incorrect PINs.
        manufacturingState:
          $ref: '#/components/schemas/ManufacturingState'
        replacement:
          deprecated: true
          type: object
          description: Indicates if the physical card is replaced by another card.
          properties:
            replacementReason:
              type: string
              description: "The reason why the physical card was replaced.\n  - DAMAGED: The physical card was damaged and cannot be used at a physical terminal.\n  - LOST_STOLEN: The physical card was either lost or stolen and cannot be used.\n  - EXPIRED: The physical card expired.\n"
              enum:
              - DAMAGED
              - LOST_STOLEN
              - EXPIRED
            replacementId:
              type: string
              pattern: ^[0-9]+$
              description: The unique identifier of the new card that replaces this card.
        deliveryAddress:
          $ref: '#/components/schemas/DeliveryAddress'
        deliveryMethod:
          $ref: '#/components/schemas/DeliveryMethod'
        deliveryTrackingCode:
          $ref: '#/components/schemas/DeliveryTrackingCode'
        deliveryTrackingMethod:
          $ref: '#/components/schemas/DeliveryTrackingMethod'
        deliveryTrackingUrl:
          $ref: '#/components/schemas/DeliveryTrackingUrl'
        nameOnCardLine2:
          deprecated: true
          maxLength: 27
          pattern: ^[a-zA-Z0-9ßÀÁÂÃÄÅǍÆÇÈÉÊËÌÍÎÏÒÓÔÕÖØŠÙÚÛÜŸÝĄĆČĎĘĹĽŁŃŇÑŐŔŚȘȚŤŰŹŻŽàáâãäåǎæçèéêëìíîïòóôõöøšùúûüÿýąćčďęĺľłńňñőŕśșțťűźżž\-^. '-]*$
          type: string
          description: Line 2 of the 'name on card' field. For Physical cards, this field will be printed on the card. The maximum characters allowed will depend on the design chosen and will be provided to you by Weavr when setting up your plastic cards. This field is deprecated
    Transfer:
      required:
      - id
      - profileId
      - creationTimestamp
      - destination
      - destinationAmount
      - source
      - state
      type: object
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of a Transfer transaction.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        tag:
          $ref: '#/components/schemas/Tag'
        source:
          description: The source managed account or card from where the funds were transferred.
          $ref: '#/components/schemas/InstrumentId'
        destination:
          description: The destination managed account or card to where the funds were transferred.
          $ref: '#/components/schemas/InstrumentId'
        destinationAmount:
          description: The amount, in same currency as source and destination, that was transferred from the source to the destination instrument.
          $ref: '#/components/schemas/CurrencyAmount'
        description:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9\/\-?:().$_,'+\s#=!"%&*<>;\{@\r\n]*$
          description: The description details that are included in the transaction as reference.
        state:
          $ref: '#/components/schemas/TransactionState'
        creationTimestamp:
          type: integer
          format: int64
          description: The time when the transaction was created, expressed in Epoch timestamp using millisecond precision.
        scheduledTimestamp:
          $ref: '#/components/schemas/ScheduledTimestamp'
        executionTimestamp:
          $ref: '#/components/schemas/ExecutionTimestamp'
        cancellationReason:
          $ref: '#/components/schemas/TransactionCancellationReason'
    UpdateCardLevelSpendRules:
      allOf:
      - $ref: '#/components/schemas/CardLevelSpendRules'
      - type: object
        properties:
          updateSpendLimitMethod:
            $ref: '#/components/schemas/SpendLimitUpdateMethod'
    CorrespondentBankingIndividualAddressAndIdInfo:
      required:
      - documentType
      - documentNumber
      type: object
      description: Personal identification for an individual originator.
      properties:
        documentType:
          type: string
          enum:
          - NATIONAL_ID
          - PASSPORT
          - TAX_ID
          - OTHER
          description: Type of personal identification document.
        documentNumber:
          type: string
          maxLength: 35
          description: Personal identification document number.
    DateOfBirth:
      type: string
      format: date
      description: The date of birth in ISO 8601 format (YYYY-MM-DD).
    SEPAVerificationOfPayeeResult:
      type: object
      required:
      - match
      properties:
        match:
          type: string
          description: The result of the SEPA Verification of Payee check performed by the responding PSP.
          enum:
          - MATCH
          - NO_MATCH
          - CLOSE_MATCH
          - NOT_POSSIBLE
        accountName:
          type: string
          description: 'The name of the account holder as registered with the responding PSP.

            Returned when the match result is CLOSE_MATCH to help the payer verify the payee.

            '
    ManufacturingState:
      type: string
      description: "Information on the manufacturing of the physical card, as follows:\n  - REQUESTED: The upgrade of the card to physical has been requested.\n  - SENT_FOR_FULFILLMENT - The card has been sent for printing.\n  - DISPATCHED: The card has been manufactured and dispatched. You may receive a second DISPATCHED event when the manufacturer provides a tracking code.\n  - DELIVERED: The card has been received and activated by the recipient.\n"
      enum:
      - REQUESTED
      - SENT_FOR_FULFILLMENT
      - DISPATCHED
      - DELIVERED
    FeeSummary:
      type: object
      required:
      - id
      - type
      - amount
      properties:
        id:
          description: Identifier of the fee — same value used as entryId on the corresponding fees-type entry, and as the fee transaction id in the Transaction Activity API.
          type: string
          pattern: ^[0-9]+$
        type:
          description: Always `fees`. Aligns with the top-level transaction type.
          type: string
          enum:
          - fees
        amount:
          description: Fee amount in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        subtype:
          description: Categorises the fee — derived from the parent transaction type.
          $ref: '#/components/schemas/FeeSubtype'
    Merchant:
      type: object
      description: Information about a merchant — used wherever a merchant appears in card-payment flows, statement entries, and transaction activity.
      required:
      - id
      - name
      properties:
        id:
          type: string
          description: Merchant identifier (MID) — the acquirer-assigned code that identifies the merchant on card-scheme messages (ISO 8583 DE 42 Card Acceptor Identification Code).
        name:
          type: string
          description: Merchant name (DBA name).
        nameOther:
          type: string
          description: Alternative merchant name as supplied by the card network, when present.
        networkId:
          type: string
          description: Identifier assigned by the acquirer or scheme to the merchant.
        categoryCode:
          type: string
          description: ISO 18245 merchant category code (MCC).
        description:
          type: string
          description: Free-text description of the merchant.
        street:
          type: string
          description: Street address of the merchant terminal.
        city:
          type: string
          description: City of the merchant terminal.
        state:
          type: string
          description: Subdivision (state, province, region) of the merchant terminal.
        postalCode:
          type: string
          description: Postal code of the merchant terminal.
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code of the merchant terminal.
        telephone:
          type: string
          description: Merchant telephone.
        url:
          type: string
          description: Merchant website.
        contact:
          type: string
          description: Merchant contact (name or email of a representative, when present).
        reference:
          type: string
          description: Merchant-supplied reference for the transaction (the merchant's own identifier for what they billed).
        logoUrl:
          type: string
          description: Merchant logo URL, when available.
    StatementEntry:
      required:
      - transactionAmount
      - entryState
      - transactionId
      - processedTimestamp
      type: object
      properties:
        transactionId:
          description: The unique identifier of the transaction.
          $ref: '#/components/schemas/TransactionId'
        entryState:
          $ref: '#/components/schemas/StatementEntryState'
        originalAmount:
          description: 'The transaction amount as originally requested. The original amount currency may be different from the currency of the instrument.


            In case of purchases, this will indicate the original currency and amount that the merchant requested.

            '
          $ref: '#/components/schemas/CurrencyAmount'
        forexRate:
          description: If the `originalAmount` is in a different currency from the instrument's currency, the forex rate used will be provided.
          $ref: '#/components/schemas/ScaledAmount'
        transactionAmount:
          description: The transaction amount in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        availableBalanceAdjustment:
          description: The amount of funds credited or debited on the available balance of the instrument.
          $ref: '#/components/schemas/CurrencyAmount'
        actualBalanceAdjustment:
          description: The amount of funds credited or debited on the actual balance of the instrument.
          $ref: '#/components/schemas/CurrencyAmount'
        balanceAfter:
          description: The balance of the instrument after the transaction was executed.
          $ref: '#/components/schemas/CurrencyAmount'
        availableBalanceAfter:
          description: The available balance of the instrument after the transaction was executed.
          $ref: '#/components/schemas/CurrencyAmount'
        actualBalanceAfter:
          description: The actual balance of the instrument after the transaction was executed.
          $ref: '#/components/schemas/CurrencyAmount'
        transactionFee:
          description: The fee amount that was captured for you (Multi account owner). You can set fees to be taken during transactions in the Multi Portal.
          $ref: '#/components/schemas/CurrencyAmount'
        cardholderFee:
          description: The fee amount that was captured for you (Multi account owner). You can set fees to be taken during transactions in the Multi Portal. This field is deprecated - use `transactionFee` instead.
          $ref: '#/components/schemas/CurrencyAmount'
        processedTimestamp:
          type: integer
          format: int64
          description: The timestamp when the transaction was processed by the system, expressed in Epoch timestamp using millisecond precision.
        sourceAmount:
          description: The source amount of the transaction, if the transaction involves forex.
          $ref: '#/components/schemas/CurrencyAmount'
        userCurrencyTransactionDetails:
          description: The object representing the user transaction's details
          $ref: '#/components/schemas/UserCurrencyTransactionDetails'
        additionalFields:
          type: object
          additionalProperties:
            type: string
          description: A Map of additional fields. Possible values include fee information. The possible entries are `merchantName`, `merchantCategoryCode`, `merchantTerminalCountry`, `sourceInstrumentType`, `sourceInstrumentId`, `destinationInstrumentType`, `destinationInstrumentId`, `forexPaddingCurrency`, `forexPaddingAmount`, `note`, `sourceInstrumentFriendlyName`, `destinationInstrumentFriendlyName`, `sourceIdentityType`, `sourceIdentityId`, `sourceIdentityName`, `destinationIdentityType`, `destinationIdentityId`, `destinationIdentityName`, `exchangeRate`, `authorisationState`, `authorisationRelatedId`, `settlementRelatedId`, `chargeFeeType`, `relatedTransactionId`, `relatedTransactionIdType`, `beneficiaryName`, `beneficiaryAccount`, `beneficiaryBankCode`, `merchantId`, `merchantTransactionType`, `systemTransactionType`, `authorisationCode`, `relatedCardId`, `sender`, `forexFeeCurrency`, `forexFeeAmount`, `senderIban`, `senderReference`, `mandateId`, `merchantReference`, `description`, `declineReason`, `spendRuleFailedReason`, `authorisationCategory` and `authorisationTransactionType`.
    DeliveryAddress:
      required:
      - name
      - surname
      - addressLine1
      - city
      - postCode
      - country
      type: object
      description: The delivery address where the physical card is delivered.
      properties:
        name:
          maxLength: 100
          type: string
        surname:
          maxLength: 100
          type: string
        addressLine1:
          maxLength: 50
          minLength: 1
          type: string
        addressLine2:
          maxLength: 50
          minLength: 1
          type: string
        city:
          maxLength: 50
          type: string
        postCode:
          maxLength: 10
          pattern: ^[A-Za-z0-9 -]*$
          type: string
        state:
          maxLength: 50
          type: string
        country:
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]+$
          type: string
          description: Country of the identity in ISO 3166 alpha-2 format.
        contactNumber:
          $ref: '#/components/schemas/PhoneNumber'
          description: Mandatory when bulk delivery is selected. Will be printed on the box/packet to assist delivery.
    IncomingWireTransfer:
      type: object
      required:
      - id
      - state
      - amount
      - destinationInstrument
      - createdAt
      description: An incoming wire transfer received from an external bank account.
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of the incoming wire transfer.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        state:
          $ref: '#/components/schemas/IncomingWireTransferMultiState'
        amount:
          description: The amount credited (or to be credited) to the destination instrument, in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        fee:
          description: The fee charged on this incoming wire transfer. Omitted when no fee was charged.
          $ref: '#/components/schemas/CurrencyAmount'
        destinationInstrument:
          description: The managed account (with IBAN) that received the funds.
          $ref: '#/components/schemas/InstrumentId'
        paymentNetwork:
          type: string
          enum:
          - SEPA
          - FASTER_PAYMENTS
          - SWIFT
          - RIX
          - BACS
          - CHAPS
          - TARGET
          description: The payment network over which the transfer was received.
        senderName:
          type: string
          description: The name of the sender.
        senderIban:
          type: string
          description: The IBAN of the sender.
        senderReference:
          type: string
          description: The payment reference provided by the sender.
        forex:
          $ref: '#/components/schemas/TransactionForex'
        isInstant:
          type: boolean
          description: Whether this was an instant payment.
        createdAt:
          type: integer
          format: int64
          description: When the IWT was received, expressed in Epoch timestamp using millisecond precision.
        executedAt:
          type: integer
          format: int64
          description: When the IWT was settled, expressed in Epoch timestamp using millisecond precision.
    DeliveryTrackingCode:
      type: string
      description: The delivery tracking code for tracking the physical card's delivery status. This may not always be available on the first dispatched event, and so you will receive an additional dispatched notification with the delivery tracking code populated as soon as it is available.
    CardRenewalType:
      description: "Indicates how the card will be handled once it is close to expiring.\n  - RENEW: The card will be automatically renewed, keeping the same card number but with a new expiry date and CVV.\n  - NO_RENEW: Once the expiry date is reached, the card is destroyed.\n"
      enum:
      - RENEW
      - NO_RENEW
      type: string
    BillingAddress:
      required:
      - addressLine1
      - city
      - postCode
      - country
      type: object
      properties:
        addressLine1:
          minLength: 1
          maxLength: 150
          type: string
          description: The first line of the address.
        addressLine2:
          maxLength: 150
          type: string
          description: The second line of the address.
        city:
          maxLength: 50
          type: string
          description: The city of the address.
        postCode:
          maxLength: 10
          pattern: ^[A-Za-z0-9 -]*$
          type: string
          description: The post code associated with the address.
        state:
          maxLength: 50
          type: string
          description: The state of the address.
        country:
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]+$
          type: string
          description: The country of the address expressed in ISO 3166 alpha-2 format.
    FasterPaymentsBeneficiary:
      required:
      - name
      - type
      - accountNumber
      - sortCode
      type: object
      description: Beneficiary details for Faster Payments wire transfers.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 140
          pattern: ^[a-zA-Z0-9\/\-?:().,'+\s#=!"%&*<>;\{@\r\n]*$
          description: 'The beneficiary''s full name. >= 1 character and <= 140 characters.

            Note: the '' symbol is the unicode value U+2019 (right single quotation mark)

            and not the unicode value U+0027 (apostrophe).

            '
        type:
          type: string
          description: The type of beneficiary account. Required for Faster Payments.
          enum:
          - PERSONAL
          - BUSINESS
        accountNumber:
          type: string
          pattern: ^[0-9]{8}$
          description: Account number, required for wire transfer over Faster Payments.
        sortCode:
          type: string
          pattern: ^[0-9]{6}$
          description: Sort code, required for wire transfer over Faster Payments.
        secondaryReference:
          type: string
          description: Optional secondary reference for accounts without unique sort codes.
        address:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's address.
        bankName:
          type: string
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    OutgoingWireTransferType:
      type: string
      description: The wire transfer rails used, from SEPA, Faster Payments, SWIFT or RIX.
      enum:
      - SEPA
      - FASTER_PAYMENTS
      - SWIFT
      - RIX
    DigitalWallets:
      type: object
      properties:
        pushProvisioningEnabled:
          type: boolean
          description: Indicates whether the card is enabled for push provisioning in a digital wallet.
        walletsEnabled:
          type: boolean
          description: Indicates whether the card is enabled for tokenisation in a digital wallet.
        artworkReference:
          type: string
          description: The artwork reference that will be used if the card is enabled for tokenisation in a digital wallet.
    RolloverPolicy:
      type: object
      description: The rollover policy will dictate how Weavr handles any eventual overspending. This is possible if a merchant clears more funds than authorised, or when a merchant clears funds without authorising, resulting in the `availableToSpend` value to go into negative. Rollover is relative to a `spendLimit.interval`
      required:
      - rolloverNegative
      properties:
        rolloverNegative:
          type: boolean
          description: If set to true any overspend will keep rolling over and get deducted in the upcoming intervals until the `availableToSpend` is back to a positive value. Any overspend will be deducted from the `availableToSpend` at the beginning of the next interval.
    Tag:
      type: string
      description: The tag field is a custom field that can be used to search and filter.
      maxLength: 50
      pattern: ^[a-zA-Z0-9_-]+$
    CurrencyAmount:
      required:
      - currency
      - amount
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/Currency'
        amount:
          type: integer
          format: int64
          description: 'The monetary amount, scaled to the lowest denomination of the currency.


            Example, an amount of 1000 for a EUR currency is actually 1000 Euro cents or EUR 10.00.

            '
      description: The object representing a monetary amount in a particular currency.
    FeeSubtype:
      type: string
      description: The category of fee — indicates the activity or instrument-lifecycle event the fee relates to.
      enum:
      - fee_reversals
      - incoming_wire_fees
      - withdrawal_fees
      - purchase_fees
      - refund_fees
      - atm_withdrawal_fees
      - chargeback_fees
      - transfer_fees
      - send_fees
      - outgoing_wire_transfer_fees
      - custom_fees
      - other_fees
      - instrument_delete_fees
      - funds_redemption_fees
      - system_transaction_fees
    ScaledAmount:
      type: object
      properties:
        value:
          type: integer
          format: int64
        scale:
          maximum: 127
          minimum: -128
          type: integer
          format: int32
      description: 'A floating point number, represented as a value and its scale. Its actual value can be obtained using the equation: value * pow(10, -scale).'
    Send:
      required:
      - id
      - profileId
      - creationTimestamp
      - source
      - destinationAmount
      - state
      - transactionAmount
      type: object
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of a send transaction.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        tag:
          $ref: '#/components/schemas/Tag'
        source:
          description: The source managed account or card from where the funds were sent.
          $ref: '#/components/schemas/InstrumentId'
        sourceFee:
          allOf:
          - $ref: '#/components/schemas/CurrencyAmount'
          - type: object
            description: The fee applied to the source.
        destination:
          description: The destination managed account or card to where the funds were sent.
          oneOf:
          - $ref: '#/components/schemas/InstrumentId'
          - $ref: '#/components/schemas/BeneficiaryId'
        destinationAmount:
          description: The amount, in same currency as source and destination, that was sent from the source to the destination instrument.
          $ref: '#/components/schemas/CurrencyAmount'
        destinationFee:
          allOf:
          - $ref: '#/components/schemas/CurrencyAmount'
          - type: object
            description: The fee applied to the destination.
        transactionAmount:
          allOf:
          - $ref: '#/components/schemas/CurrencyAmount'
          - type: object
            description: The original transaction amount before any fees were deducted.
        description:
          type: string
          description: The description details that are passed to the beneficiary.
          maxLength: 255
          pattern: ^[a-zA-Z0-9\/\-?:().$_,'+\s#=!"%&*<>;\{@\r\n]*$
        state:
          $ref: '#/components/schemas/SendState'
        challengeExemptionReason:
          $ref: '#/components/schemas/ChallengeExemptionReason'
        creationTimestamp:
          type: integer
          format: int64
          description: The time when the transaction was created, expressed in Epoch timestamp using millisecond precision.
        scheduledTimestamp:
          $ref: '#/components/schemas/ScheduledTimestamp'
        executionTimestamp:
          $ref: '#/components/schemas/ExecutionTimestamp'
        cancellationReason:
          $ref: '#/components/schemas/TransactionCancellationReason'
    BeneficiaryId:
      required:
      - beneficiaryId
      type: object
      properties:
        beneficiaryId:
          $ref: '#/components/schemas/Id'
    IdentityLevelSpendRules:
      allOf:
      - $ref: '#/components/schemas/CommonLevelSpendRules'
      - type: object
        properties:
          minTransactionAmount:
            type: integer
            minimum: 0
            format: int64
            description: The minimum transaction amount, in card currency, that is allowed. If the transaction amount is less than this value, then the transaction will be declined. Omit this, or set to 0 if no maximum transaction amount is to be set.
          maxTransactionAmount:
            type: integer
            minimum: 0
            format: int64
            description: The maximum transaction amount, in card currency, that is allowed. If the transaction amount is greater than this value, then the transaction will be declined.
    SensitiveCardNumber:
      type: object
      description: 'The full card number of the card.


        Unless you are PCI-DSS compliant and have opted to switch off Weavr''s security model, the card number will be tokenised.


        To show the full unredacted card number to your user, you need to embed the Card number UI Component in your application. This accepts the tokenised card number and shows the unredacted card number to the user on screen.


        In addition, it is returned only when the current session is stepped-up.

        '
      properties:
        value:
          maxLength: 16
          type: string
    InstrumentState:
      type: string
      description: "The state of the instrument indicating what it can and cannot do as follows:\n  - ACTIVE: The instrument is in an active state and can be used in transactions.\n  - BLOCKED: The instrument is temporarily blocked and cannot be used. Any funds on the instrument are also frozen. The `blockedReason` provides more information as to why it was blocked.\n  - DESTROYED: The instrument has been permanently destroyed. The `destroyReason` provides more information as to why it was destroyed.\n  - NOT_ENABLED: The instrument is not enabled for use, since the linked user has not completed all necessary verification steps.\n"
      enum:
      - ACTIVE
      - BLOCKED
      - DESTROYED
      - NOT_ENABLED
    BlockedReason:
      type: string
      description: "The reason why the instrument has been blocked:\n  - USER: The root, or an authorised user, of the identity owning the instrument has temporarily blocked the instrument.\n  - SYSTEM: The platform or an administrator of the platform has temporarily blocked the instrument.\n  - LOST: The instrument has been blocked because it was marked as lost.\n  - SINGLE_SPEND: The instrument has been automatically blocked after its first successful transaction (single-spend card).\n"
      enum:
      - USER
      - SYSTEM
      - LOST
      - SINGLE_SPEND
    InstrumentTransactionActivityItem:
      type: object
      required:
      - id
      - type
      - status
      - amount
      - creationTimestamp
      description: 'A transaction activity entry returned by the per-instrument transactions endpoints

        (e.g. `/managed_accounts/{id}/transactions`). The `instrument` is omitted because it is

        already known from the path parameter.

        '
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The transaction identifier.
        type:
          $ref: '#/components/schemas/TransactionActivityType'
        status:
          $ref: '#/components/schemas/TransactionActivityStatus'
        direction:
          $ref: '#/components/schemas/TransactionActivityDirection'
        amount:
          description: The primary transaction amount in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        fee:
          description: The fee linked to this transaction, if any.
          $ref: '#/components/schemas/FeeSummary'
        creationTimestamp:
          type: integer
          format: int64
        lastUpdatedTimestamp:
          type: integer
          format: int64
        transaction:
          description: The full transaction object. Schema matches the value of `type`.
          oneOf:
          - $ref: '#/components/schemas/Transfer'
          - $ref: '#/components/schemas/Send'
          - $ref: '#/components/schemas/OutgoingWireTransfer'
          - $ref: '#/components/schemas/CorrespondentBankingOwt'
          - $ref: '#/components/schemas/IncomingWireTransfer'
          - $ref: '#/components/schemas/CardPayment'
          - $ref: '#/components/schemas/FeeTransaction'
          - $ref: '#/components/schemas/SystemTransaction'
    Statement:
      type: object
      description: The list of statement entries.
      properties:
        entry:
          type: array
          items:
            $ref: '#/components/schemas/StatementEntry'
        count:
          type: integer
          description: The total number of records (excluding the paging limit).
          format: int32
        responseCount:
          type: integer
          description: The total number of records returned in this response.
          format: int32
        startBalance:
          description: The start balance amount in the instrument's currency. Empty for debit cards.
          $ref: '#/components/schemas/CurrencyAmount'
        endBalance:
          description: The end balance amount in the instrument's currency. Empty for debit cards.
          $ref: '#/components/schemas/CurrencyAmount'
        footer:
          description: The footer description for the current statement
          type: string
    ChallengeExemptionReason:
      type: string
      enum:
      - LOW_VALUE
      - TRUSTED_BENEFICIARY
      description: The Reason the transaction was exempted from SCA verification
    CardPaymentEvent:
      type: object
      description: "An event in a card payment's lifecycle, lean — used **nested** inside `CardPayment.events[]`. The parent card payment provides `cardPaymentId`, `card`, and `merchant`, so the lean variants don't repeat them. Each event carries its own `authCode`. Four variants discriminated by `type`:\n\n  - `AUTHORISATION` → `CardPaymentAuthorisationEvent`\n  - `SETTLEMENT` → `CardPaymentSettlementEvent`\n  - `REFUND` → `CardPaymentRefundEvent`\n  - `ORIGINAL_CREDIT` → `CardPaymentOriginalCreditEvent` (Visa OCT / Mastercard MoneySend)\n\nFor the **standalone** version returned by `GET /card_payment_events` — which carries `cardPaymentId`, `card`, and `merchant` so each row is self-contained — see `CardPaymentEventDetail`.\n"
      required:
      - type
      properties:
        type:
          $ref: '#/components/schemas/CardPaymentEventType'
      discriminator:
        propertyName: type
        mapping:
          AUTHORISATION: '#/components/schemas/CardPaymentAuthorisationEvent'
          SETTLEMENT: '#/components/schemas/CardPaymentSettlementEvent'
          REFUND: '#/components/schemas/CardPaymentRefundEvent'
          ORIGINAL_CREDIT: '#/components/schemas/CardPaymentOriginalCreditEvent'
    BulkCardDelivery:
      type: boolean
      description: 'Bulk delivery is available for deliveryMethods REGISTERED_MAIL or COURIER.

        All cards marked as bulk and ordered within the fulfilment centre’s dispatch window will be sent in bulk. Delivery address must be identical for all orders. contactNumber in the deliveryAddress object is mandatory when bulk is selected. Maximum number of cards delivered in a single box/packet is REGISTERED_MAIL = 90, COURIER = 200.

        '
    InstrumentId:
      required:
      - id
      - type
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        type:
          $ref: '#/components/schemas/InstrumentType'
    ManagedInstrumentState:
      required:
      - state
      type: object
      properties:
        state:
          $ref: '#/components/schemas/InstrumentState'
        blockedReason:
          $ref: '#/components/schemas/BlockedReason'
        destroyedReason:
          $ref: '#/components/schemas/DestroyedReason'
    RIXBeneficiary:
      required:
      - name
      - iban
      type: object
      description: Beneficiary details for RIX wire transfers.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 150
          description: 'The beneficiary''s full name. >= 1 character and <= 150 characters.

            An extended character set is accepted to cater for all European languages.

            If RIX does not support a particular character, it is automatically

            converted to an acceptable alternative.

            '
        iban:
          type: string
          minLength: 15
          maxLength: 34
          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
          description: International Bank Account Number, required for wire transfer over RIX.
        bankIdentifierCode:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
          description: BIC (Bank Identifier Code) for wire transfer over RIX.
        address:
          maxLength: 150
          minLength: 1
          type: string
          description: 'The beneficiary''s address. An extended character set is accepted to cater

            for all European languages. If RIX does not support a particular character,

            it is automatically converted to an acceptable alternative.

            '
        bankName:
          type: string
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    Currency:
      type: string
      description: 'The currency expressed in ISO-4217 code. Example: GBP, EUR, USD.'
      maxLength: 3
      minLength: 3
      pattern: ^[A-Z]*$
    CorrespondentBankingIndividualOriginator:
      required:
      - name
      - address
      - country
      - bankAccountDetails
      type: object
      description: 'An individual (natural person) originator of the transfer.


        Travel Rule Requirements:

        - Mandatory: Full name and account number (via bankAccountDetails)

        - Mandatory: At least one supplementary information type (address + birth details, or address + official ID)

        '
      properties:
        tag:
          $ref: '#/components/schemas/Tag'
        name:
          type: string
          maxLength: 140
          description: Full name of the individual as documented on official ID.
        address:
          type: string
          maxLength: 255
          description: Full residential address of the individual.
        country:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}$
          description: ISO 3166-1 alpha-2 country code.
        bankAccountDetails:
          $ref: '#/components/schemas/CorrespondentBankingBankAccountDetails'
          description: Account and financial institution details of the originator (travel rule mandatory).
        supplementaryInformation:
          oneOf:
          - $ref: '#/components/schemas/CorrespondentBankingIndividualAddressAndIdInfo'
          - $ref: '#/components/schemas/CorrespondentBankingIndividualAddressAndBirthInfo'
    SendState:
      type: string
      description: "The state of the send transaction, as follows:\n - INVALID: The send transaction has failed initial validation checks. \n - INITIALISED: The initial state of a send transaction when SCA is not required.\n - PENDING_CHALLENGE: The send transaction requires the completion of a transaction confirmation challenge before it can be submitted.\n - PENDING: The send transaction has exceeded the destination limit and is pending treasury approval.\n - APPROVED: The send transaction that was submitted has been approved.\n - COMPLETED: The requested funds have been sent from the source instrument.\n - REJECTED: The send transaction that was submitted was rejected.\n - FAILED: There was an issue with the send transaction, and the transaction has failed.\n - RETURNED: The send transaction has been returned to the sender.\n - SCHEDULED: The send transaction will be executed at the scheduled time.\n - CANCELLED: The scheduled send transaction has been cancelled.\n"
      enum:
      - INVALID
      - INITIALISED
      - COMPLETED
      - REJECTED
      - FAILED
      - PENDING
      - PENDING_CHALLENGE
      - APPROVED
      - RETURNED
      - SCHEDULED
      - CANCELLED
    SensitivePin:
      type: object
      description: 'The PIN used for in-person transactions done with physical cards.


        Unless you are PCI-DSS compliant and have opted to switch off Weavr''s security model, the card''s PIN will be tokenised.


        To show the PIN to your user, you need to embed the Display Card PIN UI Component in your application. This accepts the tokenised PIN and shows the plain text PIN to the user on screen.

        '
      required:
      - value
      properties:
        value:
          minLength: 4
          maxLength: 24
          type: string
    ExecutionTimestamp:
      pattern: ^[0-9]+$
      type: string
      description: The epoch timestamp at which the transaction was executed, transitioning to a final state such as COMPLETED, REJECTED, or FAILED.
    CardPaymentStatus:
      type: string
      description: 'Lifecycle status of a CardPayment.


        - `SETTLEMENT_IN_PROGRESS` — authorised, not yet (or not fully) settled. The hold is still on the card.

        - `SETTLED` — fully settled. The customer has been charged.

        - `DECLINED` — the latest authorisation was declined; no money moved.

        - `CANCELLED` — the authorisation was cancelled/reversed before settlement; no charge applied.

        - `EXPIRED` — the authorisation timed out without settling.

        '
      enum:
      - SETTLEMENT_IN_PROGRESS
      - SETTLED
      - DECLINED
      - CANCELLED
      - EXPIRED
    PhoneNumber:
      maxLength: 20
      minLength: 5
      pattern: ^\+[0-9]+$
      type: string
    SpendLimit:
      type: object
      required:
      - value
      - interval
      properties:
        startTimestamp:
          description: The start timestamp of the spend limit, expressed in Epoch timestamp using millisecond precision.
          type: integer
          format: int64
        value:
          description: The spend limit, as amount and currency, (for the given interval).
          $ref: '#/components/schemas/CurrencyAmount'
        interval:
          $ref: '#/components/schemas/SpendLimitInterval'
    TransactionActivityDirection:
      type: string
      description: Whether funds were credited to or debited from the instrument.
      enum:
      - CREDIT
      - DEBIT
    ValidationError:
      type: array
      description: Is returned as part of an HTTP error response whenever a validation error is detected. A list of the fields together with their syntax error will be provided.
      items:
        type: object
        properties:
          fieldName:
            type: string
          message:
            maxLength: 255
            type: string
            description: When present helps to identify and fix the problem.
          error:
            type: string
            enum:
            - MUST_BE_FALSE
            - MUST_BE_TRUE
            - AT_MOST
            - AT_LEAST
            - FUTURE
            - FUTURE_OR_PRESENT
            - PAST
            - PAST_OR_PRESENT
            - LESS_THAN_ZERO
            - LESS_THAN_OR_EQUAL_TO_ZERO
            - GREATER_THAN_ZERO
            - GREATER_THAN_OR_EQUAL_TO_ZERO
            - HAS_TEXT
            - REQUIRED
            - REGEX
            - RANGE
            - IN
            - NOT_IN
            - NOT_EMPTY
            - ALL_OR_NONE
            - MUST_BE_EMPTY
            - DEPENDS_ON
            - INVALID_TYPE_OR_VALUE
            - INVALID_REQUEST
          params:
            type: array
            items:
              type: string
          invalidValue:
            type: array
            items:
              type: string
    TransactionState:
      type: string
      description: Status of the transaction.
      enum:
      - INITIALISED
      - COMPLETED
      - REJECTED
      - FAILED
      - PENDING
      - SCHEDULED
      - CANCELLED
    OutgoingWireTransferBeneficiary:
      deprecated: true
      required:
      - name
      - bankAccountDetails
      type: object
      description: 'Details of the beneficiary of the outgoing wire transfer.

        **Deprecated**: Use `SEPABeneficiary` for SEPA/IBAN transfers or `FasterPaymentsBeneficiary` for Faster Payments transfers instead.

        '
      properties:
        name:
          type: string
          description: 'The beneficiary''s full name. The allowed length and pattern is dependent on the bank account details type:


            `IBANDetails`: >= `1` character and <= `150` characters. An extended character set is accepted to cater for all European languages. If `SEPA` does not support a particular character, it is automatically converted to an acceptable alternative, in line with `SEPA` scheme guidance.


            `FasterPaymentsBankDetailsOrBACSBankDetails`: >= `1` character and <= `140` characters with a pattern of `^[a-zA-Z0-9\/\-?:().,’+\s#=!"%&*<>;\{@\r\n]*$`

            (please note that the `’` symbol is the unicode value U+2019 (right single quotation mark) and not the unicode value U+0027 (apostrophe))

            '
        type:
          type: string
          description: The type of beneficiary account. Required only when `FasterPaymentsBankDetailsOrBACSBankDetails` are specified
          enum:
          - PERSONAL
          - BUSINESS
        address:
          maxLength: 150
          minLength: 1
          type: string
          description: 'The beneficiary’s address. For `SEPA`, an extended character set is accepted to cater for all European languages. If `SEPA` does not support a particular character, it is automatically converted to an acceptable alternative, in line with `SEPA` scheme guidance.

            '
        bankName:
          type: string
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        bankAccountDetails:
          description: Details of the beneficiary bank account, depending on the type of transfer chosen.
          oneOf:
          - $ref: '#/components/schemas/IBANDetails'
          - $ref: '#/components/schemas/FasterPaymentsBankDetailsOrBACSBankDetails'
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    OutgoingWireTransferValidationOutcome:
      type: object
      required:
      - category
      - categoryResult
      properties:
        category:
          type: string
          enum:
          - UK_CONFIRMATION_OF_PAYEE
          - SEPA_VERIFICATION_OF_PAYEE
        categoryResult:
          oneOf:
          - $ref: '#/components/schemas/UKConfirmationOfPayeeResult'
          - $ref: '#/components/schemas/SEPAVerificationOfPayeeResult'
    CardLevelSpendRules:
      allOf:
      - $ref: '#/components/schemas/BaseCardLevelSpendRules'
      - type: object
        properties:
          minTransactionAmount:
            type: integer
            minimum: 0
            format: int64
            description: The minimum transaction amount, in card currency, that is allowed. If the transaction amount is less than this value, then the transaction will be declined.
          maxTransactionAmount:
            type: integer
            minimum: 0
            format: int64
            description: The maximum transaction amount, in card currency, that is allowed. If the transaction amount is greater than this value, then the transaction will be declined.
    TransactionActivityType:
      type: string
      description: "The type of transaction:\n  - transfers: Internal transfer between instruments of the same identity\n  - sends: Transfer between instruments of different identities\n  - outgoing_wire_transfers: Wire transfer to an external bank account\n  - correspondent_bank_transfers: Wire transfer on behalf of a third-party originator\n  - incoming_wire_transfers: Wire transfer received from an external bank account\n  - card_payments: Card payment (purchase, refund, OCT, etc.) with full lifecycle\n  - fees: Fee charged or reversed on an instrument\n  - system_transactions: System-generated transactions (balance adjustments, account closures, dispute outcomes, etc.)\n"
      enum:
      - transfers
      - sends
      - outgoing_wire_transfers
      - correspondent_bank_transfers
      - incoming_wire_transfers
      - card_payments
      - fees
      - system_transactions
    Card:
      type: object
      required:
      - id
      - type
      description: Information about a managed card — used wherever a card appears (the card on a card payment, or the access instrument that initiated a transaction).
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of the managed card.
        type:
          type: string
          enum:
          - managed_cards
        mode:
          type: string
          enum:
          - prepaid
          - debit
          description: "The mode the card was created in.\n  - `prepaid`: The card has its own balance and can have funds transferred to or from it.\n  - `debit`: The card has no balance of its own; it draws on its parent managed account up to a configurable spend limit.\n"
        friendlyName:
          type: string
          description: The friendly name chosen for the card.
        nameOnCard:
          type: string
          description: The cardholder name printed on the card.
        cardBrand:
          type: string
          enum:
          - MASTERCARD
          - VISA
          description: The scheme of the card. Restricted to schemes supported by card payments.
        cardNumberFirstSix:
          type: string
          pattern: ^[0-9]{6}$
          description: The first six digits of the card number (BIN range).
        cardNumberLastFour:
          type: string
          pattern: ^[0-9]{4}$
          description: The last four digits of the card number.
        linkedUserId:
          type: string
          pattern: ^[0-9]+$
          description: Identifier of the authorised user the card is assigned to. Populated only when the card has been assigned to a specific user.
        parentManagedAccountId:
          type: string
          pattern: ^[0-9]+$
          description: Identifier of the managed account this card draws funds from. Populated only when `mode` is `debit`.
    ScheduledTimestamp:
      pattern: ^[0-9]+$
      type: string
      description: The epoch timestamp at which the transaction is scheduled to be executed.
    TransactionActivitySortBy:
      type: string
[...]
