openapi: 3.2.0
info:
  title: Weavr Simulator Wiretransfers API
  x-logo:
    url: https://storage.googleapis.com/weavr-cdn/weavr_logo-new.png
    backgroundColor: '#FFFFFF'
    altText: Weavr
  description: This is a Simulator API which is only available on the Weavr Sandbox Environment
  contact:
    name: Weavr
    url: http://weavr.io
  version: v2
servers:
- url: https://sandbox.weavr.io/simulate/api"
tags:
- name: Wiretransfers
paths:
  /wiretransfers/outgoing/{outgoing_wire_transfer_id}/accept:
    post:
      tags:
      - Wiretransfers
      summary: Simulate completion of  an Outgoing Wire Transfer
      description: This endpoint is used to simulate the completion of an Outgoing Wire Transfer that has been submitted in the system and sent over our payment network.
      operationId: wiretransfers_outgoing_outgoing_wire_transfer_id_accept
      parameters:
      - name: outgoing_wire_transfer_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/call-ref'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInvalidRequest'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
      security:
      - API_Secret_Key: []
  /wiretransfers/outgoing/{outgoing_wire_transfer_id}/reject:
    post:
      tags:
      - Wiretransfers
      summary: Simulate rejection of an Outgoing Wire Transfer
      description: This endpoint is used to simulate the rejection of an Outgoing Wire Transfer that has been submitted in the system and sent over our payment network.
      operationId: wiretransfers_outgoing_outgoing_wire_transfer_id_reject
      parameters:
      - name: outgoing_wire_transfer_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/call-ref'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInvalidRequest'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
      security:
      - API_Secret_Key: []
components:
  schemas:
    FieldValidationType:
      type: string
      enum:
      - REQUIRED
      - HAS_TEXT
      - REQUIRES
      - SIZE
      - RANGE
      - IN
      - NOT_IN
      - REGEX
      - EXACTLY
      - AT_LEAST
      - AT_MOST
      - ALL_OR_NONE
    FieldValidation:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/FieldValidationType'
        params:
          type: array
          items:
            type: string
    ResponseResponseCode:
      type: string
      enum:
      - COMPLETED
      - DENIED
      - DENIED_WIRE_TRANSFER_NOT_FOUND
      - DENIED_WIRE_TRANSFER_ALREADY_COMPLETED
    Response:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ResponseResponseCode'
    FieldValidationErrors:
      type: object
      properties:
        name:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/FieldValidation'
    MessageValidation:
      type: object
      properties:
        invalid:
          type: boolean
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldValidationErrors'
    DefaultError:
      type: object
      properties:
        message:
          maxLength: 255
          type: string
          description: When present helps to identify and fix the problem.
          x-fieldValidation: size(_,255)
      description: A default error model in case of errors other than 400, 409 or 504.
    ClientInvalidRequest:
      type: object
      properties:
        message:
          maxLength: 255
          type: string
          description: When present helps to identify and fix the problem.
          x-fieldValidation: size(_,255)
        validation:
          allOf:
          - $ref: '#/components/schemas/MessageValidation'
          - description: Description of fields which were invalid.
  parameters:
    call-ref:
      name: call-ref
      in: header
      description: A call reference generated by the caller and unique to the caller to provide correlation between the caller and system with a maximum length of 255
      required: false
      style: simple
      explode: false
      schema:
        type: string
  securitySchemes:
    API_Secret_Key:
      type: apiKey
      description: The API Secret Key - available from the Configuration area of the Innovator Portal
      name: programme-key
      in: header
    Auth_Token:
      type: http
      description: 'Authorization Token returned by login - example format: e6YrWi53lW0Bb6TbBL4ADA=='
      scheme: bearer
      bearerFormat: JWT
