openapi: 3.2.0
info:
  title: Weavr Authentication Factors Webhooks API
  version: v1
  license:
    name: private
    url: https://weavr.io
  x-logo:
    url: https://weavr-cdn.s3.eu-central-1.amazonaws.com/weavr-payment-run-logo.png
    backgroundColor: '#FFFFFF'
    altText: Weavr
  description: 'Operations tagged Authentication Factors Webhooks across 2 of this provider''s published API definitions: weavr-payment-run-openapi-original.yml, weavr-authentication-factors-webhooks-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.weavr.io/payment-run
  description: Sandbox
security:
- apiKey: []
  authToken: []
tags:
- name: Authentication Factors Webhooks
  description: Notification of the Authentication Factors that are used for the `Identity`.
  x-displayName: Authentication Factors
paths: {}
webhooks:
  authenticationFactorsWatch:
    post:
      summary: Enrolment status
      description: Notification that an enrolment has been accepted or declined.
      operationId: authentication_factors_watch
      tags:
      - Authentication Factors Webhooks
      security: []
      parameters:
      - name: call-ref
        in: header
        description: 'A call reference generated by the caller and unique to the caller

          to provide correlation between the caller and system with a maximum length

          of 255

          '
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: published-timestamp
        in: header
        description: The timestamp, expressed in Epoch timestamp using millisecond precision, when this event was published.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: signature
        in: header
        description: The signature to verify the authenticity of this request.  This is the base64 hash (HmacSHA256) of the `published-timestamp` using your API key.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: signature-v2
        in: header
        description: The signature to verify the authenticity of this request.  This is the base64 hash (HmacSHA256) of the `call-ref` header, the request body, and the `published-timestamp` header, all concatenated without spaces, and signed using your API key.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - authenticationFactorsWatch
                payload:
                  required:
                  - credentialId
                  - publishedTimestamp
                  - status
                  - type
                  type: object
                  properties:
                    credential:
                      required:
                      - type
                      - id
                      type: object
                      properties:
                        type:
                          maxLength: 50
                          pattern: ^[a-zA-Z0-9_-]+$
                          type: string
                          enum:
                          - ROOT
                          - USER
                          description: The type of user.
                        id:
                          type: string
                          pattern: ^[0-9]+$
                          description: The identifier of the user.
                    type:
                      type: string
                    status:
                      type: string
                      enum:
                      - ACTIVE
                      - INACTIVE
                    publishedTimestamp:
                      type: string
                      pattern: ^[0-9]+$
                      description: Epoch timestamp using millisecond precision.
        required: true
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully
    servers:
    - url: https://sandbox.weavr.io/payment-run
      description: Sandbox
components:
  securitySchemes:
    apiKey:
      name: api-key
      type: apiKey
      in: header
      description: The API Key representing your Weavr account. You can find your API Key in your Weavr Portal in the API Credentials page.
    authToken:
      type: http
      description: The authentication token representing the user. This will be included in the login response object.
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- weavr-payment-run-openapi-original.yml
- weavr-authentication-factors-webhooks-api-openapi.yml
x-tagGroups:
- name: Access
  tags:
  - Access Token
  - User Impersonation
  - Consent Request
- name: Identities
  tags:
  - Corporates
  - Consumers
- name: User Management
  tags:
  - Authorised Users
- name: Instruments
  tags:
  - Managed Accounts
  - Managed Cards
- name: Transactions
  tags:
  - Transfers
- name: Fees
  tags:
  - Fees
- name: Bulk Operations [Beta]
  tags:
  - Operations
  - Manage
