openapi: 3.1.0
info:
  version: v3
  title: Weavr Multi Product BackOffice Access Token Managed Accounts API
  x-logo:
    url: https://storage.googleapis.com/weavr-cdn/weavr_logo-new.png
    backgroundColor: '#FFFFFF'
    altText: Weavr
  description: 'Weavr Multi Back Office API allows you, as an innovator, to perform various back office operations concerning

    identities and their instruments, without requiring the users to be logged in.


    A token is to be obtained through the `access_token` method, and this will allow relevant operations

    to be performed on behalf of this same identity.

    '
  contact:
    name: Weavr
    url: https://weavr.io
servers:
- description: Weavr Sandbox Environment
  url: https://sandbox.weavr.io/multi/backoffice
tags:
- name: Managed Accounts
  description: 'Managed Accounts are a type of financial instrument offered by Weavr. They hold funds for their owner, and can be upgraded to IBANs so as to receive and send funds to instruments outside of the Weavr Platform, via Wire Transfers.

    These accounts can also be used as sources and destinations in the `transfer` transaction.


    With the `access_token` representing the identity and the consent of the identity, you will be able to operations on the identity''s managed accounts, such as getting a managed account''s details and retrieving its statement.

    '
paths:
  /managed_accounts/{id}:
    get:
      tags:
      - Managed Accounts
      description: Fetch the managed account identified by the `id` in path.
      summary: Get a managed account
      operationId: managedAccountGet
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the Managed Account.
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '200':
          $ref: '#/components/responses/ManagedAccountResponse'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    patch:
      tags:
      - Managed Accounts
      description: Update the details for the managed account identified by the `id` in the path.
      summary: Update a managed account
      operationId: managedAccountUpdate
      x-permissions:
      - i:managed_accounts:update
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the managed account.
        schema:
          type: string
          pattern: ^[0-9]+$
      requestBody:
        $ref: '#/components/requestBodies/ManagedAccountUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ManagedAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_accounts/{id}/statement:
    get:
      tags:
      - Managed Accounts
      description: Returns a list of transactions against the managed account identified by the `id` path parameter, matching the criteria provided in the request.
      summary: Get a managed account statement
      operationId: managedAccountStatement
      parameters:
      - name: id
        in: path
        description: The unique identifier of the managed account.
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/statementLimit'
      - $ref: '#/components/parameters/orderByTimestamp'
      - $ref: '#/components/parameters/fromTimestamp'
      - $ref: '#/components/parameters/toTimestamp'
      - $ref: '#/components/parameters/showFundMovementsOnly'
      - $ref: '#/components/parameters/singleEntryPerTransaction'
      - $ref: '#/components/parameters/statementTransactionType'
      responses:
        '200':
          $ref: '#/components/responses/ManagedAccountStatementResponse'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
  /managed_accounts:
    get:
      tags:
      - Managed Accounts
      description: Retrieves all managed accounts belonging to the logged-in identity.
      summary: Get all managed accounts
      operationId: managedAccountsGet
      x-permissions:
      - i:managed_accounts:list
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/profileId'
      - $ref: '#/components/parameters/friendlyName'
      - $ref: '#/components/parameters/state'
      - $ref: '#/components/parameters/state_blockedReason'
      - $ref: '#/components/parameters/state_destroyedReason'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/createdFrom'
      - $ref: '#/components/parameters/createdTo'
      - $ref: '#/components/parameters/tag'
      responses:
        '200':
          $ref: '#/components/responses/ManagedAccountsGetResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    post:
      tags:
      - Managed Accounts
      description: 'Creates a managed account for the consumer or corporate identity.

        The Managed Account Profile (configured in the Multi Portal) specified determines the behavior and restrictions that the managed account will have."

        '
      summary: Create a managed account
      operationId: managedAccountCreate
      x-permissions:
      - i:managed_accounts:create
      parameters:
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedAccountCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ManagedAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '409':
          $ref: '#/components/responses/ManagedAccountCreateConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_accounts/{id}/iban:
    post:
      tags:
      - Managed Accounts
      description: 'Assign an IBAN to a Managed Account.


        IBANs enable managed accounts to receive and send funds via wire transfers.


        Assigning an IBAN to a Managed Account may be done asynchronously, in which case the `ManagedAccountIBAN.state` will be set to `PENDING_ALLOCATION` until bank details are ready to use.

        '
      summary: Upgrade a managed account with IBAN
      operationId: managedAccountsIBANUpgrade
      x-permissions:
      - i:managed_accounts:add_iban
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        description: The unique identifier of the Managed Account.
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      responses:
        '200':
          $ref: '#/components/responses/ManagedAccountIBANResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedAccountsIBANUpgradeConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    get:
      tags:
      - Managed Accounts
      description: Fetch the IBAN details associated with the Managed Account identified by the `id` in the path.
      summary: Get a managed account IBAN
      operationId: managedAccountIBANGet
      x-permissions:
      - i:managed_accounts:get_iban
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '200':
          $ref: '#/components/responses/ManagedAccountIBANResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_accounts/{id}/block:
    post:
      tags:
      - Managed Accounts
      description: Temporarily blocks a managed account.
      summary: Block a managed account
      operationId: managedAccountBlock
      x-permissions:
      - i:managed_accounts:block
      parameters:
      - name: id
        in: path
        description: The unique identifier of the managed account.
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedAccountBlockConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_accounts/{id}/unblock:
    post:
      tags:
      - Managed Accounts
      description: 'Unblocks the managed account identified by the `id` path parameter.

        The managed account must have `state.blockedReason` as `USER` so that it can be unblocked.

        If the managed account was blocked by `SYSTEM`, users cannot unblock it.

        '
      summary: Unblock a managed account
      operationId: managedAccountUnblock
      x-permissions:
      - i:managed_accounts:unblock
      parameters:
      - name: id
        in: path
        description: The unique identifier of the managed account.
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedAccountUnblockConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /deprecated/managed_accounts/{id}/statement:
    get:
      deprecated: true
      tags:
      - Managed Accounts
      description: Deprecated in favour of [GET /managed_accounts/{id}/statements](#tag/Managed-Accounts/operation/managedAccountStatements). Returns a list of transactions against the managed account identified by the `id` path parameter, matching the criteria provided in the request.
      summary: Get a managed account statement (deprecated)
      operationId: managedAccountStatementDeprecated
      x-permissions:
      - i:managed_accounts:statement
      parameters:
      - name: id
        in: path
        description: The unique identifier of the managed account.
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/statementLimit'
      - $ref: '#/components/parameters/orderByTimestamp'
      - $ref: '#/components/parameters/fromTimestamp'
      - $ref: '#/components/parameters/toTimestamp'
      - $ref: '#/components/parameters/showFundMovementsOnly'
      - $ref: '#/components/parameters/singleEntryPerTransaction'
      - $ref: '#/components/parameters/statementTransactionType'
      responses:
        '200':
          $ref: '#/components/responses/ManagedAccountStatementResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_accounts/{id}/transactions:
    get:
      tags:
      - Managed Accounts
      description: 'Returns all transactional activity on the managed account identified by the `id` path parameter.


        Unlike the statement endpoint, this includes pending, completed, failed, and rejected transactions.

        All transaction types are returned in a unified schema.

        '
      summary: Get transaction activity for a managed account
      operationId: managedAccountTransactionsGet
      x-permissions:
      - i:managed_accounts:statement
      parameters:
      - name: id
        in: path
        description: The unique identifier of the managed account.
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/transactionActivityType'
      - $ref: '#/components/parameters/transactionActivityStatus'
      - $ref: '#/components/parameters/transactionActivityDirection'
      - $ref: '#/components/parameters/creationTimestampFrom'
      - $ref: '#/components/parameters/creationTimestampTo'
      - $ref: '#/components/parameters/lastUpdatedTimestampFrom'
      - $ref: '#/components/parameters/lastUpdatedTimestampTo'
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/transactionActivitySortBy'
      responses:
        '200':
          $ref: '#/components/responses/InstrumentTransactionActivityListResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_accounts/{id}/transactions/{transactionId}:
    get:
      tags:
      - Managed Accounts
      description: Returns a specific transaction on the managed account.
      summary: Get a specific transaction for a managed account
      operationId: managedAccountTransactionGet
      x-permissions:
      - i:managed_accounts:statement
      parameters:
      - name: id
        in: path
        description: The unique identifier of the managed account.
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
      - name: transactionId
        in: path
        description: The unique identifier of the transaction.
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '200':
          $ref: '#/components/responses/InstrumentTransactionActivityResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
  /managed_accounts/{id}/remove:
    post:
      tags:
      - Managed Accounts
      description: 'Destroys the managed account identified by the `id` path parameter. Unlike block, this action is not reversible.


        A managed account must be emptied from any remaining funds before it can be destroyed.

        '
      summary: Remove a managed account
      operationId: managedAccountRemove
      x-permissions:
      - i:managed_accounts:remove
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the managed account.
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedAccountRemoveConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
components:
  schemas:
    OutgoingWireTransferRejectedInfo:
      description: "Additional info when the outgoing wire transfer has been rejected, as follows:\n  - SYSTEM: The wire transfer was rejected by the system.\n  - USER: The wire transfer was rejected by the user.\n"
      type: string
      enum:
      - SYSTEM
      - USER
    CardPaymentEventType:
      type: string
      description: Type of event recorded against a CardPayment. The `reversal` flag on each event distinguishes a reversal from the original action.
      enum:
      - AUTHORISATION
      - SETTLEMENT
      - REFUND
      - ORIGINAL_CREDIT
    FasterPaymentsBankDetailsOrBACSBankDetails:
      required:
      - accountNumber
      - sortCode
      type: object
      description: Bank details used in case the wire transfer is executed over Faster Payments.
      properties:
        accountNumber:
          type: string
          pattern: ^[0-9]{8}$
          description: Account number, required for wire transfer over Faster Payments.
        sortCode:
          type: string
          pattern: ^[0-9]{6}$
          description: Sort code, required for wire transfer over Faster Payments.
        secondaryReference:
          type: string
    CorrespondentBankingOwtState:
      description: "The state of the correspondent bank transfer transaction, as follows:\n  - INVALID: The transfer has failed initial validation checks.\n  - PENDING_CHALLENGE: The transfer requires the completion of a transaction confirmation challenge before it can be submitted.\n  - SUBMITTED: The transfer has been submitted to the sending financial institution for processing.\n  - REJECTED: The transfer that was submitted was rejected.\n  - APPROVED: The transfer that was submitted has been approved and is being processed by the sending financial institution.\n  - FAILED: There was an issue with the transfer, and the transaction has failed.\n  - COMPLETED: The requested funds have been sent from the source instrument.\n  - RETURNED: The transfer has been returned to the sender.\n  - SCHEDULED: The transfer will be executed at the scheduled time.\n  - CANCELLED: The scheduled transfer has been cancelled.\n  - PENDING_CONFIRMATION: The transfer requires a manual confirmation by the user before proceeding.\n"
      type: string
      enum:
      - INVALID
      - PENDING_CHALLENGE
      - SUBMITTED
      - REJECTED
      - APPROVED
      - FAILED
      - COMPLETED
      - RETURNED
      - SCHEDULED
      - CANCELLED
      - PENDING_CONFIRMATION
    CorrespondentBankingExternalData:
      type: object
      description: External data key-value pair.
      required:
      - name
      - value
      properties:
        name:
          type: string
          maxLength: 50
          description: Name/key of the external data.
        value:
          type: string
          maxLength: 255
          description: Value of the external data.
    ExternalAccountId:
      type: object
      description: The id of an external account, such as a Linked Account, registered with the Weavr Platform.
      required:
      - type
      - id
      properties:
        type:
          $ref: '#/components/schemas/ExternalAccountType'
        id:
          type: string
          pattern: ^[0-9]+$
    UKConfirmationOfPayeeResult:
      type: object
      required:
      - match
      properties:
        match:
          type: string
          description: The result of matching performed by the UK Confirmation of Payee responder
          enum:
          - EXACT_MATCH
          - CLOSE_MATCH
          - NO_MATCH
          - NOT_POSSIBLE
        reasonCode:
          type: string
          description: "The reason why the matching failed at the UK Confirmation of Payee responder:\n\n  - ANNM: The CoP responder confirms that the account `name` provided does not match;\n  - MBAM: The CoP responder indicates that the account `name` provided closely matches the actual account in its records, the actual account name is returned in the `accountName` field;\n  - BANM: The account `type` that the user specified is 'PERSONAL', but the CoP responder indicates that the actual account matching the `name` provided is actually BUSINESS;\n  - PANM: The account `type` that the user specified is 'BUSINESS', but the CoP responder indicates that the actual account matching the `name` provided is actually PERSONAL;\n  - BAMM: The account `type` that the user specified is 'PERSONAL', but the CoP responder indicates that an account closely matching the `name` provided is BUSINESS;\n  - PAMM: The account `type` that the user specified is 'BUSINESS', but the CoP responder indicates that an account closely matching the `name` provided is PERSONAL;\n  - AC01: The account does not exist in the CoP responders books, the `accountNumber` specified is likely incorrect; \n  - IVCR: The CoP responder was unable to locate an account based on the `secondaryReference` field;\n  - ACNS: The account is not supported for CoP by the CoP responder;\n  - OPTO: The owner of the account has opted out of CoP service by the CoP responder;\n  - CASS: The account has been switched using the Current Account Switch Service;\n  - SCNS: The `sortCode` provided is not supported at endpoint;\n"
          enum:
          - ANNM
          - MBAM
          - BANM
          - PANM
          - BAMM
          - PAMM
          - AC01
          - IVCR
          - ACNS
          - OPTO
          - CASS
          - SCNS
        accountName:
          type: string
          description: 'CoP: Returned when the `match` is a `CLOSE_MATCH` and the `reasonCode` is MBAM, BAMM or PAMM

            VoP: Returned when the `match` is a `CLOSE_MATCH`

            '
    CorrespondentBankingIndividualAddressAndBirthInfo:
      required:
      - dateOfBirth
      - placeOfBirth
      type: object
      description: Birth information for an individual originator.
      properties:
        dateOfBirth:
          type: string
          format: date
          description: Date of birth in YYYY-MM-DD format.
        placeOfBirth:
          type: string
          maxLength: 140
          description: Place of birth - city and country.
    Transfer:
      required:
      - id
      - profileId
      - creationTimestamp
      - destination
      - destinationAmount
      - source
      - state
      type: object
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of a Transfer transaction.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        tag:
          $ref: '#/components/schemas/Tag'
        source:
          description: The source managed account or card from where the funds were transferred.
          $ref: '#/components/schemas/InstrumentId'
        destination:
          description: The destination managed account or card to where the funds were transferred.
          $ref: '#/components/schemas/InstrumentId'
        destinationAmount:
          description: The amount, in same currency as source and destination, that was transferred from the source to the destination instrument.
          $ref: '#/components/schemas/CurrencyAmount'
        description:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9\/\-?:().$_,'+\s#=!"%&*<>;\{@\r\n]*$
          description: The description details that are included in the transaction as reference.
        state:
          $ref: '#/components/schemas/TransactionState'
        creationTimestamp:
          type: integer
          format: int64
          description: The time when the transaction was created, expressed in Epoch timestamp using millisecond precision.
        scheduledTimestamp:
          $ref: '#/components/schemas/ScheduledTimestamp'
        executionTimestamp:
          $ref: '#/components/schemas/ExecutionTimestamp'
        cancellationReason:
          $ref: '#/components/schemas/TransactionCancellationReason'
    SwiftBankDetails:
      required:
      - iban
      - code
      type: object
      description: Bank details used in case the wire transfer is executed over SWIFT.
      properties:
        iban:
          type: string
          minLength: 15
          maxLength: 34
          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
          description: International Bank Account Number, required for wire transfer over SWIFT.
        code:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
          description: SWIFT code, identifying a particular bank or branch, required for wire transfer over SWIFT.
    CorrespondentBankingIndividualAddressAndIdInfo:
      required:
      - documentType
      - documentNumber
      type: object
      description: Personal identification for an individual originator.
      properties:
        documentType:
          type: string
          enum:
          - NATIONAL_ID
          - PASSPORT
          - TAX_ID
          - OTHER
          description: Type of personal identification document.
        documentNumber:
          type: string
          maxLength: 35
          description: Personal identification document number.
    DateOfBirth:
      type: string
      format: date
      description: The date of birth in ISO 8601 format (YYYY-MM-DD).
    SEPAVerificationOfPayeeResult:
      type: object
      required:
      - match
      properties:
        match:
          type: string
          description: The result of the SEPA Verification of Payee check performed by the responding PSP.
          enum:
          - MATCH
          - NO_MATCH
          - CLOSE_MATCH
          - NOT_POSSIBLE
        accountName:
          type: string
          description: 'The name of the account holder as registered with the responding PSP.

            Returned when the match result is CLOSE_MATCH to help the payer verify the payee.

            '
    FeeSummary:
      type: object
      required:
      - id
      - type
      - amount
      properties:
        id:
          description: Identifier of the fee — same value used as entryId on the corresponding fees-type entry, and as the fee transaction id in the Transaction Activity API.
          type: string
          pattern: ^[0-9]+$
        type:
          description: Always `fees`. Aligns with the top-level transaction type.
          type: string
          enum:
          - fees
        amount:
          description: Fee amount in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        subtype:
          description: Categorises the fee — derived from the parent transaction type.
          $ref: '#/components/schemas/FeeSubtype'
    Merchant:
      type: object
      description: Information about a merchant — used wherever a merchant appears in card-payment flows, statement entries, and transaction activity.
      required:
      - id
      - name
      properties:
        id:
          type: string
          description: Merchant identifier (MID) — the acquirer-assigned code that identifies the merchant on card-scheme messages (ISO 8583 DE 42 Card Acceptor Identification Code).
        name:
          type: string
          description: Merchant name (DBA name).
        nameOther:
          type: string
          description: Alternative merchant name as supplied by the card network, when present.
        networkId:
          type: string
          description: Identifier assigned by the acquirer or scheme to the merchant.
        categoryCode:
          type: string
          description: ISO 18245 merchant category code (MCC).
        description:
          type: string
          description: Free-text description of the merchant.
        street:
          type: string
          description: Street address of the merchant terminal.
        city:
          type: string
          description: City of the merchant terminal.
        state:
          type: string
          description: Subdivision (state, province, region) of the merchant terminal.
        postalCode:
          type: string
          description: Postal code of the merchant terminal.
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code of the merchant terminal.
        telephone:
          type: string
          description: Merchant telephone.
        url:
          type: string
          description: Merchant website.
        contact:
          type: string
          description: Merchant contact (name or email of a representative, when present).
        reference:
          type: string
          description: Merchant-supplied reference for the transaction (the merchant's own identifier for what they billed).
        logoUrl:
          type: string
          description: Merchant logo URL, when available.
    StatementEntry:
      required:
      - transactionAmount
      - entryState
      - transactionId
      - processedTimestamp
      type: object
      properties:
        transactionId:
          description: The unique identifier of the transaction.
          $ref: '#/components/schemas/TransactionId'
        entryState:
          $ref: '#/components/schemas/StatementEntryState'
        originalAmount:
          description: 'The transaction amount as originally requested. The original amount currency may be different from the currency of the instrument.


            In case of purchases, this will indicate the original currency and amount that the merchant requested.

            '
          $ref: '#/components/schemas/CurrencyAmount'
        forexRate:
          description: If the `originalAmount` is in a different currency from the instrument's currency, the forex rate used will be provided.
          $ref: '#/components/schemas/ScaledAmount'
        transactionAmount:
          description: The transaction amount in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        availableBalanceAdjustment:
          description: The amount of funds credited or debited on the available balance of the instrument.
          $ref: '#/components/schemas/CurrencyAmount'
        actualBalanceAdjustment:
          description: The amount of funds credited or debited on the actual balance of the instrument.
          $ref: '#/components/schemas/CurrencyAmount'
        balanceAfter:
          description: The balance of the instrument after the transaction was executed.
          $ref: '#/components/schemas/CurrencyAmount'
        availableBalanceAfter:
          description: The available balance of the instrument after the transaction was executed.
          $ref: '#/components/schemas/CurrencyAmount'
        actualBalanceAfter:
          description: The actual balance of the instrument after the transaction was executed.
          $ref: '#/components/schemas/CurrencyAmount'
        transactionFee:
          description: The fee amount that was captured for you (Multi account owner). You can set fees to be taken during transactions in the Multi Portal.
          $ref: '#/components/schemas/CurrencyAmount'
        cardholderFee:
          description: The fee amount that was captured for you (Multi account owner). You can set fees to be taken during transactions in the Multi Portal. This field is deprecated - use `transactionFee` instead.
          $ref: '#/components/schemas/CurrencyAmount'
        processedTimestamp:
          type: integer
          format: int64
          description: The timestamp when the transaction was processed by the system, expressed in Epoch timestamp using millisecond precision.
        sourceAmount:
          description: The source amount of the transaction, if the transaction involves forex.
          $ref: '#/components/schemas/CurrencyAmount'
        userCurrencyTransactionDetails:
          description: The object representing the user transaction's details
          $ref: '#/components/schemas/UserCurrencyTransactionDetails'
        additionalFields:
          type: object
          additionalProperties:
            type: string
          description: A Map of additional fields. Possible values include fee information. The possible entries are `merchantName`, `merchantCategoryCode`, `merchantTerminalCountry`, `sourceInstrumentType`, `sourceInstrumentId`, `destinationInstrumentType`, `destinationInstrumentId`, `forexPaddingCurrency`, `forexPaddingAmount`, `note`, `sourceInstrumentFriendlyName`, `destinationInstrumentFriendlyName`, `sourceIdentityType`, `sourceIdentityId`, `sourceIdentityName`, `destinationIdentityType`, `destinationIdentityId`, `destinationIdentityName`, `exchangeRate`, `authorisationState`, `authorisationRelatedId`, `settlementRelatedId`, `chargeFeeType`, `relatedTransactionId`, `relatedTransactionIdType`, `beneficiaryName`, `beneficiaryAccount`, `beneficiaryBankCode`, `merchantId`, `merchantTransactionType`, `systemTransactionType`, `authorisationCode`, `relatedCardId`, `sender`, `forexFeeCurrency`, `forexFeeAmount`, `senderIban`, `senderReference`, `mandateId`, `merchantReference`, `description`, `declineReason`, `spendRuleFailedReason`, `authorisationCategory` and `authorisationTransactionType`.
    IncomingWireTransfer:
      type: object
      required:
      - id
      - state
      - amount
      - destinationInstrument
      - createdAt
      description: An incoming wire transfer received from an external bank account.
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of the incoming wire transfer.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        state:
          $ref: '#/components/schemas/IncomingWireTransferMultiState'
        amount:
          description: The amount credited (or to be credited) to the destination instrument, in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        fee:
          description: The fee charged on this incoming wire transfer. Omitted when no fee was charged.
          $ref: '#/components/schemas/CurrencyAmount'
        destinationInstrument:
          description: The managed account (with IBAN) that received the funds.
          $ref: '#/components/schemas/InstrumentId'
        paymentNetwork:
          type: string
          enum:
          - SEPA
          - FASTER_PAYMENTS
          - SWIFT
          - RIX
          - BACS
          - CHAPS
          - TARGET
          description: The payment network over which the transfer was received.
        senderName:
          type: string
          description: The name of the sender.
        senderIban:
          type: string
          description: The IBAN of the sender.
        senderReference:
          type: string
          description: The payment reference provided by the sender.
        forex:
          $ref: '#/components/schemas/TransactionForex'
        isInstant:
          type: boolean
          description: Whether this was an instant payment.
        createdAt:
          type: integer
          format: int64
          description: When the IWT was received, expressed in Epoch timestamp using millisecond precision.
        executedAt:
          type: integer
          format: int64
          description: When the IWT was settled, expressed in Epoch timestamp using millisecond precision.
    FasterPaymentsBeneficiary:
      required:
      - name
      - type
      - accountNumber
      - sortCode
      type: object
      description: Beneficiary details for Faster Payments wire transfers.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 140
          pattern: ^[a-zA-Z0-9\/\-?:().,'+\s#=!"%&*<>;\{@\r\n]*$
          description: 'The beneficiary''s full name. >= 1 character and <= 140 characters.

            Note: the '' symbol is the unicode value U+2019 (right single quotation mark)

            and not the unicode value U+0027 (apostrophe).

            '
        type:
          type: string
          description: The type of beneficiary account. Required for Faster Payments.
          enum:
          - PERSONAL
          - BUSINESS
        accountNumber:
          type: string
          pattern: ^[0-9]{8}$
          description: Account number, required for wire transfer over Faster Payments.
        sortCode:
          type: string
          pattern: ^[0-9]{6}$
          description: Sort code, required for wire transfer over Faster Payments.
        secondaryReference:
          type: string
          description: Optional secondary reference for accounts without unique sort codes.
        address:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's address.
        bankName:
          type: string
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    OutgoingWireTransferType:
      type: string
      description: The wire transfer rails used, from SEPA, Faster Payments, SWIFT or RIX.
      enum:
      - SEPA
      - FASTER_PAYMENTS
      - SWIFT
      - RIX
    Tag:
      type: string
      description: The tag field is a custom field that can be used to search and filter.
      maxLength: 50
      pattern: ^[a-zA-Z0-9_-]+$
    CurrencyAmount:
      required:
      - currency
      - amount
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/Currency'
        amount:
          type: integer
          format: int64
          description: 'The monetary amount, scaled to the lowest denomination of the currency.


            Example, an amount of 1000 for a EUR currency is actually 1000 Euro cents or EUR 10.00.

            '
      description: The object representing a monetary amount in a particular currency.
    FeeSubtype:
      type: string
      description: The category of fee — indicates the activity or instrument-lifecycle event the fee relates to.
      enum:
      - fee_reversals
      - incoming_wire_fees
      - withdrawal_fees
      - purchase_fees
      - refund_fees
      - atm_withdrawal_fees
      - chargeback_fees
      - transfer_fees
      - send_fees
      - outgoing_wire_transfer_fees
      - custom_fees
      - other_fees
      - instrument_delete_fees
      - funds_redemption_fees
      - system_transaction_fees
    ScaledAmount:
      type: object
      properties:
        value:
          type: integer
          format: int64
        scale:
          maximum: 127
          minimum: -128
          type: integer
          format: int32
      description: 'A floating point number, represented as a value and its scale. Its actual value can be obtained using the equation: value * pow(10, -scale).'
    Send:
      required:
      - id
      - profileId
      - creationTimestamp
      - source
      - destinationAmount
      - state
      - transactionAmount
      type: object
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of a send transaction.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        tag:
          $ref: '#/components/schemas/Tag'
        source:
          description: The source managed account or card from where the funds were sent.
          $ref: '#/components/schemas/InstrumentId'
        sourceFee:
          allOf:
          - $ref: '#/components/schemas/CurrencyAmount'
          - type: object
            description: The fee applied to the source.
        destination:
          description: The destination managed account or card to where the funds were sent.
          oneOf:
          - $ref: '#/components/schemas/InstrumentId'
          - $ref: '#/components/schemas/BeneficiaryId'
        destinationAmount:
          description: The amount, in same currency as source and destination, that was sent from the source to the destination instrument.
          $ref: '#/components/schemas/CurrencyAmount'
        destinationFee:
          allOf:
          - $ref: '#/components/schemas/CurrencyAmount'
          - type: object
            description: The fee applied to the destination.
        transactionAmount:
          allOf:
          - $ref: '#/components/schemas/CurrencyAmount'
          - type: object
            description: The original transaction amount before any fees were deducted.
        description:
          type: string
          description: The description details that are passed to the beneficiary.
          maxLength: 255
          pattern: ^[a-zA-Z0-9\/\-?:().$_,'+\s#=!"%&*<>;\{@\r\n]*$
        state:
          $ref: '#/components/schemas/SendState'
        challengeExemptionReason:
          $ref: '#/components/schemas/ChallengeExemptionReason'
        creationTimestamp:
          type: integer
          format: int64
          description: The time when the transaction was created, expressed in Epoch timestamp using millisecond precision.
        scheduledTimestamp:
          $ref: '#/components/schemas/ScheduledTimestamp'
        executionTimestamp:
          $ref: '#/components/schemas/ExecutionTimestamp'
        cancellationReason:
          $ref: '#/components/schemas/TransactionCancellationReason'
    BeneficiaryId:
      required:
      - beneficiaryId
      type: object
      properties:
        beneficiaryId:
          $ref: '#/components/schemas/Id'
    InstrumentState:
      type: string
      description: "The state of the instrument indicating what it can and cannot do as follows:\n  - ACTIVE: The instrument is in an active state and can be used in transactions.\n  - BLOCKED: The instrument is temporarily blocked and cannot be used. Any funds on the instrument are also frozen. The `blockedReason` provides more information as to why it was blocked.\n  - DESTROYED: The instrument has been permanently destroyed. The `destroyReason` provides more information as to why it was destroyed.\n  - NOT_ENABLED: The instrument is not enabled for use, since the linked user has not completed all necessary verification steps.\n"
      enum:
      - ACTIVE
      - BLOCKED
      - DESTROYED
      - NOT_ENABLED
    BlockedReason:
      type: string
      description: "The reason why the instrument has been blocked:\n  - USER: The root, or an authorised user, of the identity owning the instrument has temporarily blocked the instrument.\n  - SYSTEM: The platform or an administrator of the platform has temporarily blocked the instrument.\n  - LOST: The instrument has been blocked because it was marked as lost.\n  - SINGLE_SPEND: The instrument has been automatically blocked after its first successful transaction (single-spend card).\n"
      enum:
      - USER
      - SYSTEM
      - LOST
      - SINGLE_SPEND
    InstrumentTransactionActivityItem:
      type: object
      required:
      - id
      - type
      - status
      - amount
      - creationTimestamp
      description: 'A transaction activity entry returned by the per-instrument transactions endpoints

        (e.g. `/managed_accounts/{id}/transactions`). The `instrument` is omitted because it is

        already known from the path parameter.

        '
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The transaction identifier.
        type:
          $ref: '#/components/schemas/TransactionActivityType'
        status:
          $ref: '#/components/schemas/TransactionActivityStatus'
        direction:
          $ref: '#/components/schemas/TransactionActivityDirection'
        amount:
          description: The primary transaction amount in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        fee:
          description: The fee linked to this transaction, if any.
          $ref: '#/components/schemas/FeeSummary'
        creationTimestamp:
          type: integer
          format: int64
        lastUpdatedTimestamp:
          type: integer
          format: int64
        transaction:
          description: The full transaction object. Schema matches the value of `type`.
          oneOf:
          - $ref: '#/components/schemas/Transfer'
          - $ref: '#/components/schemas/Send'
          - $ref: '#/components/schemas/OutgoingWireTransfer'
          - $ref: '#/components/schemas/CorrespondentBankingOwt'
          - $ref: '#/components/schemas/IncomingWireTransfer'
          - $ref: '#/components/schemas/CardPayment'
          - $ref: '#/components/schemas/FeeTransaction'
          - $ref: '#/components/schemas/SystemTransaction'
    Statement:
      type: object
      description: The list of statement entries.
      properties:
        entry:
          type: array
          items:
            $ref: '#/components/schemas/StatementEntry'
        count:
          type: integer
          description: The total number of records (excluding the paging limit).
          format: int32
        responseCount:
          type: integer
          description: The total number of records returned in this response.
          format: int32
        startBalance:
          description: The start balance amount in the instrument's currency. Empty for debit cards.
          $ref: '#/components/schemas/CurrencyAmount'
        endBalance:
          description: The end balance amount in the instrument's currency. Empty for debit cards.
          $ref: '#/components/schemas/CurrencyAmount'
        footer:
          description: The footer description for the current statement
          type: string
    ChallengeExemptionReason:
      type: string
      enum:
      - LOW_VALUE
      - TRUSTED_BENEFICIARY
      description: The Reason the transaction was exempted from SCA verification
    CardPaymentEvent:
      type: object
      description: "An event in a card payment's lifecycle, lean — used **nested** inside `CardPayment.events[]`. The parent card payment provides `cardPaymentId`, `card`, and `merchant`, so the lean variants don't repeat them. Each event carries its own `authCode`. Four variants discriminated by `type`:\n\n  - `AUTHORISATION` → `CardPaymentAuthorisationEvent`\n  - `SETTLEMENT` → `CardPaymentSettlementEvent`\n  - `REFUND` → `CardPaymentRefundEvent`\n  - `ORIGINAL_CREDIT` → `CardPaymentOriginalCreditEvent` (Visa OCT / Mastercard MoneySend)\n\nFor the **standalone** version returned by `GET /card_payment_events` — which carries `cardPaymentId`, `card`, and `merchant` so each row is self-contained — see `CardPaymentEventDetail`.\n"
      required:
      - type
      properties:
        type:
          $ref: '#/components/schemas/CardPaymentEventType'
      discriminator:
        propertyName: type
        mapping:
          AUTHORISATION: '#/components/schemas/CardPaymentAuthorisationEvent'
          SETTLEMENT: '#/components/schemas/CardPaymentSettlementEvent'
          REFUND: '#/components/schemas/CardPaymentRefundEvent'
          ORIGINAL_CREDIT: '#/components/schemas/CardPaymentOriginalCreditEvent'
    InstrumentId:
      required:
      - id
      - type
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        type:
          $ref: '#/components/schemas/InstrumentType'
    ManagedInstrumentState:
      required:
      - state
      type: object
      properties:
        state:
          $ref: '#/components/schemas/InstrumentState'
        blockedReason:
          $ref: '#/components/schemas/BlockedReason'
        destroyedReason:
          $ref: '#/components/schemas/DestroyedReason'
    RIXBeneficiary:
      required:
      - name
      - iban
      type: object
      description: Beneficiary details for RIX wire transfers.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 150
          description: 'The beneficiary''s full name. >= 1 character and <= 150 characters.

            An extended character set is accepted to cater for all European languages.

            If RIX does not support a particular character, it is automatically

            converted to an acceptable alternative.

            '
        iban:
          type: string
          minLength: 15
          maxLength: 34
          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
          description: International Bank Account Number, required for wire transfer over RIX.
        bankIdentifierCode:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
          description: BIC (Bank Identifier Code) for wire transfer over RIX.
        address:
          maxLength: 150
          minLength: 1
          type: string
          description: 'The beneficiary''s address. An extended character set is accepted to cater

            for all European languages. If RIX does not support a particular character,

            it is automatically converted to an acceptable alternative.

            '
        bankName:
          type: string
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    Currency:
      type: string
      description: 'The currency expressed in ISO-4217 code. Example: GBP, EUR, USD.'
      maxLength: 3
      minLength: 3
      pattern: ^[A-Z]*$
    ManagedAccountIBAN:
      required:
      - state
      - bankAccountDetails
      type: object
      properties:
        state:
          type: string
          description: "The state of the Managed Account's IBAN as follows:\n  - UNALLOCATED: The Managed Account has never been assigned an IBAN. Use the _managedAccountsIBANUpgrade_ operation to assign an IBAN to a Managed Account.\n  - PENDING_ALLOCATION: The IBAN is being allocated to the Managed Account.\n  - ALLOCATED: An IBAN is allocated to the Managed Account.\n"
          enum:
          - UNALLOCATED
          - PENDING_ALLOCATION
          - ALLOCATED
        bankAccountDetails:
          description: 'A list of bank account details associated with the IBAN.

            Multiple details can be provided if multiple IBAN providers are supported by your payment model.'
          type: array
          items:
            required:
            - beneficiaryNameAndSurname
            - beneficiaryBank
            - beneficiaryBankAddress
            - type
            - details
            type: object
            properties:
              beneficiaryNameAndSurname:
                type: string
                description: The beneficiary name and surname details to be used when initiating a deposit onto the IBAN.
              beneficiaryBank:
                type: string
                description: The beneficiary bank name to be used when initiating a deposit onto the IBAN.
              beneficiaryBankAddress:
                type: string
                description: The beneficiary bank address to be used when initiating a deposit onto the IBAN.
              paymentReference:
                type: string
                description: 'A reference required by the partner bank to execute a deposit on the managed account.



                  If provided, make sure that this is included as part of the wire transfer details when initiating a deposit.

                  '
              details:
                description: 'The bank details required to initiate a deposit on the managed account.


                  The details required to deposit on the IBAN vary depending on the wire transfer channel that will be used.

                  '
                anyOf:
                - $ref: '#/components/schemas/IBANDetails'
                - $ref: '#/components/schemas/FasterPaymentsBankDetailsOrBACSBankDetails'
                - $ref: '#/components/schemas/SwiftBankDetails'
    CorrespondentBankingIndividualOriginator:
      required:
      - name
      - address
      - country
      - bankAccountDetails
      type: object
      description: 'An individual (natural person) originator of the transfer.


        Travel Rule Requirements:

        - Mandatory: Full name and account number (via bankAccountDetails)

        - Mandatory: At least one supplementary information type (address + birth details, or address + official ID)

        '
      properties:
        tag:
          $ref: '#/components/schemas/Tag'
        name:
          type: string
          maxLength: 140
          description: Full name of the individual as documented on official ID.
        address:
          type: string
          maxLength: 255
          description: Full residential address of the individual.
        country:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}$
          description: ISO 3166-1 alpha-2 country code.
        bankAccountDetails:
          $ref: '#/components/schemas/CorrespondentBankingBankAccountDetails'
          description: Account and financial institution details of the originator (travel rule mandatory).
        supplementaryInformation:
          oneOf:
          - $ref: '#/components/schemas/CorrespondentBankingIndividualAddressAndIdInfo'
          - $ref: '#/components/schemas/CorrespondentBankingIndividualAddressAndBirthInfo'
    SendState:
      type: string
      description: "The state of the send transaction, as follows:\n - INVALID: The send transaction has failed initial validation checks. \n - INITIALISED: The initial state of a send transaction when SCA is not required.\n - PENDING_CHALLENGE: The send transaction requires the completion of a transaction confirmation challenge before it can be submitted.\n - PENDING: The send transaction has exceeded the destination limit and is pending treasury approval.\n - APPROVED: The send transaction that was submitted has been approved.\n - COMPLETED: The requested funds have been sent from the source instrument.\n - REJECTED: The send transaction that was submitted was rejected.\n - FAILED: There was an issue with the send transaction, and the transaction has failed.\n - RETURNED: The send transaction has been returned to the sender.\n - SCHEDULED: The send transaction will be executed at the scheduled time.\n - CANCELLED: The scheduled send transaction has been cancelled.\n"
      enum:
      - INVALID
      - INITIALISED
      - COMPLETED
      - REJECTED
      - FAILED
      - PENDING
      - PENDING_CHALLENGE
      - APPROVED
      - RETURNED
      - SCHEDULED
      - CANCELLED
    ExecutionTimestamp:
      pattern: ^[0-9]+$
      type: string
      description: The epoch timestamp at which the transaction was executed, transitioning to a final state such as COMPLETED, REJECTED, or FAILED.
    ManagedInstrumentBalance:
      type: object
      description: Instruments with funds have 2 balances, the `availableBalance` indicating the funds that are available for transactions such as purchases, and the `actualBalance` indicating the funds that are actually on the instrument.
      properties:
        availableBalance:
          type: integer
          format: int64
          description: The funds available for transactions on the instrument. Funds that are blocked or pending are not included in the available balance.
        actualBalance:
          type: integer
          format: int64
          description: The funds that are actually on the instrument. Funds that are blocked or pending, due to for example, a purchase authorisation or a pending deposit, are included in the actual balance.
    CardPaymentStatus:
      type: string
      description: 'Lifecycle status of a CardPayment.


        - `SETTLEMENT_IN_PROGRESS` — authorised, not yet (or not fully) settled. The hold is still on the card.

        - `SETTLED` — fully settled. The customer has been charged.

        - `DECLINED` — the latest authorisation was declined; no money moved.

        - `CANCELLED` — the authorisation was cancelled/reversed before settlement; no charge applied.

        - `EXPIRED` — the authorisation timed out without settling.

        '
      enum:
      - SETTLEMENT_IN_PROGRESS
      - SETTLED
      - DECLINED
      - CANCELLED
      - EXPIRED
    TransactionActivityDirection:
      type: string
      description: Whether funds were credited to or debited from the instrument.
      enum:
      - CREDIT
      - DEBIT
    AccountLowBalanceThreshold:
      type: integer
      format: int64
      description: Sends a low balance notification webhook when the available balance drops below this amount. Currency is inherited from the managed account.
    ValidationError:
      type: array
      description: Is returned as part of an HTTP error response whenever a validation error is detected. A list of the fields together with their syntax error will be provided.
      items:
        type: object
        properties:
          fieldName:
            type: string
          message:
            maxLength: 255
            type: string
            description: When present helps to identify and fix the problem.
          error:
            type: string
            enum:
            - MUST_BE_FALSE
            - MUST_BE_TRUE
            - AT_MOST
            - AT_LEAST
            - FUTURE
            - FUTURE_OR_PRESENT
            - PAST
            - PAST_OR_PRESENT
            - LESS_THAN_ZERO
            - LESS_THAN_OR_EQUAL_TO_ZERO
            - GREATER_THAN_ZERO
            - GREATER_THAN_OR_EQUAL_TO_ZERO
            - HAS_TEXT
            - REQUIRED
            - REGEX
            - RANGE
            - IN
            - NOT_IN
            - NOT_EMPTY
            - ALL_OR_NONE
            - MUST_BE_EMPTY
            - DEPENDS_ON
            - INVALID_TYPE_OR_VALUE
            - INVALID_REQUEST
          params:
            type: array
            items:
              type: string
          invalidValue:
            type: array
            items:
              type: string
    ManagedAccount:
      required:
      - id
      - profileId
      - friendlyName
      - currency
      - balances
      - creationTimestamp
      - state
      type: object
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of a Managed Account.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        tag:
          $ref: '#/components/schemas/Tag'
        friendlyName:
          minLength: 1
          maxLength: 50
          type: string
          description: The friendly name given to the managed account.
        currency:
          $ref: '#/components/schemas/Currency'
        balances:
          $ref: '#/components/schemas/ManagedInstrumentBalance'
        state:
          $ref: '#/components/schemas/ManagedInstrumentState'
        creationTimestamp:
          type: integer
          format: int64
          description: The time when the managed account was created, expressed in Epoch timestamp using millisecond precision.
        lowBalanceThreshold:
          $ref: '#/components/schemas/AccountLowBalanceThreshold'
    TransactionState:
      type: string
      description: Status of the transaction.
      enum:
      - INITIALISED
      - COMPLETED
      - REJECTED
      - FAILED
      - PENDING
      - SCHEDULED
      - CANCELLED
    OutgoingWireTransferBeneficiary:
      deprecated: true
      required:
      - name
      - bankAccountDetails
      type: object
      description: 'Details of the beneficiary of the outgoing wire transfer.

        **Deprecated**: Use `SEPABeneficiary` for SEPA/IBAN transfers or `FasterPaymentsBeneficiary` for Faster Payments transfers instead.

        '
      properties:
        name:
          type: string
          description: 'The beneficiary''s full name. The allowed length and pattern is dependent on the bank account details type:


            `IBANDetails`: >= `1` character and <= `150` characters. An extended character set is accepted to cater for all European languages. If `SEPA` does not support a particular character, it is automatically converted to an acceptable alternative, in line with `SEPA` scheme guidance.


            `FasterPaymentsBankDetailsOrBACSBankDetails`: >= `1` character and <= `140` characters with a pattern of `^[a-zA-Z0-9\/\-?:().,’+\s#=!"%&*<>;\{@\r\n]*$`

            (please note that the `’` symbol is the unicode value U+2019 (right single quotation mark) and not the unicode value U+0027 (apostrophe))

            '
        type:
          type: string
          description: The type of beneficiary account. Required only when `FasterPaymentsBankDetailsOrBACSBankDetails` are specified
          enum:
          - PERSONAL
          - BUSINESS
        address:
          maxLength: 150
          minLength: 1
          type: string
          description: 'The beneficiary’s address. For `SEPA`, an extended character set is accepted to cater for all European languages. If `SEPA` does not support a particular character, it is automatically converted to an acceptable alternative, in line with `SEPA` scheme guidance.

            '
        bankName:
          type: string
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        bankAccountDetails:
          description: Details of the beneficiary bank account, depending on the type of transfer chosen.
          oneOf:
          - $ref: '#/components/schemas/IBANDetails'
          - $ref: '#/components/schemas/FasterPaymentsBankDetailsOrBACSBankDetails'
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    OutgoingWireTransferValidationOutcome:
      type: object
      required:
      - category
      - categoryResult
      properties:
        category:
          type: string
          enum:
          - UK_CONFIRMATION_OF_PAYEE
          - SEPA_VERIFICATION_OF_PAYEE
        categoryResult:
          oneOf:
          - $ref: '#/components/schemas/UKConfirmationOfPayeeResult'
          - $ref: '#/components/schemas/SEPAVerificationOfPayeeResult'
    TransactionActivityType:
      type: string
      description: "The type of transaction:\n  - transfers: Internal transfer between instruments of the same identity\n  - sends: Transfer between instruments of different identities\n  - outgoing_wire_transfers: Wire transfer to an external bank account\n  - correspondent_bank_transfers: Wire transfer on behalf of a third-party originator\n  - incoming_wire_transfers: Wire transfer received from an external bank account\n  - card_payments: Card payment (purchase, refund, OCT, etc.) with full lifecycle\n  - fees: Fee charged or reversed on an instrument\n  - system_transactions: System-generated transactions (balance adjustments, account closures, dispute outcomes, etc.)\n"
      enum:
      - transfers
      - sends
      - outgoing_wire_transfers
      - correspondent_bank_transfers
      - incoming_wire_transfers
      - card_payments
      - fees
      - system_transactions
    Card:
      type: object
      required:
      - id
      - type
      description: Information about a managed card — used wherever a card appears (the card on a card payment, or the access instrument that initiated a transaction).
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of the managed card.
        type:
          type: string
          enum:
          - managed_cards
        mode:
          type: string
          enum:
          - prepaid
          - debit
          description: "The mode the card was created in.\n  - `prepaid`: The card has its own balance and can have funds transferred to or from it.\n  - `debit`: The card has no balance of its own; it draws on its parent managed account up to a configurable spend limit.\n"
        friendlyName:
          type: string
          description: The friendly name chosen for the card.
        nameOnCard:
          type: string
          description: The cardholder name printed on the card.
        cardBrand:
          type: string
          enum:
          - MASTERCARD
          - VISA
          description: The scheme of the card. Restricted to schemes supported by card payments.
        cardNumberFirstSix:
          type: string
          pattern: ^[0-9]{6}$
          description: The first six digits of the card number (BIN range).
        cardNumberLastFour:
          type: string
          pattern: ^[0-9]{4}$
          description: The last four digits of the card number.
        linkedUserId:
          type: string
          pattern: ^[0-9]+$
          description: Identifier of the authorised user the card is assigned to. Populated only when the card has been assigned to a specific user.
        parentManagedAccountId:
          type: string
          pattern: ^[0-9]+$
          description: Identifier of the managed account this card draws funds from. Populated only when `mode` is `debit`.
    ScheduledTimestamp:
      pattern: ^[0-9]+$
      type: string
      description: The epoch timestamp at which the transaction is scheduled to be executed.
    TransactionActivitySortBy:
      type: string
      description: "The field to sort transaction activity results by:\n  - creationTimestamp: Sort by when the transaction was first created (default).\n  - lastUpdatedTimestamp: Sort by when the transaction was most recently updated.\n"
      enum:
      - creationTimestamp
      - lastUpdatedTimestamp
    TransactionId:
      required:
      - type
      - id
      type: object
      properties:
        type:
          enum:
          - AUTHORISATION
          - SETTLEMENT
          - MANUAL_TRANSACTION
          - TRANSFER
          - SEND
          - DEPOSIT
          - AUTHORISATION_REVERSAL
          - AUTHORISATION_EXPIRY
          - AUTHORISATION_DECLINE
          - AUTHORISATION_MANUAL_CLOSE
          - MERCHANT_REFUND
          - MERCHANT_REFUND_REVERSAL
          - ORIGINAL_CREDIT_TRANSACTION
          - SETTLEMENT_REVERSAL
          - ADJUSTMENT
          - CHARGE_FEE
          - WITHDRAWAL_RESERVE
          - WITHDRAWAL_RELEASE
          - FEE_REVERSAL
          - OUTGOING_WIRE_TRANSFER
          - AUTHORISATION_CANCELLATION
          - SYSTEM_TRANSACTION
          - OUTGOING_DIRECT_DEBIT_COLLECTION
          - OUTGOING_DIRECT_DEBIT_REFUND
          - LINKED_ACCOUNT_VERIFICATION_TRANSFER
          - INCOMING_WIRE_TRANSFER
          - FUNDING
          - TEST_FUNDING
          - CORRESPONDENT_BANK_TRANSFER
          type: string
          x-enumDescriptions:
            AUTHORISATION: ''
            SETTLEMENT: ''
            MANUAL_TRANSACTION: 'For a manual transaction, the `additionalFields`: `note` will contain a description with the reason for the transaction. This will start with one of the following prefixes:


              - Account Closure

              - Chargebacks - Represented

              - Chargebacks - Won

              - Deleted Card - Transfer from

              - Deleted Card - Transfer to

              - Duplicate Authorisation Issue

              - Duplicate Settlement Issue

              - Expired Card - Transfer from

              - Expired Card - Transfer to

              - Forex Padding Release Issue

              - Funds Redemption & Account Closure

              - Manual Auth Expiry

              - Missing Settlement Issue

              - Negative Card Balance

              - Reversal - Duplicate Transaction

              - Reversal - Manual Auth Expiry

              - Reversal - Manual Transaction

              - Amend Balance - Auth Expiry

              - Balance Adjustment

              - Completing Deposit

              - Duplicate Deposit

              '
            TRANSFER: ''
            SEND: ''
            DEPOSIT: ''
            AUTHORISATION_REVERSAL: ''
            AUTHORISATION_EXPIRY: ''
            AUTHORISATION_DECLINE: ''
            AUTHORISATION_MANUAL_CLOSE: ''
            MERCHANT_REFUND: ''
            MERCHANT_REFUND_REVERSAL: ''
            ORIGINAL_CREDIT_TRANSACTION: ''
            SETTLEMENT_REVERSAL: ''
            ADJUSTMENT: ''
            CHARGE_FEE: ''
            WITHDRAWAL_RESERVE: ''
            WITHDRAWAL_RELEASE: ''
            FEE_REVERSAL: ''
            OUTGOING_WIRE_TRANSFER: ''
            AUTHORISATION_CANCELLATION: ''
            SYSTEM_TRANSACTION: ''
            OUTGOING_DIRECT_DEBIT_COLLECTION: ''
            OUTGOING_DIRECT_DEBIT_REFUND: ''
        id:
          type: string
          pattern: ^[0-9]+$
    DestroyedReason:
      type: string
      description: "The reason why the instrument has been destroyed:\n  - SYSTEM: The platform or an administrator of the platform has destroyed the instrument.\n  - USER: The root, or an authorised user, of the identity owning the instrument has destroyed the instrument.\n  - LOST: The instrument was automatically destroyed as it was marked as lost.\n  - STOLEN: The instrument was automatically destroyed as it was marked as stolen.\n  - EXPIRED: The instrument was automatically destroyed as it expired.\n  - COMPROMISED: The instrument was automatically destroyed as it was marked as compromised.\n  - SINGLE_SPEND: The instrument was automatically destroyed as it was a single-spend card that was used.\n"
      enum:
      - SYSTEM
      - USER
      - LOST
      - STOLEN
      - EXPIRED
      - COMPROMISED
      - SINGLE_SPEND
    CorrespondentBankingOwt:
      required:
      - id
      - profileId
      - creationTimestamp
      - sourceInstrument
      - amount
      - originator
      - beneficiary
      - purpose
      - state
      type: object
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of the Correspondent Banking OWT.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        tag:
          $ref: '#/components/schemas/Tag'
        sourceInstrument:
          required:
          - type
          - id
          type: object
          description: The source managed account from where the funds were taken.
          properties:
            type:
              type: string
              enum:
              - managed_accounts
            id:
              type: string
              pattern: ^[0-9]+$
        amount:
          description: The amount transferred.
          $ref: '#/components/schemas/CurrencyAmount'
        originator:
          oneOf:
          - $ref: '#/components/schemas/CorrespondentBankingIndividualOriginator'
          - $ref: '#/components/schemas/CorrespondentBankingBusinessOriginator'
        beneficiary:
          oneOf:
          - $ref: '#/components/schemas/CorrespondentBankingSEPABeneficiary'
          - $ref: '#/components/schemas/CorrespondentBankingRIXBeneficiary'
          - $ref: '#/components/schemas/CorrespondentBankingFasterPaymentsBeneficiary'
        purpose:
          type: string
          maxLength: 255
          description: The purpose of the payment.
        description:
          maxLength: 35
          type: string
          description: 'These details are passed to the beneficiary as the `reference`. This field is mandatory for wire transfers executed over `SEPA`. The allowed length is dependent on the payment type:


            `SEPA` <= `35` characters. An extended character set is accepted to cater for all European languages. If `SEPA` does not support a particular character, it is automatically converted to an acceptable alternative, in line with `SEPA` scheme guidance.


            `Faster Payments` <= `18` characters

            '
        externalData:
          type: array
          description: Additional external data as key-value pairs.
          items:
            $ref: '#/components/schemas/CorrespondentBankingExternalData'
        state:
          $ref: '#/components/schemas/CorrespondentBankingOwtState'
        creationTimestamp:
          type: integer
          format: int64
          description: The time when the transaction was created, expressed in Epoch timestamp using millisecond precision.
        scheduledTimestamp:
          $ref: '#/components/schemas/ScheduledTimestamp'
        cancellationReason:
          $ref: '#/components/schemas/TransactionCancellationReason'
        validationOutcomes:
          type: array
          items:
            $ref: '#/components/schemas/CorrespondentBankingOwtValidationOutcome'
    SEPABeneficiary:
      required:
      - name
      - iban
      type: object
      description: Beneficiary details for SEPA/IBAN wire transfers.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 150
          description: 'The beneficiary''s full name. >= 1 character and <= 150 characters.

            An extended character set is accepted to cater for all European languages.

            If SEPA does not support a particular character, it is automatically

            converted to an acceptable alternative, in line with SEPA scheme guidance.

            '
        iban:
          type: string
          minLength: 15
          maxLength: 34
          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
          description: International Bank Account Number, required for wire transfer over SEPA.
        bankIdentifierCode:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
          description: BIC (Bank Identifier Code) for wire transfer over SEPA.
        address:
          maxLength: 150
          minLength: 1
          type: string
          description: 'The beneficiary''s address. An extended character set is accepted to cater

            for all European languages. If SEPA does not support a particular character,

            it is automatically converted to an acceptable alternative.

            '
        bankName:
          type: string
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    IncomingWireTransferMultiState:
      type: string
      description: "The state of an incoming wire transfer:\n  - PENDING: The transfer has been received and is being processed. Funds have not yet been credited to the destination account.\n  - COMPLETED: Funds have been credited to the destination account.\n  - REJECTED: The transfer was not accepted; funds were not credited.\n"
      enum:
      - PENDING
      - COMPLETED
      - REJECTED
    ExternalAccountType:
      type: string
      enum:
      - linked_accounts
    FeeTransaction:
      type: object
      required:
      - id
      - feeType
      - amount
      - instrument
      - status
      - creationTimestamp
      description: 'A fee charged or reversed on an instrument. Surfaced through `GET /fees`,

        `GET /transactions` (Transaction Activity), and as line items on statements.

        '
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of the fee transaction.
        feeType:
          $ref: '#/components/schemas/FeeSubtype'
        amount:
          description: The fee amount in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        instrument:
          description: The instrument the fee was charged against.
          $ref: '#/components/schemas/InstrumentId'
        status:
          $ref: '#/components/schemas/FeeTransactionStatus'
        description:
          type: string
          maxLength: 255
        relatedTransactionId:
          type: string
          pattern: ^[0-9]+$
          description: The parent transaction this fee relates to, if any.
        creationTimestamp:
          type: integer
          format: int64
        lastUpdatedTimestamp:
          type: integer
          format: int64
    StatementEntryState:
      type: string
      description: "The transaction entry state, as follows:\n  - PENDING: The transaction has started and some of the fund movements have completed, however additional fund movements are still pending to finalise the transaction.\n  - COMPLETED: All fund movements for a transaction have completed.\n"
      enum:
      - PENDING
      - COMPLETED
    ProfileId:
      type: string
      description: 'The profile Id which a specific identity, instrument or transaction type is linked to.


        Profiles contain configuration and determine behavioral aspects of the newly created transaction, for example, fees that may apply.


        You can have one or more profiles linked to your application, and these can be used to drive different behaviors according to your product''s needs.


        Profile Ids can be found in the Multi Portal, in the API Credentials page.

        '
      pattern: ^[0-9]+$
    Id:
      type: string
      pattern: ^[0-9]+$
    CorrespondentBankingSEPABeneficiary:
      required:
      - name
      - iban
      - address
      type: object
      description: CBT-specific beneficiary details for SEPA/IBAN wire transfers with Banking Circle FI-to-FI field limits.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 35
          description: 'The beneficiary''s full name. >= 1 character and <= 35 characters.

            An extended character set is accepted to cater for all European languages.

            If SEPA does not support a particular character, it is automatically

            converted to an acceptable alternative, in line with SEPA scheme guidance.

            '
        iban:
          type: string
          minLength: 15
          maxLength: 34
          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
          description: International Bank Account Number, required for wire transfer over SEPA.
        bankIdentifierCode:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
          description: BIC (Bank Identifier Code) for wire transfer over SEPA.
        address:
          maxLength: 105
          minLength: 1
          type: string
          description: 'The beneficiary''s address. Required for correspondent banking transfers.

            Maximum 105 characters (split into 3x35-char lines by the provider).

            '
        bankName:
          type: string
          maxLength: 150
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    SWIFTBeneficiary:
      required:
      - name
      - account
      - address
      - bankCountry
      type: object
      description: Beneficiary details for SWIFT wire transfers.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 150
          description: The beneficiary's full name.
        account:
          type: string
          minLength: 1
          maxLength: 34
          pattern: ^[a-zA-Z0-9]{1,34}$
          description: Can be either an account number or an International Bank Account Number (IBAN).
        bankIdentifierCode:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{8,11}$
          description: Required if account is not an IBAN. Bank Identifier Code (BIC).
        address:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's address.
        bankName:
          type: string
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    StatementTransactionType:
      type: string
      enum:
      - AUTHORISATION
      - SETTLEMENT
      - MANUAL_TRANSACTION
      - TRANSFER
      - SEND
      - DEPOSIT
      - AUTHORISATION_REVERSAL
      - AUTHORISATION_EXPIRY
      - AUTHORISATION_DECLINE
      - AUTHORISATION_MANUAL_CLOSE
      - MERCHANT_REFUND
      - MERCHANT_REFUND_REVERSAL
      - ORIGINAL_CREDIT_TRANSACTION
      - SETTLEMENT_REVERSAL
      - ADJUSTMENT
      - CHARGE_FEE
      - WITHDRAWAL_RESERVE
      - WITHDRAWAL_RELEASE
      - FEE_REVERSAL
      - OUTGOING_WIRE_TRANSFER
      - AUTHORISATION_CANCELLATION
      - SYSTEM_TRANSACTION
      - OUTGOING_DIRECT_DEBIT_COLLECTION
      - OUTGOING_DIRECT_DEBIT_REFUND
      - CORRESPONDENT_BANK_TRANSFER
    CorrespondentBankingFasterPaymentsBeneficiary:
      required:
      - name
      - type
      - accountNumber
      - sortCode
      - address
      type: object
      description: CBT-specific beneficiary details for Faster Payments wire transfers with Banking Circle FI-to-FI field limits.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 35
          pattern: ^[a-zA-Z0-9\/\-?:().,'+\s#=!"%&*<>;\{@\r\n]*$
          description: 'The beneficiary''s full name. >= 1 character and <= 35 characters.

            Note: the '' symbol is the unicode value U+2019 (right single quotation mark)

            and not the unicode value U+0027 (apostrophe).

            '
        type:
          type: string
          description: The type of beneficiary account. Required for Faster Payments.
          enum:
          - PERSONAL
          - BUSINESS
        accountNumber:
          type: string
          pattern: ^[0-9]{8}$
          description: Account number, required for wire transfer over Faster Payments.
        sortCode:
          type: string
          pattern: ^[0-9]{6}$
          description: Sort code, required for wire transfer over Faster Payments.
        secondaryReference:
          type: string
          description: Optional secondary reference for accounts without unique sort codes.
        address:
          maxLength: 105
          minLength: 1
          type: string
          description: 'The beneficiary''s address. Required for correspondent banking transfers.

            Maximum 105 characters (split into 3x35-char lines by the provider).

            '
        bankName:
          type: string
          maxLength: 150
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    CorrespondentBankingBusinessAddressAndIdInfo:
      required:
      - documentType
      - documentNumber
      type: object
      description: Business identification for a business originator.
      properties:
        documentType:
          type: string
          enum:
          - LEI
          - REGISTRATION_NUMBER
          - TAX_ID
          - OTHER
          description: Type of business identification document.
        documentNumber:
          type: string
          maxLength: 35
          description: Business identification document number (e.g. LEI code, company registration number).
    Nationality:
      maxLength: 2
      minLength: 2
      pattern: ^[A-Z]+$
      type: string
      description: Nationality of the user - using ISO 3166 alpha-2.
    CorrespondentBankingRIXBeneficiary:
      required:
      - name
      - iban
      - address
      type: object
      description: CBT-specific beneficiary details for RIX wire transfers with Banking Circle FI-to-FI field limits.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 35
          description: 'The beneficiary''s full name. >= 1 character and <= 35 characters.

            An extended character set is accepted to cater for all European languages.

            If RIX does not support a particular character, it is automatically

            converted to an acceptable alternative.

            '
        iban:
          type: string
          minLength: 15
          maxLength: 34
          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
          description: International Bank Account Number, required for wire transfer over RIX.
        bankIdentifierCode:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
          description: BIC (Bank Identifier Code) for wire transfer over RIX.
        address:
          maxLength: 105
          minLength: 1
          type: string
          description: 'The beneficiary''s address. Required for correspondent banking transfers.

            Maximum 105 characters (split into 3x35-char lines by the provider).

            '
        bankName:
          type: string
          maxLength: 150
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    UserCurrencyTransactionDetails:
      required:
      - userTransactionAmount
      - userExchangeRate
      type: object
      properties:
        userTransactionAmount:
          $ref: '#/components/schemas/CurrencyAmount'
        userExchangeRate:
          type: string
      description: The object representing the user transaction's currency, amount and rate.
    OutgoingWireTransfer:
      required:
      - id
      - profileId
      - creationTimestamp
      - sourceInstrument
      - transferAmount
      - state
      type: object
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of an Outgoing Wire Transfer transaction.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        tag:
          $ref: '#/components/schemas/Tag'
        sourceInstrument:
          required:
          - type
          - id
          type: object
          description: The source managed account from where the funds were taken.
          properties:
            type:
              type: string
              enum:
              - managed_accounts
            id:
              type: string
              pattern: ^[0-9]+$
        transferAmount:
          description: The amount, in same currency as source and destination, that was transferred from the source.
          $ref: '#/components/schemas/CurrencyAmount'
        fee:
          description: The fee charged on this outgoing wire transfer. Omitted when no fee was charged.
          $ref: '#/components/schemas/CurrencyAmount'
        purpose:
          type: string
          maxLength: 255
          description: The purpose of the payment.
        description:
          maxLength: 50
          type: string
          description: ' Transaction description.'
        type:
          $ref: '#/components/schemas/OutgoingWireTransferType'
        destination:
          oneOf:
          - $ref: '#/components/schemas/OutgoingWireTransferBeneficiary'
          - $ref: '#/components/schemas/SEPABeneficiary'
          - $ref: '#/components/schemas/SWIFTBeneficiary'
          - $ref: '#/components/schemas/RIXBeneficiary'
          - $ref: '#/components/schemas/FasterPaymentsBeneficiary'
          - $ref: '#/components/schemas/BeneficiaryId'
          - $ref: '#/components/schemas/ExternalAccountId'
        state:
          $ref: '#/components/schemas/OutgoingWireTransferState'
        rejectedInfo:
          $ref: '#/components/schemas/OutgoingWireTransferRejectedInfo'
        challengeExemptionReason:
          $ref: '#/components/schemas/ChallengeExemptionReason'
        creationTimestamp:
          type: integer
          format: int64
          description: The time when the transaction was created, expressed in Epoch timestamp using millisecond precision.
        scheduledTimestamp:
          $ref: '#/components/schemas/ScheduledTimestamp'
        executionTimestamp:
          $ref: '#/components/schemas/ExecutionTimestamp'
        cancellationReason:
          $ref: '#/components/schemas/TransactionCancellationReason'
        validationOutcomes:
          type: array
          items:
            $ref: '#/components/schemas/OutgoingWireTransferValidationOutcome'
    TransactionCancellationReason:
      type: string
      pattern: ^[ a-zA-Z0-9_-]+$
      maxLength: 50
      description: The reason the scheduled transaction was cancelled.
    SystemTransaction:
      type: object
      required:
      - id
      - amount
      - instrument
      - status
      - creationTimestamp
      description: 'A system-generated transaction applied to an instrument by the platform (balance adjustments,

        account closures, dispute outcomes, replacement balance transfers, etc.). Only surfaced

        through Transaction Activity.

        '
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of the system transaction.
        subtype:
          $ref: '#/components/schemas/SystemTransactionSubtype'
        amount:
          description: The transaction amount in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        instrument:
          description: The instrument the transaction was applied to.
          $ref: '#/components/schemas/InstrumentId'
        status:
          $ref: '#/components/schemas/TransactionActivityStatus'
        reason:
          type: string
          maxLength: 255
          description: Operational reason or context for the system transaction.
        relatedTransactionId:
          type: string
          pattern: ^[0-9]+$
          description: A related transaction this system event corrects or compensates, if any.
        creationTimestamp:
          type: integer
          format: int64
        lastUpdatedTimestamp:
          type: integer
          format: int64
    SyntaxError:
      type: object
      description: Is returned as part of an HTTP error response whenever a syntax error is detected. A list of the fields together with their syntax error will be provided.
      properties:
        invalidFields:
          type: array
          items:
            type: object
            properties:
              params:
                type: array
                items:
                  type: string
              fieldName:
                type: string
              error:
                type: string
                enum:
                - REQUIRED
                - HAS_TEXT
                - REQUIRES
                - SIZE
                - RANGE
                - IN
                - NOT_IN
                - REGEX
                - EXACTLY
                - AT_LEAST
                - AT_MOST
                - ALL_OR_NONE
    CardPaymentType:
      type: string
      description: 'High-level type of card payment, derived from the first event.


        - `PURCHASE` — standard purchase at a merchant.

        - `REFUND` — refund from a merchant to the cardholder.

        - `ORIGINAL_CREDIT` — push credit to the cardholder (OCT).

        - `ACCOUNT_FUNDING` — load funds onto an account.

        - `CASH_WITHDRAWAL` — cash withdrawn at ATM or scheme cash service.

        - `BALANCE_INQUIRY` — non-financial balance check.

        '
      enum:
      - PURCHASE
      - REFUND
      - ORIGINAL_CREDIT
      - ACCOUNT_FUNDING
      - CASH_WITHDRAWAL
      - BALANCE_INQUIRY
    CorrespondentBankingOwtValidationOutcome:
      type: object
      required:
      - category
      - categoryResult
      properties:
        category:
          type: string
          enum:
[...]
