openapi: 3.2.0
info:
  title: Weavr Managed Cards API
  contact:
    name: Weavr
    url: https://weavr.io
  x-logo:
    url: https://storage.googleapis.com/weavr-cdn/weavr_logo-new.png
    backgroundColor: '#FFFFFF'
    altText: Weavr
  version: '1.0'
  description: 'Operations tagged Managed Cards across 3 of this provider''s published API definitions: weavr-multi-backoffice-openapi-original.yml, weavr-multi-openapi-original.yml, weavr-webhooks-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: Weavr Sandbox Environment
  url: https://sandbox.weavr.io/multi/backoffice
- description: Weavr Sandbox Environment
  url: https://sandbox.weavr.io/multi
- url: '""'
tags:
- name: Managed Cards
  description: "Managed Cards are a type of financial instrument offered by Weavr. \nCards created in prepaid mode have their own balance, whereas those created in debit mode tap into the balance of their parent Managed Accounts. \nApart from being used at merchants for puchases, prepaid mode cards can also be used as sources and destinations in the `transfer` transaction.\n\nWith the `access_token` representing the identity and the consent of the identity, you will be able to perform operations on the identity's Managed Cards,\nsuch as getting a Managed Card's details and managing its spend rules.\n"
paths:
  /managed_cards/{id}:
    get:
      tags:
      - Managed Cards
      description: Returns all details of the managed card identified by the `id` path parameter.
      summary: Get a managed card
      operationId: managedCardGet
      parameters:
      - name: id
        in: path
        description: The unique identifier of a card.
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardGetResponse'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    patch:
      tags:
      - Managed Cards
      description: Update the details of the managed card identified by the `id` path parameter.
      summary: Update a managed card
      operationId: managedCardUpdate
      x-permissions:
      - i:managed_cards:update
      - i:managed_cards:update:all
      - i:managed_cards:update:own
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of a card.
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardUpdateConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi/backoffice
  /managed_cards/{id}/renewal:
    patch:
      tags:
      - Managed Cards
      description: 'Update the renewal type of the managed card identified by the `id` path parameter.


        Please contact our support team or your account manager to request access to this endpoint.

        '
      summary: Update a managed card's renewal type
      operationId: managedCardRenewalTypeUpdate
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of a card.
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardRenewalTypeUpdateRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardUpdateConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi/backoffice
  /managed_cards/{id}/remove:
    post:
      tags:
      - Managed Cards
      description: 'Destroys the managed card identified by the `id` path parameter. Unlike block, this action is not reversible.


        A managed card must be empty before it can be destroyed using this operation.

        '
      summary: Remove a managed card
      operationId: managedCardRemove
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of a managed card.
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardRemoveConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi/backoffice
  /managed_cards/{id}/block:
    post:
      tags:
      - Managed Cards
      description: Blocks the managed card identified by the `id` path parameter. This is a reversible action and the card can be unblocked using the _managedCardUnblock_ operation.
      summary: Block a managed card
      operationId: managedCardBlock
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of a managed card.
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardBlockConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi/backoffice
  /managed_cards/{id}/unblock:
    post:
      tags:
      - Managed Cards
      description: 'Unblocks the managed card identified by the `id` path parameter.

        The managed card must have `state.blockedReason` as `USER` so that it can be unblocked.

        If the managed card was blocked by `SYSTEM`, users cannot unblock it.

        '
      summary: Unblock a managed card
      operationId: managedCardUnblock
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the managed card.
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardUnblockConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi/backoffice
  /managed_cards/{id}/spend_rules:
    get:
      tags:
      - Managed Cards
      summary: Get all spend rules for a managed card
      operationId: managedCardSpendRulesGet
      description: Fetch the list of spend rules associated with the managed card identified by the `id` path parameter.
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardSpendRulesGetResponse'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    post:
      tags:
      - Managed Cards
      summary: Create spend rules for a managed card
      operationId: managedCardSpendRulesCreate
      description: Create the spend rules associated with the managed card identified by the `id` path parameter.
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      requestBody:
        $ref: '#/components/requestBodies/CardLevelSpendRulesRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardSpendRulesCreateConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    patch:
      tags:
      - Managed Cards
      summary: Update spend rules for a managed card
      operationId: managedCardSpendRulesUpdate
      description: Must be user after a POST, to update individual spend rules associated with the managed card identified by the `id` path parameter.
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/UpdateCardLevelSpendRulesRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardSpendRulesUpdateConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    delete:
      tags:
      - Managed Cards
      summary: Delete all spend rules for a managed card
      operationId: managedCardSpendRulesDelete
      description: Remove all spend rules associated with the managed card identified by the `id` path parameter.
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi/backoffice
  /managed_cards/{id}/statement:
    get:
      tags:
      - Managed Cards
      description: Returns a list of transactions against the managed card identified by the `id` path parameter, matching the criteria provided in the request.
      summary: Get a managed card statement
      operationId: managedCardStatement
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of a managed card.
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/orderByTimestamp'
      - $ref: '#/components/parameters/fromTimestamp'
      - $ref: '#/components/parameters/toTimestamp'
      - $ref: '#/components/parameters/singleEntryPerTransaction'
      - $ref: '#/components/parameters/statementTransactionType'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardStatementResponse'
        '400':
          $ref: '#/components/responses/BackofficeBadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi/backoffice
  /managed_cards:
    post:
      tags:
      - Managed Cards
      description: 'Creates a managed card for the consumer or corporate identity.

        The Managed Card Profile (configured in the Multi Portal) specified determines the behaviour and restrictions that the managed card will have.

        '
      summary: Create a managed card
      operationId: managedCardCreate
      x-permissions:
      - i:managed_cards:create
      parameters:
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardRequest'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '409':
          $ref: '#/components/responses/ManagedCardConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    get:
      tags:
      - Managed Cards
      description: Fetch cards matching the search criteria provided.
      summary: Get all managed cards
      operationId: managedCardsGet
      x-permissions:
      - i:managed_cards:list
      - i:managed_cards:list:all
      - i:managed_cards:list:own
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/profileId'
      - $ref: '#/components/parameters/friendlyName'
      - $ref: '#/components/parameters/state'
      - $ref: '#/components/parameters/state_blockedReason'
      - $ref: '#/components/parameters/state_destroyedReason'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/card_type'
      - $ref: '#/components/parameters/card_renewal_type'
      - name: externalHandle
        in: query
        required: false
        description: Search by the card's `externalHandle`.
        schema:
          type: string
      - name: cardNumberFirstSix
        in: query
        required: false
        description: Filter by first six digits of the card.
        schema:
          pattern: ^[0-9]{6}$
          type: string
      - name: cardNumberLastFour
        in: query
        required: false
        description: Filter by last four digits of the card.
        schema:
          pattern: ^[0-9]{4}$
          type: string
      - $ref: '#/components/parameters/createdFrom'
      - $ref: '#/components/parameters/createdTo'
      - name: mode
        in: query
        required: false
        description: Filter by card mode (prepaid mode or debit mode).
        schema:
          type: string
          enum:
          - DEBIT_MODE
          - PREPAID_MODE
      - $ref: '#/components/parameters/tag'
      - name: parentManagedAccountId
        in: query
        required: false
        description: Filter by the Id of the parent managed account associated with the card. This is applicable only for debit mode cards.
        schema:
          type: string
          pattern: ^[0-9]+$
      - name: manufacturingState
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ManufacturingState'
      - $ref: '#/components/parameters/userIdQuery'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardPageResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /deprecated/managed_cards/{id}/statement:
    get:
      deprecated: true
      tags:
      - Managed Cards
      description: Deprecated in favour of [GET /managed_cards/{id}/statements](#tag/Managed-Cards/operation/managedCardStatements). Returns a list of transactions against the managed card identified by the `id` path parameter, matching the criteria provided in the request.
      summary: Get a managed card statement (deprecated)
      operationId: managedCardStatementDeprecated
      x-permissions:
      - i:managed_cards:statement
      - i:managed_cards:statement:own
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of a managed card.
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/statementLimit'
      - $ref: '#/components/parameters/orderByTimestamp'
      - $ref: '#/components/parameters/fromTimestamp'
      - $ref: '#/components/parameters/toTimestamp'
      - $ref: '#/components/parameters/singleEntryPerTransaction'
      - $ref: '#/components/parameters/statementTransactionType'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardStatementResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /managed_cards/{id}/transactions:
    get:
      tags:
      - Managed Cards
      description: 'Returns all transactional activity on the managed card identified by the `id` path parameter.


        This includes pending authorisations, completed settlements, refunds, and all other card transaction types

        in a unified schema.

        '
      summary: Get transaction activity for a managed card
      operationId: managedCardTransactionsGet
      x-permissions:
      - i:managed_cards:statement
      - i:managed_cards:statement:own
      parameters:
      - name: id
        in: path
        description: The unique identifier of the managed card.
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/transactionActivityType'
      - $ref: '#/components/parameters/transactionActivityStatus'
      - $ref: '#/components/parameters/transactionActivityDirection'
      - $ref: '#/components/parameters/creationTimestampFrom'
      - $ref: '#/components/parameters/creationTimestampTo'
      - $ref: '#/components/parameters/lastUpdatedTimestampFrom'
      - $ref: '#/components/parameters/lastUpdatedTimestampTo'
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/transactionActivitySortBy'
      responses:
        '200':
          $ref: '#/components/responses/InstrumentTransactionActivityListResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /managed_cards/{id}/transactions/{transactionId}:
    get:
      tags:
      - Managed Cards
      description: Returns a specific transaction on the managed card.
      summary: Get a specific transaction for a managed card
      operationId: managedCardTransactionGet
      x-permissions:
      - i:managed_cards:statement
      - i:managed_cards:statement:own
      parameters:
      - name: id
        in: path
        description: The unique identifier of the managed card.
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
      - name: transactionId
        in: path
        description: The unique identifier of the transaction.
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '200':
          $ref: '#/components/responses/InstrumentTransactionActivityResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /managed_cards/{id}/physical:
    post:
      tags:
      - Managed Cards
      description: 'Upgrades the virtual card identified by the `id` path parameter to physical.


        Before cards can be upgraded, a physical card programme must be set up and the card profile configuration updated accordingly.

        '
      summary: Upgrade a card to physical
      operationId: managedCardPhysicalUpgrade
      x-permissions:
      - i:managed_cards:create_physical
      - i:managed_cards:create_physical:own
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardPhysicalUpgradeRequest'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardGetResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalUpgradeConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /managed_cards/{id}/physical/activate:
    post:
      tags:
      - Managed Cards
      description: Activates the physical card identified by the `id` path paramter.
      summary: Activate a physical card
      operationId: managedCardPhysicalActivate
      x-permissions:
      - i:managed_cards:activate_physical
      - i:managed_cards:activate_physical:own
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardPhysicalActivateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardGetResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalActivateConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /managed_cards/{id}/physical/pin:
    get:
      tags:
      - Managed Cards
      description: Retrieves the PIN of the physical card identified by the `id` path parameter.
      summary: Get PIN for a physical card
      operationId: managedCardPhysicalPinGet
      x-permissions:
      - i:managed_cards:get_physical_pin
      - i:managed_cards:get_physical_pin:own
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardPhysicalPinGetResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalPinGetConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /managed_cards/{id}/physical/pin/unblock:
    patch:
      tags:
      - Managed Cards
      description: 'Physical cards can be marked as `pinBlocked` if there are too many failed PIN attempts.


        Use this operation to unblock a PIN so that the card can be used again.

        '
      summary: Unblock PIN for a physical card
      operationId: managedCardPhysicalPinUnBlock
      x-permissions:
      - i:managed_cards:unblock_physical_pin
      - i:managed_cards:unblock_physical_pin:own
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalPinUnBlockConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /managed_cards/{id}/physical/replace_damaged:
    post:
      tags:
      - Managed Cards
      description: Report as damaged, and replace the physical card identified by the `id` path parameter.
      summary: Replace a damaged physical card
      operationId: managedCardPhysicalReplaceDamaged
      x-permissions:
      - i:managed_cards:replace_damaged
      - i:managed_cards:replace_damaged:own
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardPhysicalReplaceDamagedRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalReplaceDamagedConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /managed_cards/{id}/physical/report_lost:
    post:
      tags:
      - Managed Cards
      description: Report the physical card identified by the `id` path parameter as lost. This will deactivate the instrument and a new card will need to be requested.
      summary: Report a physical card as lost
      operationId: managedCardPhysicalReportLost
      x-permissions:
      - i:managed_cards:report_lost
      - i:managed_cards:report_lost:own
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalReportLostConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /managed_cards/{id}/physical/report_stolen:
    post:
      tags:
      - Managed Cards
      description: 'Report the physical card identified by the `id` path parameter as stolen. This will destroy the instrument and a new replacement card will need to be requested.


        Once a replacement is requested, any funds remaining on this destroyed card will be transferred to the replacement card."

        '
      summary: Report a physical card as stolen
      operationId: managedCardPhysicalReportStolen
      x-permissions:
      - i:managed_cards:report_stolen
      - i:managed_cards:report_stolen:own
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalReportStolenConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /managed_cards/{id}/physical/replace_lost_stolen:
    post:
      tags:
      - Managed Cards
      description: 'Issue a replacement for the physical card, identified by the `id` path parameter, that has already been reported as lost or stolen.


        Any funds (that are not blocked pending a purchase for a previous authorisation) remaining on the card will be automatically transferred to the new replacement card.

        '
      summary: Replace a lost or stolen physical card
      operationId: managedCardPhysicalReplaceLostOrStolen
      x-permissions:
      - i:managed_cards:replace_lost_stolen
      - i:managed_cards:replace_lost_stolen:own
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardPhysicalReplaceLostOrStolenRequest'
      responses:
        '200':
          $ref: '#/components/responses/ManagedCardGetResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InstrumentForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalReplaceLostOrStolenConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
  /managed_cards/{id}/physical/contactless_limit/reset:
    post:
      tags:
      - Managed Cards
      description: 'For security purposes, the cardholder needs to provide the PIN after a number of contactless purchases. Use this operation to reset the physical card''s contactless limit.

        The contactless limit can only be reset for physical cards having the wearable form factor.

        '
      summary: Reset contactless limit for a physical card
      operationId: managedCardPhysicalContactlessLimitReset
      x-permissions:
      - i:managed_cards:reset_contactless_limit
      - i:managed_cards:reset_contactless_limit:own
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        schema:
          type: string
          pattern: ^[0-9]+$
      - $ref: '#/components/parameters/idempotency-ref'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ManagedCardPhysicalContactlessLimitResetConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi
webhooks:
  /managed_cards/state_change/watch:
    post:
      tags:
      - Managed Cards
      summary: Card state change
      description: 'Notification that a card has changed state. The following events trigger a notification:

        - Activate a physical card.

        - Remove a managed card.

        - Report a physical card as lost.

        - Report a physical card as stolen.

        - Mark a virtual card as compromised.

        - Card has expired.

        - Block a managed card.

        - Unblock a managed card.

        - Update card renewal type.


        Please note that since a card can have multiple blocks, an unblock event (for which a notification is sent) may not always result in the card state being updated to Active.

        '
      operationId: managed_cards_state_change_watch
      parameters:
      - $ref: '#/components/parameters/call-ref'
      - $ref: '#/components/parameters/published-timestamp'
      - $ref: '#/components/parameters/signature'
      - $ref: '#/components/parameters/signature-v2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedCardsStateChangeEvent'
        required: true
      responses:
        '204':
          description: Success - No Content
    servers:
    - url: '""'
  /managed_cards/authorisations/watch:
    post:
      tags:
      - Managed Cards
      summary: Card authorisation
      description: 'Notification that a card authorisation attempt has been performed

        on a managed card. This is sent irrespective of the authorisation outcome

        - the `approved` field indicates whether the authorisation has been approved or denied.

        '
      operationId: managed_cards_authorisations_watch
      parameters:
      - $ref: '#/components/parameters/call-ref'
      - $ref: '#/components/parameters/published-timestamp'
      - $ref: '#/components/parameters/signature'
      - $ref: '#/components/parameters/signature-v2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedCardsAuthorisationEvent'
        required: true
      responses:
        '204':
          description: Success - No Content
    servers:
    - url: '""'
  /managed_cards/adjustments/watch:
    post:
      tags:
      - Managed Cards
      summary: Card adjustment
      description: Notification that a balance adjustment has been processed on a managed card.
      operationId: managed_cards_adjustments_watch
      parameters:
      - $ref: '#/components/parameters/call-ref'
      - $ref: '#/components/parameters/published-timestamp'
      - $ref: '#/components/parameters/signature'
      - $ref: '#/components/parameters/signature-v2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedCardsAdjustmentEvent'
        required: true
      responses:
        '204':
          description: Success - No Content
    servers:
    - url: '""'
  /managed_cards/settlements/watch:
    post:
      tags:
      - Managed Cards
      summary: Card settlement
      description: Notification that a card settlement has been processed on a managed card.
      operationId: managed_cards_settlements_watch
      parameters:
      - $ref: '#/components/parameters/call-ref'
      - $ref: '#/components/parameters/published-timestamp'
      - $ref: '#/components/parameters/signature'
      - $ref: '#/components/parameters/signature-v2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedCardsSettlementEvent'
        required: true
      responses:
        '204':
          description: Success - No Content
    servers:
    - url: '""'
  /managed_cards/expiries/watch:
    post:
      tags:
      - Managed Cards
      summary: Card expiry and renewal
      description: Notification that a card is about to expire, a card Expired or a Card was renewed.
      operationId: managed_cards_expiries_watch
      parameters:
      - $ref: '#/components/parameters/call-ref'
      - $ref: '#/components/parameters/published-timestamp'
      - $ref: '#/components/parameters/signature'
      - $ref: '#/components/parameters/signature-v2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedCardsExpiryAndRenewalEvent'
        required: true
      responses:
        '204':
          description: Success - No Content
    servers:
    - url: '""'
  /managed_cards/physical_cards_upgrade/watch:
    post:
      tags:
      - Managed Cards
      summary: Card upgrade to physical details
      description: Notification that there has been an update in the card upgrade to physical process
      operationId: managed_cards_physical_cards_upgrade_watch
      parameters:
      - $ref: '#/components/parameters/call-ref'
      - $ref: '#/components/parameters/published-timestamp'
      - $ref: '#/components/parameters/signature'
      - $ref: '#/components/parameters/signature-v2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedCardsUpgradeToPhysicalEvent'
        required: true
      responses:
        '204':
          description: Success - No Content
    servers:
    - url: '""'
  /managed_cards/replacement/watch:
    post:
      tags:
      - Managed Cards
      summary: Card replacement
      description: Notification that a card replacement has been requested or processed.
      operationId: managed_cards_replacement_watch
      parameters:
      - $ref: '#/components/parameters/call-ref'
      - $ref: '#/components/parameters/published-timestamp'
      - $ref: '#/components/parameters/signature'
      - $ref: '#/components/parameters/signature-v2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedCardsReplacementEvent'
        required: true
      responses:
        '204':
          description: Success - No Content
    servers:
    - url: '""'
  /managed_cards/payments/watch:
    post:
      tags:
      - Managed Cards
      summary: Card transaction lifecycle update
      description: 'Notification that a card payment (the aggregate of related authorisations,

        settlements, reversals, refunds and chargebacks) has been created or updated.

        The payload carries the full current state of the CardPayment, including

        its event history with snapshots of running totals after each event.

        '
      operationId: managed_cards_payments_watch
      parameters:
      - $ref: '#/components/parameters/call-ref'
      - $ref: '#/components/parameters/published-timestamp'
      - $ref: '#/components/parameters/signature'
      - $ref: '#/components/parameters/signature-v2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedCardsCardPaymentEvent'
        required: true
      responses:
        '204':
          description: Success - No Content
    servers:
    - url: '""'
components:
  schemas:
    ThreeDSecureAuthConfig:
      deprecated: true
      type: object
      required:
      - linkedUserId
      - primaryChannel
      properties:
        linkedUserId:
          type: string
          description: The Authorised user whose authentication / billing details will be reflected on the card for verification purposes such as 3ds.
          pattern: ^[0-9]+$
          deprecated: true
        primaryChannel:
          type: string
          description: Primary Authentication Method
          enum:
          - OTP_SMS
          - BIOMETRICS
          - TWILIO_AUTHY
        fallbackChannel:
          type: string
          description: Fallback Authentication Method
          enum:
          - OTP_SMS
    UserCurrencyTransactionDetails:
      required:
      - userTransactionAmount
      - userExchangeRate
      type: object
      properties:
        userTransactionAmount:
          $ref: '#/components/schemas/CurrencyAmount'
        userExchangeRate:
          type: string
      description: The object representing the user transaction's currency, amount and rate.
    CommonLevelSpendRules:
      type: object
      properties:
        allowedMerchantCategories:
          type: array
          maxItems: 200
          items:
            type: string
          description: 'Whitelist MCC: A list of allowed merchant category codes (MCCs). If the MCC does not match, then the transaction will be declined. If an MCC is also in the blocked list, the blocked list will take precedence.'
        blockedMerchantCategories:
          type: array
          maxItems: 200
          items:
            type: string
          description: 'Blacklist MCC: A list of disallowed merchant category codes (MCCs). If the MCC matches, then the transaction will be declined. If an MCC is also in the allowed list, the blocked list will take precedence.'
        allowedMerchantIds:
          type: array
          maxItems: 200
          items:
            type: string
          description: 'Whitelist Merchant Id: A list of allowed merchant IDs. If the Merchant Id does not match, then the transaction will be declined. If a Merchant Id is also provided in the blocked list, the blocked list will take precedence.'
        blockedMerchantIds:
          type: array
          maxItems: 200
          items:
            type: string
          description: 'Blacklist Merchant Id: A list of disallowed merchant IDs. If the Merchant Id matches, then the transaction will be declined. If a Merchant Id is also in the allowed list, the blocked list will take precedence.'
        allowedMerchantCountries:
          type: array
          maxItems: 50
          items:
            maxLength: 2
            minLength: 2
            pattern: ^[A-Z]{2}$
            type: string
          description: 'Whitelist Merchant Country: A list of allowed merchant countries, in ISO 3166-1 alpha-2 format. If the Merchant country does not match, then the transaction will be declined. If a Merchant Country is also provided in the blocked list, the blocked list will take precedence.'
        blockedMerchantCountries:
          type: array
          maxItems: 50
          items:
            maxLength: 2
            minLength: 2
            pattern: ^[A-Z]{2}$
            type: string
          description: 'Blacklist Merchant Country: A list of disallowed merchant countries, in ISO 3166-1 alpha-2 format. If the Merchant country matches, then the transaction will be declined. If a Merchant Country is also in the allowed list, the blocked list will take precedence.'
        allowContactless:
          type: boolean
          description: Indicates if a contactless transaction is allowed on the card.
        allowAtm:
          type: boolean
          description: Indicates if an ATM Withdrawal transaction is allowed on the card.
        allowECommerce:
          type: boolean
          description: Indicates if an online transaction is allowed on the card.
        allowCashback:
          type: boolean
          description: Indicates if a cashback transaction at a physical terminal is allowed on the card.
        allowCreditAuthorisations:
          type: boolean
          description: Indicates if a the card can receive a credit transaction.
        rolloverPolicy:
          $ref: '#/components/schemas/RolloverPolicy'
    CardRenewalType:
      description: "Indicates how the card will be handled once it is close to expiring.\n  - RENEW: The card will be automatically renewed, keeping the same card number but with a new expiry date and CVV.\n  - NO_RENEW: Once the expiry date is reached, the card is destroyed.\n"
      enum:
      - RENEW
      - NO_RENEW
      type: string
    BulkCardDelivery:
      type: boolean
      description: 'Bulk delivery is available for deliveryMethods REGISTERED_MAIL or COURIER.

        All cards marked as bulk and ordered within the fulfilment centre’s dispatch window will be sent in bulk. Delivery address must be identical for all orders. contactNumber in the deliveryAddress object is mandatory when bulk is selected. Maximum number of cards delivered in a single box/packet is REGISTERED_MAIL = 90, COURIER = 200.

        '
    Statement:
      type: object
      description: The list of statement entries.
      properties:
        entry:
          type: array
          items:
            $ref: '#/components/schemas/StatementEntry'
        count:
          type: integer
          description: The total number of records (excluding the paging limit).
          format: int32
        responseCount:
          type: integer
          description: The total number of records returned in this response.
          format: int32
        startBalance:
          description: The start balance amount in the instrument's currency. Empty for debit cards.
          $ref: '#/components/schemas/CurrencyAmount'
        endBalance:
          description: The end balance amount in the instrument's currency. Empty for debit cards.
          $ref: '#/components/schemas/CurrencyAmount'
        footer:
          description: The footer description for the current statement
          type: string
    SensitiveCardNumber:
      type: object
      description: 'The full card number of the card.


        Unless you are PCI-DSS compliant and have opted to switch off Weavr''s security model, the card number will be tokenised.


        To show the full unredacted card number to your user, you need to embed the Card number UI Component in your application. This accepts the tokenised card number and shows the unredacted card number to the user on screen.


        In addition, it is returned only when the current session is stepped-up.

        '
      properties:
        value:
          maxLength: 16
          type: string
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    DeliveryTrackingUrl:
      type: string
      description: The delivery tracking URL for tracking the physical card's delivery status.
    ValidationError:
      type: array
      description: Is returned as part of an HTTP error response whenever a validation error is detected. A list of the fields together with their syntax error will be provided.
      items:
        type: object
        properties:
          fieldName:
            type: string
          message:
            maxLength: 255
            type: string
            description: When present helps to identify and fix the problem.
          error:
            type: string
            enum:
            - MUST_BE_FALSE
            - MUST_BE_TRUE
            - AT_MOST
            - AT_LEAST
            - FUTURE
            - FUTURE_OR_PRESENT
            - PAST
            - PAST_OR_PRESENT
            - LESS_THAN_ZERO
            - LESS_THAN_OR_EQUAL_TO_ZERO
            - GREATER_THAN_ZERO
            - GREATER_THAN_OR_EQUAL_TO_ZERO
            - HAS_TEXT
            - REQUIRED
            - REGEX
            - RANGE
            - IN
            - NOT_IN
            - NOT_EMPTY
            - ALL_OR_NONE
            - MUST_BE_EMPTY
            - DEPENDS_ON
            - INVALID_TYPE_OR_VALUE
            - INVALID_REQUEST
          params:
            type: array
            items:
              type: string
          invalidValue:
            type: array
            items:
              type: string
    SpendLimitInterval:
      description: "The time period for which the `spendLimit` is valid.\n - DAILY: starting from 00:00:00 UTC of current day to 23:59:59 UTC of current day\n - WEEKLY: 00:00:00 UTC Monday of current week to following Sunday 23:59:59 UTC\n - MONTHLY: 1st of current calendar month to end of current calendar month\n - QUARTERLY: starting from beginning of current quarter where quarters are defined as follows:\n  - 1 January 00:00:00 UTC to 31 March 23:59:59 UTC\n  - 1 April 00:00:00 UTC to 30 Jun 23:59:59 UTC\n  - 1 July 00:00:00 UTC to 30 September 23:59:59 UTC\n  - 1 October 00:00:00 UTC to 31 December 23:59:59 UTC\n\n- YEARLY: 1 January 00:00:00 UTC of current calendar year to 31 December 23:59:59 UTC of current calendar year.\n- ALWAYS: This indicates that the `spendLimit` is the total amount that can be spent through the card throughout the whole lifetime of the card.\n"
      type: string
      enum:
      - DAILY
      - WEEKLY
      - MONTHLY
      - QUARTERLY
      - YEARLY
      - ALWAYS
    ManagedInstrumentState:
      required:
      - state
      type: object
      properties:
        state:
          $ref: '#/components/schemas/InstrumentState'
        blockedReason:
          $ref: '#/components/schemas/BlockedReason'
        destroyedReason:
          $ref: '#/components/schemas/DestroyedReason'
    StatementEntry:
      required:
      - transactionAmount
      - entryState
      - transactionId
      - processedTimestamp
      type: object
      properties:
        transactionId:
          description: The unique identifier of the transaction.
          $ref: '#/components/schemas/TransactionId'
        entryState:
          $ref: '#/components/schemas/StatementEntryState'
        originalAmount:
          description: 'The transaction amount as originally requested. The original amount currency may be different from the currency of the instrument.


            In case of purchases, this will indicate the original currency and amount that the merchant requested.

            '
          $ref: '#/components/schemas/CurrencyAmount'
        forexRate:
          description: If the `originalAmount` is in a different currency from the instrument's currency, the forex rate used will be provided.
          $ref: '#/components/schemas/ScaledAmount'
        transactionAmount:
          description: The transaction amount in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        availableBalanceAdjustment:
          description: The amount of funds credited or debited on the available balance of the instrument.
          $ref: '#/components/schemas/CurrencyAmount'
        actualBalanceAdjustment:
          description: The amount of funds credited or debited on the actual balance of the instrument.
          $ref: '#/components/schemas/CurrencyAmount'
        balanceAfter:
          description: The balance of the instrument after the transaction was executed.
          $ref: '#/components/schemas/CurrencyAmount'
        availableBalanceAfter:
          description: The available balance of the instrument after the transaction was executed.
          $ref: '#/components/schemas/CurrencyAmount'
        actualBalanceAfter:
          description: The actual balance of the instrument after the transaction was executed.
          $ref: '#/components/schemas/CurrencyAmount'
        transactionFee:
          description: The fee amount that was captured for you (Multi account owner). You can set fees to be taken during transactions in the Multi Portal.
          $ref: '#/components/schemas/CurrencyAmount'
        cardholderFee:
          description: The fee amount that was captured for you (Multi account owner). You can set fees to be taken during transactions in the Multi Portal. This field is deprecated - use `transactionFee` instead.
          $ref: '#/components/schemas/CurrencyAmount'
        processedTimestamp:
          type: integer
          format: int64
          description: The timestamp when the transaction was processed by the system, expressed in Epoch timestamp using millisecond precision.
        sourceAmount:
          description: The source amount of the transaction, if the transaction involves forex.
          $ref: '#/components/schemas/CurrencyAmount'
        userCurrencyTransactionDetails:
          description: The object representing the user transaction's details
          $ref: '#/components/schemas/UserCurrencyTransactionDetails'
        additionalFields:
          type: object
          additionalProperties:
            type: string
          description: A Map of additional fields. Possible values include fee information. The possible entries are `merchantName`, `merchantCategoryCode`, `merchantTerminalCountry`, `sourceInstrumentType`, `sourceInstrumentId`, `destinationInstrumentType`, `destinationInstrumentId`, `forexPaddingCurrency`, `forexPaddingAmount`, `note`, `sourceInstrumentFriendlyName`, `destinationInstrumentFriendlyName`, `sourceIdentityType`, `sourceIdentityId`, `sourceIdentityName`, `destinationIdentityType`, `destinationIdentityId`, `destinationIdentityName`, `exchangeRate`, `authorisationState`, `authorisationRelatedId`, `settlementRelatedId`, `chargeFeeType`, `relatedTransactionId`, `relatedTransactionIdType`, `beneficiaryName`, `beneficiaryAccount`, `beneficiaryBankCode`, `merchantId`, `merchantTransactionType`, `systemTransactionType`, `authorisationCode`, `relatedCardId`, `sender`, `forexFeeCurrency`, `forexFeeAmount`, `senderIban`, `senderReference`, `mandateId`, `merchantReference`, `description`, `declineReason`, `spendRuleFailedReason`, `authorisationCategory` and `authorisationTransactionType`.
    AllLevelSpendRules:
      type: object
      properties:
        allowedMerchantCategories:
          deprecated: true
          type: array
          maxItems: 200
          items:
            type: string
          description: 'Whitelist MCC: A list of allowed merchant category codes (MCCs). If the MCC does not match, then the transaction will be declined. If an MCC is also in the blocked list, the blocked list will take precedence. This field is deprecated - use "cardLevelSpendRules"."allowedMerchantCategories" instead.'
        blockedMerchantCategories:
          deprecated: true
          type: array
          maxItems: 200
          items:
            type: string
          description: 'Blacklist MCC: A list of disallowed merchant category codes (MCCs). If the MCC matches, then the transaction will be declined. If an MCC is also in the allowed list, the blocked list will take precedence. This field is deprecated - use "cardLevelSpendRules"."blockedMerchantCategories" instead.'
        allowedMerchantIds:
          deprecated: true
          type: array
          maxItems: 200
          items:
            type: string
          description: 'Whitelist Merchant Id: A list of allowed merchant IDs. If the Merchant Id does not match, then the transaction will be declined. If a Merchant Id is also provided in the blocked list, the blocked list will take precedence. This field is deprecated - use "cardLevelSpendRules"."allowedMerchantIds" instead.'
        blockedMerchantIds:
          deprecated: true
          type: array
          maxItems: 200
          items:
            type: string
          description: 'Blacklist Merchant Id: A list of disallowed merchant IDs. If the Merchant Id matches, then the transaction will be declined. If a Merchant Id is also in the allowed list, the blocked list will take precedence. This field is deprecated - use "cardLevelSpendRules"."blockedMerchantIds" instead.'
        allowedMerchantCountries:
          deprecated: true
          type: array
          maxItems: 50
          items:
            maxLength: 2
            minLength: 2
            pattern: ^[A-Z]{2}$
            type: string
          description: 'Whitelist Merchant Country: A list of allowed merchant countries, in ISO 3166-1 alpha-2 format. If the Merchant country does not match, then the transaction will be declined. If a Merchant Country is also provided in the blocked list, the blocked list will take precedence. This field is deprecated - use "cardLevelSpendRules"."allowedMerchantCountries" instead.'
        blockedMerchantCountries:
          deprecated: true
          type: array
          maxItems: 50
          items:
            maxLength: 2
            minLength: 2
            pattern: ^[A-Z]{2}$
            type: string
          description: 'Blacklist Merchant Country: A list of disallowed merchant countries, in ISO 3166-1 alpha-2 format. If the Merchant country matches, then the transaction will be declined. If a Merchant Country is also in the allowed list, the blocked list will take precedence. This field is deprecated - use "cardLevelSpendRules"."blockedMerchantCountries" instead.'
        allowContactless:
          deprecated: true
          type: boolean
          description: Indicates if a contactless transaction is allowed on the card. This field is deprecated - use "cardLevelSpendRules"."allowContactless" instead.
        allowAtm:
          deprecated: true
          type: boolean
          description: Indicates if an ATM Withdrawal transaction is allowed on the card. This field is deprecated - use "cardLevelSpendRules"."allowAtm" instead.
        allowECommerce:
          deprecated: true
          type: boolean
          description: Indicates if an online transaction is allowed on the card. This field is deprecated - use "cardLevelSpendRules"."allowECommerce" instead.
        allowCashback:
          deprecated: true
          type: boolean
          description: Indicates if a cashback transaction at a physical terminal is allowed on the card. This field is deprecated - use "cardLevelSpendRules"."allowCashback" instead.
        allowCreditAuthorisations:
          deprecated: true
          type: boolean
          description: Indicates if a the card can receive a credit transaction. This field is deprecated - use "cardLevelSpendRules"."allowCashback" instead.
        minTransactionAmount:
          deprecated: true
          type: integer
          minimum: 0
          format: int64
          description: The minimum transaction amount, in card currency, that is allowed. If the transaction amount is less than this value, then the transaction will be declined. Omit this, or set to 0 if no maximum transaction amount is to be set. This field is deprecated - use "cardLevelSpendRules"."minTransactionAmount" instead.
        maxTransactionAmount:
          deprecated: true
          type: integer
          minimum: 0
          format: int64
          description: The maximum transaction amount, in card currency, that is allowed. If the transaction amount is greater than this value, then the transaction will be declined. Omit this, or set to 0 if no maximum transaction amount is to be set. This field is deprecated - use "cardLevelSpendRules"."maxTransactionAmount" instead.
        spendLimit:
          deprecated: true
          description: The total amount of funds that can be spent using this card, in a given time interval. This field is deprecated - use "cardLevelSpendRules"."spendLimit" instead.
          type: array
          items:
            $ref: '#/components/schemas/SpendLimit'
        cardLevelSpendRules:
          $ref: '#/components/schemas/CardLevelSpendRules'
        profileLevelSpendRules:
          $ref: '#/components/schemas/ProfileLevelSpendRules'
        identityLevelSpendRules:
          $ref: '#/components/schemas/IdentityLevelSpendRules'
    ManufacturingState:
      type: string
      description: "Information on the manufacturing of the physical card, as follows:\n  - REQUESTED: The upgrade of the card to physical has been requested.\n  - SENT_FOR_FULFILLMENT - The card has been sent for printing.\n  - DISPATCHED: The card has been manufactured and dispatched. You may receive a second DISPATCHED event when the manufacturer provides a tracking code.\n  - DELIVERED: The card has been received and activated by the recipient.\n"
      enum:
      - REQUESTED
      - SENT_FOR_FULFILLMENT
      - DISPATCHED
      - DELIVERED
    CardLevelSpendRules:
      allOf:
      - $ref: '#/components/schemas/BaseCardLevelSpendRules'
      - type: object
        properties:
          minTransactionAmount:
            type: integer
            minimum: 0
            format: int64
            description: The minimum transaction amount, in card currency, that is allowed. If the transaction amount is less than this value, then the transaction will be declined.
          maxTransactionAmount:
            type: integer
            minimum: 0
            format: int64
            description: The maximum transaction amount, in card currency, that is allowed. If the transaction amount is greater than this value, then the transaction will be declined.
    RolloverPolicy:
      type: object
      description: The rollover policy will dictate how Weavr handles any eventual overspending. This is possible if a merchant clears more funds than authorised, or when a merchant clears funds without authorising, resulting in the `availableToSpend` value to go into negative. Rollover is relative to a `spendLimit.interval`
      required:
      - rolloverNegative
      properties:
        rolloverNegative:
          type: boolean
          description: If set to true any overspend will keep rolling over and get deducted in the upcoming intervals until the `availableToSpend` is back to a positive value. Any overspend will be deducted from the `availableToSpend` at the beginning of the next interval.
    DeliveryTrackingMethod:
      type: string
      description: The delivery tracking method for tracking the physical card's delivery status.
    StatementEntryState:
      type: string
      description: "The transaction entry state, as follows:\n  - PENDING: The transaction has started and some of the fund movements have completed, however additional fund movements are still pending to finalise the transaction.\n  - COMPLETED: All fund movements for a transaction have completed.\n"
      enum:
      - PENDING
      - COMPLETED
    PhoneNumber:
      maxLength: 20
      minLength: 5
      pattern: ^\+[0-9]+$
      type: string
    IdentityLevelSpendRules:
      allOf:
      - $ref: '#/components/schemas/CommonLevelSpendRules'
      - type: object
        properties:
          minTransactionAmount:
            type: integer
            minimum: 0
            format: int64
            description: The minimum transaction amount, in card currency, that is allowed. If the transaction amount is less than this value, then the transaction will be declined. Omit this, or set to 0 if no maximum transaction amount is to be set.
          maxTransactionAmount:
            type: integer
            minimum: 0
            format: int64
            description: The maximum transaction amount, in card currency, that is allowed. If the transaction amount is greater than this value, then the transaction will be declined.
    DeliveryAddress:
      required:
      - name
      - surname
      - addressLine1
      - city
      - postCode
      - country
      type: object
      description: The delivery address where the physical card is delivered.
      properties:
        name:
          maxLength: 100
          type: string
        surname:
          maxLength: 100
          type: string
        addressLine1:
          maxLength: 50
          minLength: 1
          type: string
        addressLine2:
          maxLength: 50
          minLength: 1
          type: string
        city:
          maxLength: 50
          type: string
        postCode:
          maxLength: 10
          pattern: ^[A-Za-z0-9 -]*$
          type: string
        state:
          maxLength: 50
          type: string
        country:
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]+$
          type: string
          description: Country of the identity in ISO 3166 alpha-2 format.
        contactNumber:
          $ref: '#/components/schemas/PhoneNumber'
          description: Mandatory when bulk delivery is selected. Will be printed on the box/packet to assist delivery.
    StatementTransactionType:
      type: string
      enum:
      - AUTHORISATION
      - SETTLEMENT
      - MANUAL_TRANSACTION
      - TRANSFER
      - SEND
      - DEPOSIT
      - AUTHORISATION_REVERSAL
      - AUTHORISATION_EXPIRY
      - AUTHORISATION_DECLINE
      - AUTHORISATION_MANUAL_CLOSE
      - MERCHANT_REFUND
      - MERCHANT_REFUND_REVERSAL
      - ORIGINAL_CREDIT_TRANSACTION
      - SETTLEMENT_REVERSAL
      - ADJUSTMENT
      - CHARGE_FEE
      - WITHDRAWAL_RESERVE
      - WITHDRAWAL_RELEASE
      - FEE_REVERSAL
      - OUTGOING_WIRE_TRANSFER
      - AUTHORISATION_CANCELLATION
      - SYSTEM_TRANSACTION
      - OUTGOING_DIRECT_DEBIT_COLLECTION
      - OUTGOING_DIRECT_DEBIT_REFUND
      - CORRESPONDENT_BANK_TRANSFER
    UserId:
      type: string
      pattern: ^[0-9]+$
    DestroyedReason:
      type: string
      description: "The reason why the instrument has been destroyed:\n  - SYSTEM: The platform or an administrator of the platform has destroyed the instrument.\n  - USER: The root, or an authorised user, of the identity owning the instrument has destroyed the instrument.\n  - LOST: The instrument was automatically destroyed as it was marked as lost.\n  - STOLEN: The instrument was automatically destroyed as it was marked as stolen.\n  - EXPIRED: The instrument was automatically destroyed as it expired.\n  - COMPROMISED: The instrument was automatically destroyed as it was marked as compromised.\n  - SINGLE_SPEND: The instrument was automatically destroyed as it was a single-spend card that was used.\n"
      enum:
      - SYSTEM
      - USER
      - LOST
      - STOLEN
      - EXPIRED
      - COMPROMISED
      - SINGLE_SPEND
    SpendLimitUpdateMethod:
      type: string
      description: "The spend limit update method to apply. Currently supported:\n  - OVERWRITE: (default option if nothing selected). Overwrites the previous values for the spendLimit object i.e. sets new limits\n  - INCREMENT : This will increase the existing value of the spend limit by the amount input the value field. If used in conjunction with an ALWAYS interval, this can be used to increment a spend limit on a periodic basis (controlled by you, e.g. monthly), and means that any 'unused' balance from the previous period will still available to spend. See examples in our documentation\n"
      enum:
      - OVERWRITE
      - INCREMENT
    DigitalWallets:
      type: object
      properties:
        pushProvisioningEnabled:
          type: boolean
          description: Indicates whether the card is enabled for push provisioning in a digital wallet.
        walletsEnabled:
          type: boolean
          description: Indicates whether the card is enabled for tokenisation in a digital wallet.
        artworkReference:
          type: string
          description: The artwork reference that will be used if the card is enabled for tokenisation in a digital wallet.
    ManagedCard:
      required:
      - externalHandle
      - cardBrand
      - cardLevelClassification
      - creationTimestamp
      - currency
      - expiryPeriodMonths
      - friendlyName
      - id
      - nameOnCard
      - profileId
      - renewalType
      - type
      - mode
      - state
      - cardNumberFirstSix
      - cardNumberLastFour
      - startMmyy
      - expiryMmyy
      - billingAddress
      - digitalWallets
      type: object
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of the card.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        externalHandle:
          type: string
          description: 'A uniquely generated code used to identify a card.


            This code is to be used instead of the sensitive card number in order to refer to a card when opening a support ticket.

            '
        tag:
          $ref: '#/components/schemas/Tag'
        friendlyName:
          maxLength: 50
          minLength: 1
          type: string
          description: The friendly name given to the card.
        currency:
          $ref: '#/components/schemas/Currency'
        state:
          $ref: '#/components/schemas/ManagedInstrumentState'
        type:
          type: string
          description: "The type of card:\n  - VIRTUAL: Not a printed or embedded card. The card can be used online or added to digital wallets.\n  - PHYSICAL: A physical card that can be printed and shipped to your customers or embedded in a Wearable device. It can be used at physical terminals.\n"
          enum:
          - VIRTUAL
          - PHYSICAL
        cardBrand:
          type: string
          description: The card scheme, or brand of the card.
          enum:
          - MASTERCARD
          - VISA
        cardNumber:
          description: 'The full card number of the card.


            This field is omitted when the card state is `NOT_ENABLED`.

            '
          $ref: '#/components/schemas/SensitiveCardNumber'
        cvv:
          description: 'The CVV of the card.


            This field is omitted when the card state is `NOT_ENABLED`.

            '
          $ref: '#/components/schemas/SensitiveCvv'
        cardNumberFirstSix:
          pattern: ^[0-9]{6}$
          type: string
          description: The first six digits of the card number.
        cardNumberLastFour:
          pattern: ^[0-9]{4}$
          type: string
          description: The last four digits of the card number.
        nameOnCard:
          maxLength: 27
          pattern: ^[a-zA-Z0-9ßÀÁÂÃÄÅǍÆÇÈÉÊËÌÍÎÏÒÓÔÕÖØŠÙÚÛÜŸÝĄĆČĎĘĹĽŁŃŇÑŐŔŚȘȚŤŰŹŻŽàáâãäåǎæçèéêëìíîïòóôõöøšùúûüÿýąćčďęĺľłńňñőŕśșțťűźżž\-^. '-]*$
          type: string
          description: The card holder’s name for the card. This may be verified by merchants when the card is used online. For Physical cards, this field will be printed on the card. The maximum characters allowed will depend on the design chosen and will be provided to you by Weavr when setting up your plastic cards.
        nameOnCardLine2:
          maxLength: 27
          pattern: ^[a-zA-Z0-9ßÀÁÂÃÄÅǍÆÇÈÉÊËÌÍÎÏÒÓÔÕÖØŠÙÚÛÜŸÝĄĆČĎĘĹĽŁŃŇÑŐŔŚȘȚŤŰŹŻŽàáâãäåǎæçèéêëìíîïòóôõöøšùúûüÿýąćčďęĺľłńňñőŕśșțťűźżž\-^. '-]*$
          type: string
          description: Line 2 of the 'name on card' field. For Physical cards, this field will be printed on the card. The maximum characters allowed will depend on the design chosen and will be provided to you by Weavr when setting up your plastic cards.
        startMmyy:
          maxLength: 4
          minLength: 4
          pattern: ^[0-9]*$
          type: string
          description: The start date of this card, in MMYY format.
        expiryMmyy:
          maxLength: 4
          minLength: 4
          type: string
          description: The end date of this card, in MMYY format.
        cardLevelClassification:
          type: string
          enum:
          - CONSUMER
          - CORPORATE
          description: The card classification determines whether the card is from Consumer or Corporate BINs.
        expiryPeriodMonths:
          maximum: 120
          minimum: 1
          type: integer
          format: int32
          description: The validity timeframe of the card, in months.
        renewalType:
          $ref: '#/components/schemas/CardRenewalType'
        renewalTimestamp:
          type: integer
          format: int64
          description: The timestamp when the card will be renewed, expressed in Epoch timestamp using millisecond precision.
        creationTimestamp:
          type: integer
          format: int64
          description: The timestamp when the card was created, expressed in Epoch timestamp using millisecond precision.
        cardholderMobileNumber:
          description: The mobile number including country code of the card holder, needed for 3DS challenge.
          maxLength: 15
          minLength: 5
          pattern: ^\+[0-9]+$
          type: string
          deprecated: true
        billingAddress:
          description: The billing address set for the cardholder. This can be checked by the merchant during online purchases.
          $ref: '#/components/schemas/BillingAddress'
        physicalCardDetails:
          $ref: '#/components/schemas/PhysicalCardDetails'
        digitalWallets:
          $ref: '#/components/schemas/DigitalWallets'
        authForwardingDefaultTimeoutDecision:
          type: string
          description: Default decision for auth forwarding on timeout
          enum:
          - APPROVE
          - DECLINE
        threeDSecureAuthConfig:
          $ref: '#/components/schemas/ThreeDSecureAuthConfig'
        mode:
          type: string
          description: 'The mode with which this card was created:


            - A prepaid mode card has its own balance and can have funds transferred to or from it.

            - A debit mode card does not have its own balance but will be able to spend funds belonging to its parent managed account, subject to a configurable spend limit.

            '
        externalData:
          $ref: '#/components/schemas/ExternalData'
        userId:
          $ref: '#/components/schemas/UserId'
          description: The Authorised User to be linked to the card, whose authentication details will be used for actions such as 3DS authentication, or manual provisioning to a digital wallet. This field can be used instead of threeDSecureAuthConfig as it better describes the wider scope of possible uses.
        singleSpend:
          type: boolean
          description: Indicates if the card is configured for single-spend mode. When true, the card will be automatically blocked after the first successful transaction.
        replacement:
          $ref: '#/components/schemas/ManagedCardReplacement'
      discriminator:
        propertyName: mode
        mapping:
          PREPAID_MODE: '#/components/schemas/PrepaidModeCard'
          DEBIT_MODE: '#/components/schemas/DebitModeCard'
    ExternalData:
      description: External data fields, as provided and managed by the caller that are to be stored and associated with a Managed Card instance. This information is not processed or used by Weavr but some of the values could be shown in specific reports and used as filters
      type: array
      items:
        type: object
        properties:
          name:
            type: string
            minLength: 1
            maxLength: 100
          value:
            type: string
            minLength: 1
            maxLength: 100
      uniqueItems: true
      maxItems: 10
    ScaledAmount:
      type: object
      properties:
        value:
          type: integer
          format: int64
        scale:
          maximum: 127
          minimum: -128
          type: integer
          format: int32
      description: 'A floating point number, represented as a value and its scale. Its actual value can be obtained using the equation: value * pow(10, -scale).'
    PhysicalCardDetails:
      required:
      - pendingActivation
      type: object
      properties:
        bulkDelivery:
          $ref: '#/components/schemas/BulkCardDelivery'
        productReference:
          type: string
          description: The unique reference indicating the configuration of the physical card. Example the card design.
        carrierType:
          type: string
        pendingActivation:
          type: boolean
          description: Indicates if the physical card is activated for physical usage such as with physical terminals.
        pinBlocked:
          type: boolean
          description: Indicates if the physical card is blocked due to providing incorrect PINs.
        manufacturingState:
          $ref: '#/components/schemas/ManufacturingState'
        replacement:
          deprecated: true
          type: object
          description: Indicates if the physical card is replaced by another card.
          properties:
            replacementReason:
              type: string
              description: "The reason why the physical card was replaced.\n  - DAMAGED: The physical card was damaged and cannot be used at a physical terminal.\n  - LOST_STOLEN: The physical card was either lost or stolen and cannot be used.\n  - EXPIRED: The physical card expired.\n"
              enum:
              - DAMAGED
              - LOST_STOLEN
              - EXPIRED
            replacementId:
              type: string
              pattern: ^[0-9]+$
              description: The unique identifier of the new card that replaces this card.
        deliveryAddress:
          $ref: '#/components/schemas/DeliveryAddress'
        deliveryMethod:
          $ref: '#/components/schemas/DeliveryMethod'
        deliveryTrackingCode:
          $ref: '#/components/schemas/DeliveryTrackingCode'
        deliveryTrackingMethod:
          $ref: '#/components/schemas/DeliveryTrackingMethod'
        deliveryTrackingUrl:
          $ref: '#/components/schemas/DeliveryTrackingUrl'
        nameOnCardLine2:
          deprecated: true
          maxLength: 27
          pattern: ^[a-zA-Z0-9ßÀÁÂÃÄÅǍÆÇÈÉÊËÌÍÎÏÒÓÔÕÖØŠÙÚÛÜŸÝĄĆČĎĘĹĽŁŃŇÑŐŔŚȘȚŤŰŹŻŽàáâãäåǎæçèéêëìíîïòóôõöøšùúûüÿýąćčďęĺľłńňñőŕśșțťűźżž\-^. '-]*$
          type: string
          description: Line 2 of the 'name on card' field. For Physical cards, this field will be printed on the card. The maximum characters allowed will depend on the design chosen and will be provided to you by Weavr when setting up your plastic cards. This field is deprecated
    BillingAddress:
      required:
      - addressLine1
      - city
      - postCode
      - country
      type: object
      properties:
        addressLine1:
          minLength: 1
          maxLength: 150
          type: string
          description: The first line of the address.
        addressLine2:
          maxLength: 150
          type: string
          description: The second line of the address.
        city:
          maxLength: 50
          type: string
          description: The city of the address.
        postCode:
          maxLength: 10
          pattern: ^[A-Za-z0-9 -]*$
          type: string
          description: The post code associated with the address.
        state:
          maxLength: 50
          type: string
          description: The state of the address.
        country:
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]+$
          type: string
          description: The country of the address expressed in ISO 3166 alpha-2 format.
    BaseCardLevelSpendRules:
      allOf:
      - $ref: '#/components/schemas/CommonLevelSpendRules'
      - type: object
        properties:
          spendLimit:
            description: The total amount of funds that can be spent using this card, in a given time interval.
            type: array
            items:
              $ref: '#/components/schemas/SpendLimit'
    SensitiveCvv:
      type: object
      description: 'The CVV of the card.


        Unless you are PCI-DSS compliant and have opted to switch off Weavr''s security model, the card''s CVV will be tokenised.


        To show the card''s CVV to your user, you need to embed the CVV UI Component in your application. This accepts the tokenised CVV and shows the plain text CVV number to the user on screen.


        In addition, it is returned only when the current session is stepped-up.

        '
      properties:
        value:
          maxLength: 3
          type: string
    ProfileLevelSpendRules:
      allOf:
      - $ref: '#/components/schemas/CommonLevelSpendRules'
      - type: object
        properties:
          authForwardingEnabled:
            type: boolean
            description: Indicates if auth forwarding is enabled on profile level
    BlockedReason:
      type: string
      description: "The reason why the instrument has been blocked:\n  - USER: The root, or an authorised user, of the identity owning the instrument has temporarily blocked the instrument.\n  - SYSTEM: The platform or an administrator of the platform has temporarily blocked the instrument.\n  - LOST: The instrument has been blocked because it was marked as lost.\n  - SINGLE_SPEND: The instrument has been automatically blocked after its first successful transaction (single-spend card).\n"
      enum:
      - USER
      - SYSTEM
      - LOST
      - SINGLE_SPEND
    ManagedCardReplacement:
      description: Indicates if the card is replaced by another card.
      type: object
      required:
      - id
      - reason
      properties:
        id:
          description: The id of the replacement card
          pattern: ^[0-9]+$
          type: string
        reason:
          description: "The reason why the card was replaced.\n  - DAMAGED: The physical card was damaged and cannot be used at a physical terminal.\n  - LOST_STOLEN: The physical card was either lost or stolen and cannot be used.\n  - EXPIRED: The card expired.\n  - COMPROMISED: The virtual card was compromised; the virtual card details have been exposed or accessed without authorization.\n"
          type: string
          enum:
          - DAMAGED
          - LOST_STOLEN
          - EXPIRED
          - COMPROMISED
    TransactionId:
      required:
      - type
      - id
      type: object
      properties:
        type:
          enum:
          - AUTHORISATION
          - SETTLEMENT
          - MANUAL_TRANSACTION
          - TRANSFER
          - SEND
          - DEPOSIT
          - AUTHORISATION_REVERSAL
          - AUTHORISATION_EXPIRY
          - AUTHORISATION_DECLINE
          - AUTHORISATION_MANUAL_CLOSE
          - MERCHANT_REFUND
          - MERCHANT_REFUND_REVERSAL
          - ORIGINAL_CREDIT_TRANSACTION
          - SETTLEMENT_REVERSAL
          - ADJUSTMENT
          - CHARGE_FEE
          - WITHDRAWAL_RESERVE
          - WITHDRAWAL_RELEASE
          - FEE_REVERSAL
          - OUTGOING_WIRE_TRANSFER
          - AUTHORISATION_CANCELLATION
          - SYSTEM_TRANSACTION
          - OUTGOING_DIRECT_DEBIT_COLLECTION
          - OUTGOING_DIRECT_DEBIT_REFUND
          - LINKED_ACCOUNT_VERIFICATION_TRANSFER
          - INCOMING_WIRE_TRANSFER
          - FUNDING
          - TEST_FUNDING
          - CORRESPONDENT_BANK_TRANSFER
          type: string
          x-enumDescriptions:
            AUTHORISATION: ''
            SETTLEMENT: ''
            MANUAL_TRANSACTION: 'For a manual transaction, the `additionalFields`: `note` will contain a description with the reason for the transaction. This will start with one of the following prefixes:


              - Account Closure

              - Chargebacks - Represented

              - Chargebacks - Won

              - Deleted Card - Transfer from

              - Deleted Card - Transfer to

              - Duplicate Authorisation Issue

              - Duplicate Settlement Issue

              - Expired Card - Transfer from

              - Expired Card - Transfer to

              - Forex Padding Release Issue

              - Funds Redemption & Account Closure

              - Manual Auth Expiry

              - Missing Settlement Issue

              - Negative Card Balance

              - Reversal - Duplicate Transaction

              - Reversal - Manual Auth Expiry

              - Reversal - Manual Transaction

              - Amend Balance - Auth Expiry

              - Balance Adjustment

              - Completing Deposit

              - Duplicate Deposit

              '
            TRANSFER: ''
            SEND: ''
            DEPOSIT: ''
            AUTHORISATION_REVERSAL: ''
            AUTHORISATION_EXPIRY: ''
            AUTHORISATION_DECLINE: ''
            AUTHORISATION_MANUAL_CLOSE: ''
            MERCHANT_REFUND: ''
            MERCHANT_REFUND_REVERSAL: ''
            ORIGINAL_CREDIT_TRANSACTION: ''
            SETTLEMENT_REVERSAL: ''
            ADJUSTMENT: ''
            CHARGE_FEE: ''
            WITHDRAWAL_RESERVE: ''
            WITHDRAWAL_RELEASE: ''
            FEE_REVERSAL: ''
            OUTGOING_WIRE_TRANSFER: ''
            AUTHORISATION_CANCELLATION: ''
            SYSTEM_TRANSACTION: ''
            OUTGOING_DIRECT_DEBIT_COLLECTION: ''
            OUTGOING_DIRECT_DEBIT_REFUND: ''
        id:
          type: string
          pattern: ^[0-9]+$
    SpendLimit:
      type: object
      required:
      - value
      - interval
      properties:
        startTimestamp:
          description: The start timestamp of the spend limit, expressed in Epoch timestamp using millisecond precision.
          type: integer
          format: int64
        value:
          description: The spend limit, as amount and currency, (for the given interval).
          $ref: '#/components/schemas/CurrencyAmount'
        interval:
          $ref: '#/components/schemas/SpendLimitInterval'
    ProfileId:
      type: string
      description: 'The profile Id which a specific identity, instrument or transaction type is linked to.


        Profiles contain configuration and determine behavioral aspects of the newly created transaction, for example, fees that may apply.


        You can have one or more profiles linked to your application, and these can be used to drive different behaviors according to your product''s needs.


        Profile Ids can be found in the Multi Portal, in the API Credentials page.

        '
      pattern: ^[0-9]+$
    Currency:
      type: string
      description: 'The currency expressed in ISO-4217 code. Example: GBP, EUR, USD.'
      maxLength: 3
      minLength: 3
      pattern: ^[A-Z]*$
    CurrencyAmount:
      required:
      - currency
      - amount
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/Currency'
        amount:
          type: integer
          format: int64
          description: 'The monetary amount, scaled to the lowest denomination of the currency.


            Example, an amount of 1000 for a EUR currency is actually 1000 Euro cents or EUR 10.00.

            '
      description: The object representing a monetary amount in a particular currency.
    DeliveryTrackingCode:
      type: string
      description: The delivery tracking code for tracking the physical card's delivery status. This may not always be available on the first dispatched event, and so you will receive an additional dispatched notification with the delivery tracking code populated as soon as it is available.
    Tag:
      type: string
      description: The tag field is a custom field that can be used to search and filter.
      maxLength: 50
      pattern: ^[a-zA-Z0-9_-]+$
    InstrumentState:
      type: string
      description: "The state of the instrument indicating what it can and cannot do as follows:\n  - ACTIVE: The instrument is in an active state and can be used in transactions.\n  - BLOCKED: The instrument is temporarily blocked and cannot be used. Any funds on the instrument are also frozen. The `blockedReason` provides more information as to why it was blocked.\n  - DESTROYED: The instrument has been permanently destroyed. The `destroyReason` provides more information as to why it was destroyed.\n  - NOT_ENABLED: The instrument is not enabled for use, since the linked user has not completed all necessary verification steps.\n"
      enum:
      - ACTIVE
      - BLOCKED
      - DESTROYED
      - NOT_ENABLED
    DeliveryMethod:
      type: string
      description: 'The delivery methods supported for delivering printed physical cards. If not specified, the STANDARD_DELIVERY method will be used.

        '
      enum:
      - STANDARD_DELIVERY
      - REGISTERED_MAIL
      - COURIER
      - FIRST_CLASS_MAIL
    UpdateCardLevelSpendRules:
      allOf:
      - $ref: '#/components/schemas/CardLevelSpendRules'
      - type: object
        properties:
          updateSpendLimitMethod:
            $ref: '#/components/schemas/SpendLimitUpdateMethod'
    DigitalWalletType:
      type: string
      description: The digital wallet type.
      enum:
      - GOOGLE_PAY
      - APPLE_PAY
      - MERCHANT_TOKEN
    CorrespondentBankingSEPABeneficiary:
      required:
      - name
      - iban
      - address
      type: object
      description: CBT-specific beneficiary details for SEPA/IBAN wire transfers with Banking Circle FI-to-FI field limits.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 35
          description: 'The beneficiary''s full name. >= 1 character and <= 35 characters.

            An extended character set is accepted to cater for all European languages.

            If SEPA does not support a particular character, it is automatically

            converted to an acceptable alternative, in line with SEPA scheme guidance.

            '
        iban:
          type: string
          minLength: 15
          maxLength: 34
          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
          description: International Bank Account Number, required for wire transfer over SEPA.
        bankIdentifierCode:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
          description: BIC (Bank Identifier Code) for wire transfer over SEPA.
        address:
          maxLength: 105
          minLength: 1
          type: string
          description: 'The beneficiary''s address. Required for correspondent banking transfers.

            Maximum 105 characters (split into 3x35-char lines by the provider).

            '
        bankName:
          type: string
          maxLength: 150
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    CorrespondentBankingIndividualOriginator:
      required:
      - name
      - address
      - country
      - bankAccountDetails
      type: object
[...]
