openapi: 3.2.0
info:
  version: v1
  title: Weavr Embedded Payment Run Institutions API
  license:
    name: private
    url: https://weavr.io
  x-logo:
    url: https://weavr-cdn.s3.eu-central-1.amazonaws.com/weavr-payment-run-logo.png
    backgroundColor: '#FFFFFF'
    altText: Weavr
  description: "Weavr Payment Run Plug-in API provides a simple and flexible way for Embedders to add payment execution capabilities in their application.\n\nBy integrating Weavr Payment Run plug-in API in your application, you can embed banking and payment capabilities within your app to boost productivity for your users in a seamless experience.\n\n# Authentication\nEach request to the API must include an `api_key` that represents your account. You can obtain an API Key by registering for a Embedder account [here](https://portal.weavr.io/register/?plugin=payment-run).\n\nAlmost all endpoints require a secondary authentication token `auth_token` that represents the user for whom the request is being executed.\n\n# Postman Collection\nTo help you get started with your integration, you can download the [Postman](https://postman.com) collection [here](https://sandbox.weavr.io/payment-run/v1/postman). The collection includes the steps you’ll need to follow to integrate Embedded Payment Run within your app. \n\nThe collection makes use of environment variables to pre-fill details associated with your Sandbox account, such as your account’s API Key. You can download your Sandbox Account environment file from the [Sandbox Portal](https://portal.weavr.io/register/?plugin=payment-run).\n"
servers:
- url: https://sandbox.weavr.io/payment-run
  description: Sandbox
security:
- apiKey: []
  authToken: []
tags:
- name: Institutions
  description: Institutions supported by Embedded Payment Run.
paths:
  /v1/institutions:
    get:
      operationId: getInstitutions
      summary: Get Institutions
      description: 'Retrieves the `Institutions` supported by Embedded Payment Run. The response payload should list all the institutions.


        Payment runs are funded from linked bank accounts provided by one of the supported institutions.


        We recommend that you enable Buyers to check if their banks are supported before they start the registration and onboarding process.

        '
      tags:
      - Institutions
      security:
      - apiKey: []
      parameters:
      - in: query
        name: country
        required: false
        description: Filter by country
        schema:
          type: string
      - in: query
        name: institutionIds
        required: false
        description: Filter by institution ID
        schema:
          type: array
          items:
            type: string
      - in: query
        name: institutionName
        required: false
        description: Filter by institution name
        schema:
          type: string
      - in: query
        name: market
        required: false
        description: Filter by market
        schema:
          type: array
          items:
            type: string
            enum:
            - EEA
            - UK
      - in: query
        name: offset
        required: false
        schema:
          type: integer
          minimum: 0
      - in: query
        name: limit
        required: false
        schema:
          type: integer
          minimum: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - institutions
                  properties:
                    institutions:
                      type: array
                      items:
                        type: object
                        title: Institution
                        required:
                        - id
                        - countries
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          markets:
                            type: array
                            items:
                              type: string
                              enum:
                              - EEA
                              - UK
                          currencies:
                            type: array
                            items:
                              type: string
                              enum:
                              - GBP
                              - EUR
                          countries:
                            type: array
                            items:
                              enum:
                              - GB
                              - AT
                              - BE
                              - BG
                              - HR
                              - CY
                              - CZ
                              - DK
                              - EE
                              - FI
                              - FR
                              - DE
                              - GI
                              - GR
                              - HU
                              - IS
                              - IE
                              - IT
                              - LV
                              - LI
                              - LT
                              - LU
                              - MT
                              - NL
                              - 'NO'
                              - PL
                              - PT
                              - RO
                              - SK
                              - SI
                              - ES
                              - SE
                          images:
                            type: object
                            properties:
                              logo:
                                type: string
                                format: uri
                              icon:
                                type: string
                                format: uri
                - type: object
                  title: PaginationFields
                  properties:
                    count:
                      type: integer
                      description: The total number of records (excluding the paging limit)
                      example: 10
                    responseCount:
                      type: integer
                      description: The total number of records returned in this response (always capped at 100).
                      example: 100
                  required:
                  - count
                  - responseCount
        '400':
          description: Bad Request Error - Your request is invalid.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    maxLength: 255
                    type: string
                    description: When present helps to identify and fix the problem.
                  syntaxErrors:
                    type: object
                    description: Is returned as part of an HTTP error response whenever a syntax error is detected. A list of the fields together with their syntax error will be provided.
                    properties:
                      invalidFields:
                        type: array
                        items:
                          type: object
                          properties:
                            params:
                              type: array
                              items:
                                type: string
                            fieldName:
                              type: string
                            error:
                              type: string
                              enum:
                              - REQUIRED
                              - HAS_TEXT
                              - REQUIRES
                              - SIZE
                              - RANGE
                              - IN
                              - NOT_IN
                              - REGEX
                              - EXACTLY
                              - AT_LEAST
                              - AT_MOST
                              - ALL_OR_NONE
        '401':
          description: Unauthorized - Your credentials or access token are invalid.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '403':
          description: Forbidden - Access to the requested resource or action is forbidden.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    enum:
                    - INSUFFICIENT_PERMISSIONS
        '429':
          description: Too many requests.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
            x-ratelimit-limit:
              description: 'Example: `20, 10;w=60, 20;w=3600, 200;w=86400`

                The first number (20) is the limit that has been exceeded.

                The remaining numbers are the limits that are in force, with ''w'' meaning ''window in seconds''. In this example `20;w=3600` was exceeded. 20 calls in 3600secs (1hr)

                '
              required: true
              schema:
                type: string
            x-ratelimit-reset:
              description: The number of seconds until the window is reset.
              required: true
              schema:
                minimum: 0
                type: integer
                format: int32
        '500':
          description: Internal Server Error - There is a problem with the server. Please try again later.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '503':
          description: Service Unavailable - We're temporarily offline for maintenance. Please try again later.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
components:
  securitySchemes:
    apiKey:
      name: api-key
      type: apiKey
      in: header
      description: The API Key representing your Weavr account. You can find your API Key in your Weavr Portal in the API Credentials page.
    authToken:
      type: http
      description: The authentication token representing the user. This will be included in the login response object.
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Authentication
  tags:
  - Tokens
  - Passwords
- name: Authorisation
  tags:
  - Additional Factors
  - Step up
- name: Identities
  tags:
  - Buyers
  - Buyer Authorised Users
- name: Payment runs
  tags:
  - Payment runs
- name: Instruments
  tags:
  - Linked Accounts
- name: Institutions
  tags:
  - Institutions
- name: Simulators
  tags:
  - Simulator
- name: Events
  tags:
  - Buyers Webhooks
  - Payment runs Webhooks
  - Linked Accounts Webhooks
  - Tokens Webhooks
  - Stepup Webhooks
  - Authentication Factors Webhooks
  - Transactions Webhooks
