openapi: 3.1.0
info:
  version: v3
  title: Weavr Multi Product BackOffice Access Token Transaction Activity API
  x-logo:
    url: https://storage.googleapis.com/weavr-cdn/weavr_logo-new.png
    backgroundColor: '#FFFFFF'
    altText: Weavr
  description: 'Weavr Multi Back Office API allows you, as an innovator, to perform various back office operations concerning

    identities and their instruments, without requiring the users to be logged in.


    A token is to be obtained through the `access_token` method, and this will allow relevant operations

    to be performed on behalf of this same identity.

    '
  contact:
    name: Weavr
    url: https://weavr.io
servers:
- description: Weavr Sandbox Environment
  url: https://sandbox.weavr.io/multi/backoffice
tags:
- name: Transaction Activity
  description: Retrieve the consolidated transaction activity across instruments.
paths:
  /transactions:
    get:
      tags:
      - Transaction Activity
      description: 'Returns all transactional activity across all managed accounts and managed cards.


        This provides a single view of all transfers, sends, wire transfers, card payments, fees, and other

        transaction types regardless of which wallet they belong to.


        `creationTimestamp` is when the transaction was created in its owning service (the same value the

        nested `transaction` object reports), and is the field the creation-window filter applies to.

        Transactions that are committed but not yet executed (e.g. scheduled wire transfers) appear with

        status `SUBMITTED`; such transactions never appear on statements until they execute.


        A transfer between two of the caller''s own instruments (e.g. between a managed account and a

        managed card belonging to the same identity) returns **two** entries — a `DEBIT` on the source

        instrument and a `CREDIT` on the destination instrument — which share the same `id` and differ by

        `instrument`. Treat `(id, instrument)` as the key when reconciling, and note that such a transfer

        contributes 2 to the `count`. The per-instrument activity endpoints

        (`/managed_accounts/{id}/transactions`, `/managed_cards/{id}/transactions`) are scoped to one

        instrument and so still show the single relevant side.

        '
      summary: Get all transaction activity
      operationId: transactionsGet
      x-permissions:
      - i:managed_accounts:statement
      - i:managed_cards:statement
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/transactionActivityType'
      - $ref: '#/components/parameters/transactionActivityStatus'
      - $ref: '#/components/parameters/transactionActivityDirection'
      - $ref: '#/components/parameters/creationTimestampFrom'
      - $ref: '#/components/parameters/creationTimestampTo'
      - $ref: '#/components/parameters/lastUpdatedTimestampFrom'
      - $ref: '#/components/parameters/lastUpdatedTimestampTo'
      - $ref: '#/components/parameters/sortOrder'
      - $ref: '#/components/parameters/transactionActivitySortBy'
      responses:
        '200':
          $ref: '#/components/responses/TransactionActivityListResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api-key: []
components:
  schemas:
    OutgoingWireTransferRejectedInfo:
      description: "Additional info when the outgoing wire transfer has been rejected, as follows:\n  - SYSTEM: The wire transfer was rejected by the system.\n  - USER: The wire transfer was rejected by the user.\n"
      type: string
      enum:
      - SYSTEM
      - USER
    CardPaymentEventType:
      type: string
      description: Type of event recorded against a CardPayment. The `reversal` flag on each event distinguishes a reversal from the original action.
      enum:
      - AUTHORISATION
      - SETTLEMENT
      - REFUND
      - ORIGINAL_CREDIT
    FasterPaymentsBankDetailsOrBACSBankDetails:
      required:
      - accountNumber
      - sortCode
      type: object
      description: Bank details used in case the wire transfer is executed over Faster Payments.
      properties:
        accountNumber:
          type: string
          pattern: ^[0-9]{8}$
          description: Account number, required for wire transfer over Faster Payments.
        sortCode:
          type: string
          pattern: ^[0-9]{6}$
          description: Sort code, required for wire transfer over Faster Payments.
        secondaryReference:
          type: string
    CorrespondentBankingOwtState:
      description: "The state of the correspondent bank transfer transaction, as follows:\n  - INVALID: The transfer has failed initial validation checks.\n  - PENDING_CHALLENGE: The transfer requires the completion of a transaction confirmation challenge before it can be submitted.\n  - SUBMITTED: The transfer has been submitted to the sending financial institution for processing.\n  - REJECTED: The transfer that was submitted was rejected.\n  - APPROVED: The transfer that was submitted has been approved and is being processed by the sending financial institution.\n  - FAILED: There was an issue with the transfer, and the transaction has failed.\n  - COMPLETED: The requested funds have been sent from the source instrument.\n  - RETURNED: The transfer has been returned to the sender.\n  - SCHEDULED: The transfer will be executed at the scheduled time.\n  - CANCELLED: The scheduled transfer has been cancelled.\n  - PENDING_CONFIRMATION: The transfer requires a manual confirmation by the user before proceeding.\n"
      type: string
      enum:
      - INVALID
      - PENDING_CHALLENGE
      - SUBMITTED
      - REJECTED
      - APPROVED
      - FAILED
      - COMPLETED
      - RETURNED
      - SCHEDULED
      - CANCELLED
      - PENDING_CONFIRMATION
    CorrespondentBankingExternalData:
      type: object
      description: External data key-value pair.
      required:
      - name
      - value
      properties:
        name:
          type: string
          maxLength: 50
          description: Name/key of the external data.
        value:
          type: string
          maxLength: 255
          description: Value of the external data.
    ExternalAccountId:
      type: object
      description: The id of an external account, such as a Linked Account, registered with the Weavr Platform.
      required:
      - type
      - id
      properties:
        type:
          $ref: '#/components/schemas/ExternalAccountType'
        id:
          type: string
          pattern: ^[0-9]+$
    UKConfirmationOfPayeeResult:
      type: object
      required:
      - match
      properties:
        match:
          type: string
          description: The result of matching performed by the UK Confirmation of Payee responder
          enum:
          - EXACT_MATCH
          - CLOSE_MATCH
          - NO_MATCH
          - NOT_POSSIBLE
        reasonCode:
          type: string
          description: "The reason why the matching failed at the UK Confirmation of Payee responder:\n\n  - ANNM: The CoP responder confirms that the account `name` provided does not match;\n  - MBAM: The CoP responder indicates that the account `name` provided closely matches the actual account in its records, the actual account name is returned in the `accountName` field;\n  - BANM: The account `type` that the user specified is 'PERSONAL', but the CoP responder indicates that the actual account matching the `name` provided is actually BUSINESS;\n  - PANM: The account `type` that the user specified is 'BUSINESS', but the CoP responder indicates that the actual account matching the `name` provided is actually PERSONAL;\n  - BAMM: The account `type` that the user specified is 'PERSONAL', but the CoP responder indicates that an account closely matching the `name` provided is BUSINESS;\n  - PAMM: The account `type` that the user specified is 'BUSINESS', but the CoP responder indicates that an account closely matching the `name` provided is PERSONAL;\n  - AC01: The account does not exist in the CoP responders books, the `accountNumber` specified is likely incorrect; \n  - IVCR: The CoP responder was unable to locate an account based on the `secondaryReference` field;\n  - ACNS: The account is not supported for CoP by the CoP responder;\n  - OPTO: The owner of the account has opted out of CoP service by the CoP responder;\n  - CASS: The account has been switched using the Current Account Switch Service;\n  - SCNS: The `sortCode` provided is not supported at endpoint;\n"
          enum:
          - ANNM
          - MBAM
          - BANM
          - PANM
          - BAMM
          - PAMM
          - AC01
          - IVCR
          - ACNS
          - OPTO
          - CASS
          - SCNS
        accountName:
          type: string
          description: 'CoP: Returned when the `match` is a `CLOSE_MATCH` and the `reasonCode` is MBAM, BAMM or PAMM

            VoP: Returned when the `match` is a `CLOSE_MATCH`

            '
    CorrespondentBankingIndividualAddressAndBirthInfo:
      required:
      - dateOfBirth
      - placeOfBirth
      type: object
      description: Birth information for an individual originator.
      properties:
        dateOfBirth:
          type: string
          format: date
          description: Date of birth in YYYY-MM-DD format.
        placeOfBirth:
          type: string
          maxLength: 140
          description: Place of birth - city and country.
    Transfer:
      required:
      - id
      - profileId
      - creationTimestamp
      - destination
      - destinationAmount
      - source
      - state
      type: object
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of a Transfer transaction.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        tag:
          $ref: '#/components/schemas/Tag'
        source:
          description: The source managed account or card from where the funds were transferred.
          $ref: '#/components/schemas/InstrumentId'
        destination:
          description: The destination managed account or card to where the funds were transferred.
          $ref: '#/components/schemas/InstrumentId'
        destinationAmount:
          description: The amount, in same currency as source and destination, that was transferred from the source to the destination instrument.
          $ref: '#/components/schemas/CurrencyAmount'
        description:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9\/\-?:().$_,'+\s#=!"%&*<>;\{@\r\n]*$
          description: The description details that are included in the transaction as reference.
        state:
          $ref: '#/components/schemas/TransactionState'
        creationTimestamp:
          type: integer
          format: int64
          description: The time when the transaction was created, expressed in Epoch timestamp using millisecond precision.
        scheduledTimestamp:
          $ref: '#/components/schemas/ScheduledTimestamp'
        executionTimestamp:
          $ref: '#/components/schemas/ExecutionTimestamp'
        cancellationReason:
          $ref: '#/components/schemas/TransactionCancellationReason'
    CorrespondentBankingIndividualAddressAndIdInfo:
      required:
      - documentType
      - documentNumber
      type: object
      description: Personal identification for an individual originator.
      properties:
        documentType:
          type: string
          enum:
          - NATIONAL_ID
          - PASSPORT
          - TAX_ID
          - OTHER
          description: Type of personal identification document.
        documentNumber:
          type: string
          maxLength: 35
          description: Personal identification document number.
    DateOfBirth:
      type: string
      format: date
      description: The date of birth in ISO 8601 format (YYYY-MM-DD).
    SEPAVerificationOfPayeeResult:
      type: object
      required:
      - match
      properties:
        match:
          type: string
          description: The result of the SEPA Verification of Payee check performed by the responding PSP.
          enum:
          - MATCH
          - NO_MATCH
          - CLOSE_MATCH
          - NOT_POSSIBLE
        accountName:
          type: string
          description: 'The name of the account holder as registered with the responding PSP.

            Returned when the match result is CLOSE_MATCH to help the payer verify the payee.

            '
    FeeSummary:
      type: object
      required:
      - id
      - type
      - amount
      properties:
        id:
          description: Identifier of the fee — same value used as entryId on the corresponding fees-type entry, and as the fee transaction id in the Transaction Activity API.
          type: string
          pattern: ^[0-9]+$
        type:
          description: Always `fees`. Aligns with the top-level transaction type.
          type: string
          enum:
          - fees
        amount:
          description: Fee amount in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        subtype:
          description: Categorises the fee — derived from the parent transaction type.
          $ref: '#/components/schemas/FeeSubtype'
    Merchant:
      type: object
      description: Information about a merchant — used wherever a merchant appears in card-payment flows, statement entries, and transaction activity.
      required:
      - id
      - name
      properties:
        id:
          type: string
          description: Merchant identifier (MID) — the acquirer-assigned code that identifies the merchant on card-scheme messages (ISO 8583 DE 42 Card Acceptor Identification Code).
        name:
          type: string
          description: Merchant name (DBA name).
        nameOther:
          type: string
          description: Alternative merchant name as supplied by the card network, when present.
        networkId:
          type: string
          description: Identifier assigned by the acquirer or scheme to the merchant.
        categoryCode:
          type: string
          description: ISO 18245 merchant category code (MCC).
        description:
          type: string
          description: Free-text description of the merchant.
        street:
          type: string
          description: Street address of the merchant terminal.
        city:
          type: string
          description: City of the merchant terminal.
        state:
          type: string
          description: Subdivision (state, province, region) of the merchant terminal.
        postalCode:
          type: string
          description: Postal code of the merchant terminal.
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code of the merchant terminal.
        telephone:
          type: string
          description: Merchant telephone.
        url:
          type: string
          description: Merchant website.
        contact:
          type: string
          description: Merchant contact (name or email of a representative, when present).
        reference:
          type: string
          description: Merchant-supplied reference for the transaction (the merchant's own identifier for what they billed).
        logoUrl:
          type: string
          description: Merchant logo URL, when available.
    IncomingWireTransfer:
      type: object
      required:
      - id
      - state
      - amount
      - destinationInstrument
      - createdAt
      description: An incoming wire transfer received from an external bank account.
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of the incoming wire transfer.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        state:
          $ref: '#/components/schemas/IncomingWireTransferMultiState'
        amount:
          description: The amount credited (or to be credited) to the destination instrument, in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        fee:
          description: The fee charged on this incoming wire transfer. Omitted when no fee was charged.
          $ref: '#/components/schemas/CurrencyAmount'
        destinationInstrument:
          description: The managed account (with IBAN) that received the funds.
          $ref: '#/components/schemas/InstrumentId'
        paymentNetwork:
          type: string
          enum:
          - SEPA
          - FASTER_PAYMENTS
          - SWIFT
          - RIX
          - BACS
          - CHAPS
          - TARGET
          description: The payment network over which the transfer was received.
        senderName:
          type: string
          description: The name of the sender.
        senderIban:
          type: string
          description: The IBAN of the sender.
        senderReference:
          type: string
          description: The payment reference provided by the sender.
        forex:
          $ref: '#/components/schemas/TransactionForex'
        isInstant:
          type: boolean
          description: Whether this was an instant payment.
        createdAt:
          type: integer
          format: int64
          description: When the IWT was received, expressed in Epoch timestamp using millisecond precision.
        executedAt:
          type: integer
          format: int64
          description: When the IWT was settled, expressed in Epoch timestamp using millisecond precision.
    FasterPaymentsBeneficiary:
      required:
      - name
      - type
      - accountNumber
      - sortCode
      type: object
      description: Beneficiary details for Faster Payments wire transfers.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 140
          pattern: ^[a-zA-Z0-9\/\-?:().,'+\s#=!"%&*<>;\{@\r\n]*$
          description: 'The beneficiary''s full name. >= 1 character and <= 140 characters.

            Note: the '' symbol is the unicode value U+2019 (right single quotation mark)

            and not the unicode value U+0027 (apostrophe).

            '
        type:
          type: string
          description: The type of beneficiary account. Required for Faster Payments.
          enum:
          - PERSONAL
          - BUSINESS
        accountNumber:
          type: string
          pattern: ^[0-9]{8}$
          description: Account number, required for wire transfer over Faster Payments.
        sortCode:
          type: string
          pattern: ^[0-9]{6}$
          description: Sort code, required for wire transfer over Faster Payments.
        secondaryReference:
          type: string
          description: Optional secondary reference for accounts without unique sort codes.
        address:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's address.
        bankName:
          type: string
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    OutgoingWireTransferType:
      type: string
      description: The wire transfer rails used, from SEPA, Faster Payments, SWIFT or RIX.
      enum:
      - SEPA
      - FASTER_PAYMENTS
      - SWIFT
      - RIX
    Tag:
      type: string
      description: The tag field is a custom field that can be used to search and filter.
      maxLength: 50
      pattern: ^[a-zA-Z0-9_-]+$
    CurrencyAmount:
      required:
      - currency
      - amount
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/Currency'
        amount:
          type: integer
          format: int64
          description: 'The monetary amount, scaled to the lowest denomination of the currency.


            Example, an amount of 1000 for a EUR currency is actually 1000 Euro cents or EUR 10.00.

            '
      description: The object representing a monetary amount in a particular currency.
    FeeSubtype:
      type: string
      description: The category of fee — indicates the activity or instrument-lifecycle event the fee relates to.
      enum:
      - fee_reversals
      - incoming_wire_fees
      - withdrawal_fees
      - purchase_fees
      - refund_fees
      - atm_withdrawal_fees
      - chargeback_fees
      - transfer_fees
      - send_fees
      - outgoing_wire_transfer_fees
      - custom_fees
      - other_fees
      - instrument_delete_fees
      - funds_redemption_fees
      - system_transaction_fees
    ScaledAmount:
      type: object
      properties:
        value:
          type: integer
          format: int64
        scale:
          maximum: 127
          minimum: -128
          type: integer
          format: int32
      description: 'A floating point number, represented as a value and its scale. Its actual value can be obtained using the equation: value * pow(10, -scale).'
    Send:
      required:
      - id
      - profileId
      - creationTimestamp
      - source
      - destinationAmount
      - state
      - transactionAmount
      type: object
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of a send transaction.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        tag:
          $ref: '#/components/schemas/Tag'
        source:
          description: The source managed account or card from where the funds were sent.
          $ref: '#/components/schemas/InstrumentId'
        sourceFee:
          allOf:
          - $ref: '#/components/schemas/CurrencyAmount'
          - type: object
            description: The fee applied to the source.
        destination:
          description: The destination managed account or card to where the funds were sent.
          oneOf:
          - $ref: '#/components/schemas/InstrumentId'
          - $ref: '#/components/schemas/BeneficiaryId'
        destinationAmount:
          description: The amount, in same currency as source and destination, that was sent from the source to the destination instrument.
          $ref: '#/components/schemas/CurrencyAmount'
        destinationFee:
          allOf:
          - $ref: '#/components/schemas/CurrencyAmount'
          - type: object
            description: The fee applied to the destination.
        transactionAmount:
          allOf:
          - $ref: '#/components/schemas/CurrencyAmount'
          - type: object
            description: The original transaction amount before any fees were deducted.
        description:
          type: string
          description: The description details that are passed to the beneficiary.
          maxLength: 255
          pattern: ^[a-zA-Z0-9\/\-?:().$_,'+\s#=!"%&*<>;\{@\r\n]*$
        state:
          $ref: '#/components/schemas/SendState'
        challengeExemptionReason:
          $ref: '#/components/schemas/ChallengeExemptionReason'
        creationTimestamp:
          type: integer
          format: int64
          description: The time when the transaction was created, expressed in Epoch timestamp using millisecond precision.
        scheduledTimestamp:
          $ref: '#/components/schemas/ScheduledTimestamp'
        executionTimestamp:
          $ref: '#/components/schemas/ExecutionTimestamp'
        cancellationReason:
          $ref: '#/components/schemas/TransactionCancellationReason'
    TransactionActivityList:
      type: object
      description: A paginated list of transaction activity entries.
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionActivityItem'
        count:
          type: integer
          format: int64
          description: The total number of records matching the filter criteria.
        responseCount:
          type: integer
          format: int64
    BeneficiaryId:
      required:
      - beneficiaryId
      type: object
      properties:
        beneficiaryId:
          $ref: '#/components/schemas/Id'
    ChallengeExemptionReason:
      type: string
      enum:
      - LOW_VALUE
      - TRUSTED_BENEFICIARY
      description: The Reason the transaction was exempted from SCA verification
    CardPaymentEvent:
      type: object
      description: "An event in a card payment's lifecycle, lean — used **nested** inside `CardPayment.events[]`. The parent card payment provides `cardPaymentId`, `card`, and `merchant`, so the lean variants don't repeat them. Each event carries its own `authCode`. Four variants discriminated by `type`:\n\n  - `AUTHORISATION` → `CardPaymentAuthorisationEvent`\n  - `SETTLEMENT` → `CardPaymentSettlementEvent`\n  - `REFUND` → `CardPaymentRefundEvent`\n  - `ORIGINAL_CREDIT` → `CardPaymentOriginalCreditEvent` (Visa OCT / Mastercard MoneySend)\n\nFor the **standalone** version returned by `GET /card_payment_events` — which carries `cardPaymentId`, `card`, and `merchant` so each row is self-contained — see `CardPaymentEventDetail`.\n"
      required:
      - type
      properties:
        type:
          $ref: '#/components/schemas/CardPaymentEventType'
      discriminator:
        propertyName: type
        mapping:
          AUTHORISATION: '#/components/schemas/CardPaymentAuthorisationEvent'
          SETTLEMENT: '#/components/schemas/CardPaymentSettlementEvent'
          REFUND: '#/components/schemas/CardPaymentRefundEvent'
          ORIGINAL_CREDIT: '#/components/schemas/CardPaymentOriginalCreditEvent'
    InstrumentId:
      required:
      - id
      - type
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        type:
          $ref: '#/components/schemas/InstrumentType'
    RIXBeneficiary:
      required:
      - name
      - iban
      type: object
      description: Beneficiary details for RIX wire transfers.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 150
          description: 'The beneficiary''s full name. >= 1 character and <= 150 characters.

            An extended character set is accepted to cater for all European languages.

            If RIX does not support a particular character, it is automatically

            converted to an acceptable alternative.

            '
        iban:
          type: string
          minLength: 15
          maxLength: 34
          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
          description: International Bank Account Number, required for wire transfer over RIX.
        bankIdentifierCode:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
          description: BIC (Bank Identifier Code) for wire transfer over RIX.
        address:
          maxLength: 150
          minLength: 1
          type: string
          description: 'The beneficiary''s address. An extended character set is accepted to cater

            for all European languages. If RIX does not support a particular character,

            it is automatically converted to an acceptable alternative.

            '
        bankName:
          type: string
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    Currency:
      type: string
      description: 'The currency expressed in ISO-4217 code. Example: GBP, EUR, USD.'
      maxLength: 3
      minLength: 3
      pattern: ^[A-Z]*$
    CorrespondentBankingIndividualOriginator:
      required:
      - name
      - address
      - country
      - bankAccountDetails
      type: object
      description: 'An individual (natural person) originator of the transfer.


        Travel Rule Requirements:

        - Mandatory: Full name and account number (via bankAccountDetails)

        - Mandatory: At least one supplementary information type (address + birth details, or address + official ID)

        '
      properties:
        tag:
          $ref: '#/components/schemas/Tag'
        name:
          type: string
          maxLength: 140
          description: Full name of the individual as documented on official ID.
        address:
          type: string
          maxLength: 255
          description: Full residential address of the individual.
        country:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}$
          description: ISO 3166-1 alpha-2 country code.
        bankAccountDetails:
          $ref: '#/components/schemas/CorrespondentBankingBankAccountDetails'
          description: Account and financial institution details of the originator (travel rule mandatory).
        supplementaryInformation:
          oneOf:
          - $ref: '#/components/schemas/CorrespondentBankingIndividualAddressAndIdInfo'
          - $ref: '#/components/schemas/CorrespondentBankingIndividualAddressAndBirthInfo'
    SendState:
      type: string
      description: "The state of the send transaction, as follows:\n - INVALID: The send transaction has failed initial validation checks. \n - INITIALISED: The initial state of a send transaction when SCA is not required.\n - PENDING_CHALLENGE: The send transaction requires the completion of a transaction confirmation challenge before it can be submitted.\n - PENDING: The send transaction has exceeded the destination limit and is pending treasury approval.\n - APPROVED: The send transaction that was submitted has been approved.\n - COMPLETED: The requested funds have been sent from the source instrument.\n - REJECTED: The send transaction that was submitted was rejected.\n - FAILED: There was an issue with the send transaction, and the transaction has failed.\n - RETURNED: The send transaction has been returned to the sender.\n - SCHEDULED: The send transaction will be executed at the scheduled time.\n - CANCELLED: The scheduled send transaction has been cancelled.\n"
      enum:
      - INVALID
      - INITIALISED
      - COMPLETED
      - REJECTED
      - FAILED
      - PENDING
      - PENDING_CHALLENGE
      - APPROVED
      - RETURNED
      - SCHEDULED
      - CANCELLED
    ExecutionTimestamp:
      pattern: ^[0-9]+$
      type: string
      description: The epoch timestamp at which the transaction was executed, transitioning to a final state such as COMPLETED, REJECTED, or FAILED.
    CardPaymentStatus:
      type: string
      description: 'Lifecycle status of a CardPayment.


        - `SETTLEMENT_IN_PROGRESS` — authorised, not yet (or not fully) settled. The hold is still on the card.

        - `SETTLED` — fully settled. The customer has been charged.

        - `DECLINED` — the latest authorisation was declined; no money moved.

        - `CANCELLED` — the authorisation was cancelled/reversed before settlement; no charge applied.

        - `EXPIRED` — the authorisation timed out without settling.

        '
      enum:
      - SETTLEMENT_IN_PROGRESS
      - SETTLED
      - DECLINED
      - CANCELLED
      - EXPIRED
    TransactionActivityDirection:
      type: string
      description: Whether funds were credited to or debited from the instrument.
      enum:
      - CREDIT
      - DEBIT
    TransactionState:
      type: string
      description: Status of the transaction.
      enum:
      - INITIALISED
      - COMPLETED
      - REJECTED
      - FAILED
      - PENDING
      - SCHEDULED
      - CANCELLED
    OutgoingWireTransferBeneficiary:
      deprecated: true
      required:
      - name
      - bankAccountDetails
      type: object
      description: 'Details of the beneficiary of the outgoing wire transfer.

        **Deprecated**: Use `SEPABeneficiary` for SEPA/IBAN transfers or `FasterPaymentsBeneficiary` for Faster Payments transfers instead.

        '
      properties:
        name:
          type: string
          description: 'The beneficiary''s full name. The allowed length and pattern is dependent on the bank account details type:


            `IBANDetails`: >= `1` character and <= `150` characters. An extended character set is accepted to cater for all European languages. If `SEPA` does not support a particular character, it is automatically converted to an acceptable alternative, in line with `SEPA` scheme guidance.


            `FasterPaymentsBankDetailsOrBACSBankDetails`: >= `1` character and <= `140` characters with a pattern of `^[a-zA-Z0-9\/\-?:().,’+\s#=!"%&*<>;\{@\r\n]*$`

            (please note that the `’` symbol is the unicode value U+2019 (right single quotation mark) and not the unicode value U+0027 (apostrophe))

            '
        type:
          type: string
          description: The type of beneficiary account. Required only when `FasterPaymentsBankDetailsOrBACSBankDetails` are specified
          enum:
          - PERSONAL
          - BUSINESS
        address:
          maxLength: 150
          minLength: 1
          type: string
          description: 'The beneficiary’s address. For `SEPA`, an extended character set is accepted to cater for all European languages. If `SEPA` does not support a particular character, it is automatically converted to an acceptable alternative, in line with `SEPA` scheme guidance.

            '
        bankName:
          type: string
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        bankAccountDetails:
          description: Details of the beneficiary bank account, depending on the type of transfer chosen.
          oneOf:
          - $ref: '#/components/schemas/IBANDetails'
          - $ref: '#/components/schemas/FasterPaymentsBankDetailsOrBACSBankDetails'
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    OutgoingWireTransferValidationOutcome:
      type: object
      required:
      - category
      - categoryResult
      properties:
        category:
          type: string
          enum:
          - UK_CONFIRMATION_OF_PAYEE
          - SEPA_VERIFICATION_OF_PAYEE
        categoryResult:
          oneOf:
          - $ref: '#/components/schemas/UKConfirmationOfPayeeResult'
          - $ref: '#/components/schemas/SEPAVerificationOfPayeeResult'
    TransactionActivityType:
      type: string
      description: "The type of transaction:\n  - transfers: Internal transfer between instruments of the same identity\n  - sends: Transfer between instruments of different identities\n  - outgoing_wire_transfers: Wire transfer to an external bank account\n  - correspondent_bank_transfers: Wire transfer on behalf of a third-party originator\n  - incoming_wire_transfers: Wire transfer received from an external bank account\n  - card_payments: Card payment (purchase, refund, OCT, etc.) with full lifecycle\n  - fees: Fee charged or reversed on an instrument\n  - system_transactions: System-generated transactions (balance adjustments, account closures, dispute outcomes, etc.)\n"
      enum:
      - transfers
      - sends
      - outgoing_wire_transfers
      - correspondent_bank_transfers
      - incoming_wire_transfers
      - card_payments
      - fees
      - system_transactions
    TransactionActivityItem:
      type: object
      required:
      - id
      - type
      - status
      - amount
      - instrument
      - creationTimestamp
      description: 'A transaction activity entry returned by the cross-instrument `/transactions` endpoint.

        Common fields are surfaced at the top level for easy filtering and sorting without inspecting

        the nested `transaction`. The full transaction object (Transfer, Send, OWT, CBT, IWT, CardPayment,

        FeeTransaction, SystemTransaction) is available under `transaction` for detailed consumption.

        '
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The transaction identifier.
        type:
          $ref: '#/components/schemas/TransactionActivityType'
        status:
          $ref: '#/components/schemas/TransactionActivityStatus'
        direction:
          $ref: '#/components/schemas/TransactionActivityDirection'
        amount:
          description: The primary transaction amount in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        instrument:
          description: The instrument this transaction belongs to.
          $ref: '#/components/schemas/InstrumentId'
        fee:
          description: The fee linked to this transaction, if any.
          $ref: '#/components/schemas/FeeSummary'
        creationTimestamp:
          type: integer
          format: int64
        lastUpdatedTimestamp:
          type: integer
          format: int64
        transaction:
          description: The full transaction object. Schema matches the value of `type`.
          oneOf:
          - $ref: '#/components/schemas/Transfer'
          - $ref: '#/components/schemas/Send'
          - $ref: '#/components/schemas/OutgoingWireTransfer'
          - $ref: '#/components/schemas/CorrespondentBankingOwt'
          - $ref: '#/components/schemas/IncomingWireTransfer'
          - $ref: '#/components/schemas/CardPayment'
          - $ref: '#/components/schemas/FeeTransaction'
          - $ref: '#/components/schemas/SystemTransaction'
    Card:
      type: object
      required:
      - id
      - type
      description: Information about a managed card — used wherever a card appears (the card on a card payment, or the access instrument that initiated a transaction).
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of the managed card.
        type:
          type: string
          enum:
          - managed_cards
        mode:
          type: string
          enum:
          - prepaid
          - debit
          description: "The mode the card was created in.\n  - `prepaid`: The card has its own balance and can have funds transferred to or from it.\n  - `debit`: The card has no balance of its own; it draws on its parent managed account up to a configurable spend limit.\n"
        friendlyName:
          type: string
          description: The friendly name chosen for the card.
        nameOnCard:
          type: string
          description: The cardholder name printed on the card.
        cardBrand:
          type: string
          enum:
          - MASTERCARD
          - VISA
          description: The scheme of the card. Restricted to schemes supported by card payments.
        cardNumberFirstSix:
          type: string
          pattern: ^[0-9]{6}$
          description: The first six digits of the card number (BIN range).
        cardNumberLastFour:
          type: string
          pattern: ^[0-9]{4}$
          description: The last four digits of the card number.
        linkedUserId:
          type: string
          pattern: ^[0-9]+$
          description: Identifier of the authorised user the card is assigned to. Populated only when the card has been assigned to a specific user.
        parentManagedAccountId:
          type: string
          pattern: ^[0-9]+$
          description: Identifier of the managed account this card draws funds from. Populated only when `mode` is `debit`.
    ScheduledTimestamp:
      pattern: ^[0-9]+$
      type: string
      description: The epoch timestamp at which the transaction is scheduled to be executed.
    TransactionActivitySortBy:
      type: string
      description: "The field to sort transaction activity results by:\n  - creationTimestamp: Sort by when the transaction was first created (default).\n  - lastUpdatedTimestamp: Sort by when the transaction was most recently updated.\n"
      enum:
      - creationTimestamp
      - lastUpdatedTimestamp
    CorrespondentBankingOwt:
      required:
      - id
      - profileId
      - creationTimestamp
      - sourceInstrument
      - amount
      - originator
      - beneficiary
      - purpose
      - state
      type: object
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of the Correspondent Banking OWT.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        tag:
          $ref: '#/components/schemas/Tag'
        sourceInstrument:
          required:
          - type
          - id
          type: object
          description: The source managed account from where the funds were taken.
          properties:
            type:
              type: string
              enum:
              - managed_accounts
            id:
              type: string
              pattern: ^[0-9]+$
        amount:
          description: The amount transferred.
          $ref: '#/components/schemas/CurrencyAmount'
        originator:
          oneOf:
          - $ref: '#/components/schemas/CorrespondentBankingIndividualOriginator'
          - $ref: '#/components/schemas/CorrespondentBankingBusinessOriginator'
        beneficiary:
          oneOf:
          - $ref: '#/components/schemas/CorrespondentBankingSEPABeneficiary'
          - $ref: '#/components/schemas/CorrespondentBankingRIXBeneficiary'
          - $ref: '#/components/schemas/CorrespondentBankingFasterPaymentsBeneficiary'
        purpose:
          type: string
          maxLength: 255
          description: The purpose of the payment.
        description:
          maxLength: 35
          type: string
          description: 'These details are passed to the beneficiary as the `reference`. This field is mandatory for wire transfers executed over `SEPA`. The allowed length is dependent on the payment type:


            `SEPA` <= `35` characters. An extended character set is accepted to cater for all European languages. If `SEPA` does not support a particular character, it is automatically converted to an acceptable alternative, in line with `SEPA` scheme guidance.


            `Faster Payments` <= `18` characters

            '
        externalData:
          type: array
          description: Additional external data as key-value pairs.
          items:
            $ref: '#/components/schemas/CorrespondentBankingExternalData'
        state:
          $ref: '#/components/schemas/CorrespondentBankingOwtState'
        creationTimestamp:
          type: integer
          format: int64
          description: The time when the transaction was created, expressed in Epoch timestamp using millisecond precision.
        scheduledTimestamp:
          $ref: '#/components/schemas/ScheduledTimestamp'
        cancellationReason:
          $ref: '#/components/schemas/TransactionCancellationReason'
        validationOutcomes:
          type: array
          items:
            $ref: '#/components/schemas/CorrespondentBankingOwtValidationOutcome'
    SEPABeneficiary:
      required:
      - name
      - iban
      type: object
      description: Beneficiary details for SEPA/IBAN wire transfers.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 150
          description: 'The beneficiary''s full name. >= 1 character and <= 150 characters.

            An extended character set is accepted to cater for all European languages.

            If SEPA does not support a particular character, it is automatically

            converted to an acceptable alternative, in line with SEPA scheme guidance.

            '
        iban:
          type: string
          minLength: 15
          maxLength: 34
          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
          description: International Bank Account Number, required for wire transfer over SEPA.
        bankIdentifierCode:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
          description: BIC (Bank Identifier Code) for wire transfer over SEPA.
        address:
          maxLength: 150
          minLength: 1
          type: string
          description: 'The beneficiary''s address. An extended character set is accepted to cater

            for all European languages. If SEPA does not support a particular character,

            it is automatically converted to an acceptable alternative.

            '
        bankName:
          type: string
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    IncomingWireTransferMultiState:
      type: string
      description: "The state of an incoming wire transfer:\n  - PENDING: The transfer has been received and is being processed. Funds have not yet been credited to the destination account.\n  - COMPLETED: Funds have been credited to the destination account.\n  - REJECTED: The transfer was not accepted; funds were not credited.\n"
      enum:
      - PENDING
      - COMPLETED
      - REJECTED
    ExternalAccountType:
      type: string
      enum:
      - linked_accounts
    FeeTransaction:
      type: object
      required:
      - id
      - feeType
      - amount
      - instrument
      - status
      - creationTimestamp
      description: 'A fee charged or reversed on an instrument. Surfaced through `GET /fees`,

        `GET /transactions` (Transaction Activity), and as line items on statements.

        '
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of the fee transaction.
        feeType:
          $ref: '#/components/schemas/FeeSubtype'
        amount:
          description: The fee amount in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        instrument:
          description: The instrument the fee was charged against.
          $ref: '#/components/schemas/InstrumentId'
        status:
          $ref: '#/components/schemas/FeeTransactionStatus'
        description:
          type: string
          maxLength: 255
        relatedTransactionId:
          type: string
          pattern: ^[0-9]+$
          description: The parent transaction this fee relates to, if any.
        creationTimestamp:
          type: integer
          format: int64
        lastUpdatedTimestamp:
          type: integer
          format: int64
    ProfileId:
      type: string
      description: 'The profile Id which a specific identity, instrument or transaction type is linked to.


        Profiles contain configuration and determine behavioral aspects of the newly created transaction, for example, fees that may apply.


        You can have one or more profiles linked to your application, and these can be used to drive different behaviors according to your product''s needs.


        Profile Ids can be found in the Multi Portal, in the API Credentials page.

        '
      pattern: ^[0-9]+$
    Id:
      type: string
      pattern: ^[0-9]+$
    CorrespondentBankingSEPABeneficiary:
      required:
      - name
      - iban
      - address
      type: object
      description: CBT-specific beneficiary details for SEPA/IBAN wire transfers with Banking Circle FI-to-FI field limits.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 35
          description: 'The beneficiary''s full name. >= 1 character and <= 35 characters.

            An extended character set is accepted to cater for all European languages.

            If SEPA does not support a particular character, it is automatically

            converted to an acceptable alternative, in line with SEPA scheme guidance.

            '
        iban:
          type: string
          minLength: 15
          maxLength: 34
          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
          description: International Bank Account Number, required for wire transfer over SEPA.
        bankIdentifierCode:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
          description: BIC (Bank Identifier Code) for wire transfer over SEPA.
        address:
          maxLength: 105
          minLength: 1
          type: string
          description: 'The beneficiary''s address. Required for correspondent banking transfers.

            Maximum 105 characters (split into 3x35-char lines by the provider).

            '
        bankName:
          type: string
          maxLength: 150
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    SWIFTBeneficiary:
      required:
      - name
      - account
      - address
      - bankCountry
      type: object
      description: Beneficiary details for SWIFT wire transfers.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 150
          description: The beneficiary's full name.
        account:
          type: string
          minLength: 1
          maxLength: 34
          pattern: ^[a-zA-Z0-9]{1,34}$
          description: Can be either an account number or an International Bank Account Number (IBAN).
        bankIdentifierCode:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{8,11}$
          description: Required if account is not an IBAN. Bank Identifier Code (BIC).
        address:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's address.
        bankName:
          type: string
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    CorrespondentBankingFasterPaymentsBeneficiary:
      required:
      - name
      - type
      - accountNumber
      - sortCode
      - address
      type: object
      description: CBT-specific beneficiary details for Faster Payments wire transfers with Banking Circle FI-to-FI field limits.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 35
          pattern: ^[a-zA-Z0-9\/\-?:().,'+\s#=!"%&*<>;\{@\r\n]*$
          description: 'The beneficiary''s full name. >= 1 character and <= 35 characters.

            Note: the '' symbol is the unicode value U+2019 (right single quotation mark)

            and not the unicode value U+0027 (apostrophe).

            '
        type:
          type: string
          description: The type of beneficiary account. Required for Faster Payments.
          enum:
          - PERSONAL
          - BUSINESS
        accountNumber:
          type: string
          pattern: ^[0-9]{8}$
          description: Account number, required for wire transfer over Faster Payments.
        sortCode:
          type: string
          pattern: ^[0-9]{6}$
          description: Sort code, required for wire transfer over Faster Payments.
        secondaryReference:
          type: string
          description: Optional secondary reference for accounts without unique sort codes.
        address:
          maxLength: 105
          minLength: 1
          type: string
          description: 'The beneficiary''s address. Required for correspondent banking transfers.

            Maximum 105 characters (split into 3x35-char lines by the provider).

            '
        bankName:
          type: string
          maxLength: 150
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    CorrespondentBankingBusinessAddressAndIdInfo:
      required:
      - documentType
      - documentNumber
      type: object
      description: Business identification for a business originator.
      properties:
        documentType:
          type: string
          enum:
          - LEI
          - REGISTRATION_NUMBER
          - TAX_ID
          - OTHER
          description: Type of business identification document.
        documentNumber:
          type: string
          maxLength: 35
          description: Business identification document number (e.g. LEI code, company registration number).
    Nationality:
      maxLength: 2
      minLength: 2
      pattern: ^[A-Z]+$
      type: string
      description: Nationality of the user - using ISO 3166 alpha-2.
    CorrespondentBankingRIXBeneficiary:
      required:
      - name
      - iban
      - address
      type: object
      description: CBT-specific beneficiary details for RIX wire transfers with Banking Circle FI-to-FI field limits.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 35
          description: 'The beneficiary''s full name. >= 1 character and <= 35 characters.

            An extended character set is accepted to cater for all European languages.

            If RIX does not support a particular character, it is automatically

            converted to an acceptable alternative.

            '
        iban:
          type: string
          minLength: 15
          maxLength: 34
          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
          description: International Bank Account Number, required for wire transfer over RIX.
        bankIdentifierCode:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
          description: BIC (Bank Identifier Code) for wire transfer over RIX.
        address:
          maxLength: 105
          minLength: 1
          type: string
          description: 'The beneficiary''s address. Required for correspondent banking transfers.

            Maximum 105 characters (split into 3x35-char lines by the provider).

            '
        bankName:
          type: string
          maxLength: 150
          description: The beneficiary's bank name.
        bankAddress:
          maxLength: 150
          minLength: 1
          type: string
          description: The beneficiary's bank address.
        bankCountry:
          type: string
          description: The beneficiary's bank country in ISO 3166 alpha-2 format.
          maxLength: 2
          minLength: 2
          pattern: ^[A-Z]{2}$
        nationality:
          $ref: '#/components/schemas/Nationality'
        dateOfBirth:
          $ref: '#/components/schemas/DateOfBirth'
    OutgoingWireTransfer:
      required:
      - id
      - profileId
      - creationTimestamp
      - sourceInstrument
      - transferAmount
      - state
      type: object
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of an Outgoing Wire Transfer transaction.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        tag:
          $ref: '#/components/schemas/Tag'
        sourceInstrument:
          required:
          - type
          - id
          type: object
          description: The source managed account from where the funds were taken.
          properties:
            type:
              type: string
              enum:
              - managed_accounts
            id:
              type: string
              pattern: ^[0-9]+$
        transferAmount:
          description: The amount, in same currency as source and destination, that was transferred from the source.
          $ref: '#/components/schemas/CurrencyAmount'
        fee:
          description: The fee charged on this outgoing wire transfer. Omitted when no fee was charged.
          $ref: '#/components/schemas/CurrencyAmount'
        purpose:
          type: string
          maxLength: 255
          description: The purpose of the payment.
        description:
          maxLength: 50
          type: string
          description: ' Transaction description.'
        type:
          $ref: '#/components/schemas/OutgoingWireTransferType'
        destination:
          oneOf:
          - $ref: '#/components/schemas/OutgoingWireTransferBeneficiary'
          - $ref: '#/components/schemas/SEPABeneficiary'
          - $ref: '#/components/schemas/SWIFTBeneficiary'
          - $ref: '#/components/schemas/RIXBeneficiary'
          - $ref: '#/components/schemas/FasterPaymentsBeneficiary'
          - $ref: '#/components/schemas/BeneficiaryId'
          - $ref: '#/components/schemas/ExternalAccountId'
        state:
          $ref: '#/components/schemas/OutgoingWireTransferState'
        rejectedInfo:
          $ref: '#/components/schemas/OutgoingWireTransferRejectedInfo'
        challengeExemptionReason:
          $ref: '#/components/schemas/ChallengeExemptionReason'
        creationTimestamp:
          type: integer
          format: int64
          description: The time when the transaction was created, expressed in Epoch timestamp using millisecond precision.
        scheduledTimestamp:
          $ref: '#/components/schemas/ScheduledTimestamp'
        executionTimestamp:
          $ref: '#/components/schemas/ExecutionTimestamp'
        cancellationReason:
          $ref: '#/components/schemas/TransactionCancellationReason'
        validationOutcomes:
          type: array
          items:
            $ref: '#/components/schemas/OutgoingWireTransferValidationOutcome'
    TransactionCancellationReason:
      type: string
      pattern: ^[ a-zA-Z0-9_-]+$
      maxLength: 50
      description: The reason the scheduled transaction was cancelled.
    SystemTransaction:
      type: object
      required:
      - id
      - amount
      - instrument
      - status
      - creationTimestamp
      description: 'A system-generated transaction applied to an instrument by the platform (balance adjustments,

        account closures, dispute outcomes, replacement balance transfers, etc.). Only surfaced

        through Transaction Activity.

        '
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: The unique identifier of the system transaction.
        subtype:
          $ref: '#/components/schemas/SystemTransactionSubtype'
        amount:
          description: The transaction amount in the instrument's currency.
          $ref: '#/components/schemas/CurrencyAmount'
        instrument:
          description: The instrument the transaction was applied to.
          $ref: '#/components/schemas/InstrumentId'
        status:
          $ref: '#/components/schemas/TransactionActivityStatus'
        reason:
          type: string
          maxLength: 255
          description: Operational reason or context for the system transaction.
        relatedTransactionId:
          type: string
          pattern: ^[0-9]+$
          description: A related transaction this system event corrects or compensates, if any.
        creationTimestamp:
          type: integer
          format: int64
        lastUpdatedTimestamp:
          type: integer
          format: int64
    SyntaxError:
      type: object
      description: Is returned as part of an HTTP error response whenever a syntax error is detected. A list of the fields together with their syntax error will be provided.
      properties:
        invalidFields:
          type: array
          items:
            type: object
            properties:
              params:
                type: array
                items:
                  type: string
              fieldName:
                type: string
              error:
                type: string
                enum:
                - REQUIRED
                - HAS_TEXT
                - REQUIRES
                - SIZE
                - RANGE
                - IN
                - NOT_IN
                - REGEX
                - EXACTLY
                - AT_LEAST
                - AT_MOST
                - ALL_OR_NONE
    CardPaymentType:
      type: string
      description: 'High-level type of card payment, derived from the first event.


        - `PURCHASE` — standard purchase at a merchant.

        - `REFUND` — refund from a merchant to the cardholder.

        - `ORIGINAL_CREDIT` — push credit to the cardholder (OCT).

        - `ACCOUNT_FUNDING` — load funds onto an account.

        - `CASH_WITHDRAWAL` — cash withdrawn at ATM or scheme cash service.

        - `BALANCE_INQUIRY` — non-financial balance check.

        '
      enum:
      - PURCHASE
      - REFUND
      - ORIGINAL_CREDIT
      - ACCOUNT_FUNDING
      - CASH_WITHDRAWAL
      - BALANCE_INQUIRY
    CorrespondentBankingOwtValidationOutcome:
      type: object
      required:
      - category
      - categoryResult
      properties:
        category:
          type: string
          enum:
          - SEPA_VERIFICATION_OF_PAYEE
          - UK_CONFIRMATION_OF_PAYEE
        categoryResult:
          oneOf:
          - $ref: '#/components/schemas/SEPAVerificationOfPayeeResult'
          - $ref: '#/components/schemas/UKConfirmationOfPayeeResult'
    OutgoingWireTransferState:
      description: "The state of the Outgoing wire transfer transaction, as follows:\n  - INVALID: The wire transfer has failed initial validation checks.\n  - PENDING_CHALLENGE: The wire transfer requires the completion of a transaction confirmation challenge before it can be submitted.\n  - SUBMITTED: The wire transfer has been submitted to the sending financial institution for processing.\n  - REJECTED: The wire transfer that was submitted was rejected.\n  - APPROVED: The wire transfer that was submitted has been approved and is being processed by the sending financial institution.\n  - FAILED: There was an issue with the wire transfer, and the transaction has failed.\n  - COMPLETED: The requested funds have been sent from the source instrument.\n  - RETURNED: The wire transfer has been returned to the sender.\n  - SCHEDULED: The wire transfer will be executed at the scheduled time.\n  - CANCELLED: The scheduled wire transfer has been cancelled.\n  - PENDING_CONFIRMATION: The wire transfer requires a manual confirmation by the user before proceeding.\n"
      type: string
      enum:
      - INVALID
      - PENDING_CHALLENGE
      - SUBMITTED
      - REJECTED
      - APPROVED
      - FAILED
      - COMPLETED
      - RETURNED
      - SCHEDULED
      - CANCELLED
      - PENDING_CONFIRMATION
    IBANDetails:
      required:
      - iban
      type: object
      description: Bank details used in case the wire transfer is executed over SEPA or RIX
      properties:
        iban:
          type: string
          minLength: 15
          maxLength: 34
          pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{11,30}$
          description: International Bank Account Number, required for wire transfer over SEPA or RIX
        bankIdentifierCode:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{0,3}$
          description: BIC, for wire transfer over SEPA or RIX
    FeeTransactionStatus:
      type: string
      description: "Lifecycle status of a fee transaction:\n  - PENDING: Fee accompanies a transaction that is still processing; it may still be cancelled.\n  - COMPLETED: Fee was charged and posted to the instrument balance.\n  - CANCELLED: Fee was cancelled before being charged.\n  - REVERSED: Fee was previously charged and has been reversed.\n"
      enum:
      - PENDING
      - COMPLETED
      - CANCELLED
      - REVERSED
    TransactionForex:
      type: object
      description: Foreign exchange details when the transaction involved currency conversion.
      properties:
        originalAmount:
          description: The original amount in the source or merchant currency before conversion.
          $ref: '#/components/schemas/CurrencyAmount'
        exchangeRate:
          description: The exchange rate applied to the conversion.
          $ref: '#/components/schemas/ScaledAmount'
        paddingAmount:
          description: The forex padding amount held during authorisation.
          $ref: '#/components/schemas/CurrencyAmount'
        feeAmount:
          description: The forex markup fee amount.
          $ref: '#/components/schemas/CurrencyAmount'
    SystemTransactionSubtype:
      type: string
      description: The specific kind of system-generated transaction.
      enum:
      - account_closures
      - chargebacks_represented
      - chargebacks_won
      - manual_auth_expiries
      - negative_card_balances
      - balance_adjustments
      - lost_stolen_replacement_balance_transfers
    CardPayment:
      type: object
      description: "One card transaction's full lifecycle — authorisation, settlement, refunds — as a single resource that the platform keeps up to date as scheme events arrive.\n\nDesigned for two audiences:\n  - **Building UI?** Read the top-level summary fields (`displayAmount`, `status`, `type`, `merchant`, `card`). They are platform-maintained — show them as-is. No need to understand auth-vs-clearing, reversals, or scheme messages. The debit/credit direction is implicit from `type` (purchases / cash withdrawals / account funding debit the card; refunds / original credits credit it). For the issuer authorisation code, walk `events[]` — every event in the lifecycle carries it.\n  - **Need scheme-level detail?** Walk `events[]` for the full per-step audit trail — every authorisation, clearing, reversal, and refund step — with original scheme amounts (merchant + card currency, with exchange rates), reason codes, and fees attached to the event that triggered them.\n\nEach card payment corresponds to one card-scheme lifecycle (Visa Transaction Identifier / Mastercard TLID). Related-but-separate transactions (refunds, tips, recurring follow-ups) are separate card payments linked via `relatedCardPaymentId` (direct parent).\n"
      required:
      - id
      - type
      - card
      - merchant
      - displayAmount
      - status
      - events
      - creationTimestamp
      properties:
        id:
          type: string
          pattern: ^[0-9]+$
          description: Stable identifier across the entire payment lifecycle.
        profileId:
          $ref: '#/components/schemas/ProfileId'
        type:
          description: The high-level type of card payment. For finer-grained classification (e.g. distinguishing a sale-purchase from a sale with cashback), see the per-event `subtype` field.
          $ref: '#/components/schemas/CardPaymentType'
        card:
          description: The managed card used for this payment.
          $ref: '#/components/schemas/Card'
        merchant:
          $ref: '#/components/schemas/Merchant'
        displayAmount:
          description: "Platform-maintained headline amount of the card payment, in the cardholder's preferred display currency (which matches the card billing currency unless a specific `userCurrency` was set when the card was created). The amount is derived from card payment events and can be displayed in your transaction activity UI as the amount of the card payment.\n\nAs a headline amount, it reflects the intended amount of the payment.\n  - In the case of a full reversal or cancellation and within-lifecycle dispute swings it stays stable. For example, an auth-50 → settle-50 → reverse-50 cycle still reads as 50 here, even though the net ledger impact is zero.\n  - In the case of a partial reversal it reflects the net amount, so the display amount of the card payment reflects the revised amount. For example, an auth-50 (displayAmount 50) → settle-40 with a release of the remaining auth of 10, displayAmount updated to 40.\n\nTo compute the actual net (for accounting), sum the amounts of your chosen type, from all the events, yourself.\n\nMagnitude is always positive. The debit/credit direction is implicit from `type` (purchases debit, refunds and OCTs credit). For the lifecycle phase, read `status`. For amounts in the merchant's currency (transaction currency) or the card's currency (if different from your preferred currency), read `events[]`.\n"
          $ref: '#/components/schemas/CurrencyAmount'
        status:
          $ref: '#/components/schemas/CardPaymentStatus'
        relatedCardPaymentId:
          type: string
          pattern: ^[0-9]+$
          description: "Direct parent linkage — id of the single prior card payment that this payment derives from. Set on:\n  - `REFUND` payments referring to the original purchase\n  - `ORIGINAL_CREDIT` payments referring to the prior purchase being credited\n  - Tip / add-on payments referring to the original ride / fare / service\n  - Installment / recurring payments referring to the initial setup transaction\n\nCorresponds to Visa's \"Original Transaction ID\" linkage and Mastercard's DE 105 subelement 002 (Economically Related Transaction Identifier). Not used for messages that share a single lifecycle — those are events on the same card payment.\n"
        events:
          type: array
          description: Ordered event stream — every scheme message in this card payment's lifecycle. For headline display use `displayAmount`; walk this when you need scheme-level detail (per-event amounts, fees, reason codes, reversals).
          items:
            $ref: '#/components/schemas/CardPaymentEvent'
        creationTimestamp:
          type: integer
          format: int64
          description: When the first event for this payment was received, Epoch millis.
        lastUpdatedTimestamp:
          type: integer
          format: int64
          description: When the most recent event for this payment was received, Epoch millis.
    CorrespondentBankingBusinessOriginator:
      required:
      - name
      - registrationAddress
      - registrationCountry
      - bankAccountDetails
      type: object
      description: 'A business (legal entity) originator of the transfer.


        Travel Rule Requirements:

        - Mandatory: Full legal name and account number (via bankAccountDetails)

        - Mandatory: Registered address and business identification (LEI, registration number, or tax ID)

        '
      properties:
        tag:
          $ref: '#/components/schemas/Tag'
        name:
          type: string
          maxLength: 140
          description: Full legal name of the business entity.
        registrationAddress:
          type: string
          maxLength: 255
          description: Registered address of the business entity.
        registrationCountry:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[A-Z]{2}$
          description: ISO 3166-1 alpha-2 country code of registration.
        bankAccountDetails:
          $ref: '#/components/schemas/CorrespondentBankingBankAccountDetails'
          description: Account and financial institution details of the originator (travel rule mandatory).
        supplementaryInformation:
          $ref: '#/components/schemas/CorrespondentBankingBusinessAddressAndIdInfo'
    InstrumentType:
      type: string
      enum:
      - managed_cards
      - managed_accounts
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    CorrespondentBankingBankAccountDetails:
      required:
      - account
      - financialInstitution
      type: object
      description: Bank account details for the originator.
      properties:
        account:
          type: string
          minLength: 1
          maxLength: 34
          pattern: ^[a-zA-Z0-9]{1,34}$
          description: Can be either an account number or an International Bank Account Number (IBAN).
        financialInstitution:
          type: string
          minLength: 8
          maxLength: 11
          pattern: ^[a-zA-Z0-9]{8,11}$
          description: Bank Identifier Code (BIC) of the originator's financial institution.
    TransactionActivityStatus:
      type: string
      description: "Normalised lifecycle status of a transaction:\n  - DRAFT: Transaction ID has been created. There are additional user-actions required before the transaction is considered an “executable instruction” that is fully submitted. No balance movements have taken place on the target instrument yet.\n  - SUBMITTED: Transaction has been submitted and is awaiting processing. No balance movements have taken place yet. Transactions scheduled for processing on a future date remain in a submitted status.\n  - PROCESSING: The submitted transaction is being processed.\n  - COMPLETED: Executed and processed. Funds have moved, actual balance changed.\n  - CANCELLED: Transaction was cancelled before completion. Funds have been returned to the original instrument. \n  - RETURNED: The transaction was previously COMPLETED but has been returned. Funds have been returned to the original instrument. Note that card refunds may be separate transactions, not RETURNED purchases.\n"
      enum:
      - DRAFT
      - SUBMITTED
      - PROCESSING
      - COMPLETED
      - CANCELLED
      - RETURNED
  headers:
    request-ref:
      description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
      required: true
      schema:
        type: string
    x-ratelimit-reset:
      description: The number of seconds until the window is reset.
      required: true
      schema:
        minimum: 0
        type: integer
        format: int32
    x-ratelimit-limit:
      description: 'Example: `20, 10;w=60, 20;w=3600, 200;w=86400`

        The first number (20) is the limit that has been exceeded.

        The remaining numbers are the limits that are in force, with ''w'' meaning ''window in seconds''. In this example `20;w=3600` was exceeded. 20 calls in 3600secs (1hr)

        '
      required: true
      schema:
        type: string
  responses:
    TransactionActivityListResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionActivityList'
    Unauthorized:
      description: Unauthorized - Your credentials or access token are invalid.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
    BadRequestError:
      description: Bad Request Error - Your request is invalid.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                maxLength: 255
                type: string
                description: When present helps to identify and fix the problem.
              syntaxErrors:
                $ref: '#/components/schemas/SyntaxError'
    Error:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too many requests.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
        x-ratelimit-limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        x-ratelimit-reset:
          $ref: '#/components/headers/x-ratelimit-reset'
    InternalServerError:
      description: Internal Server Error - There is a problem with the server. Please try again later.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
    ServiceUnavailable:
      description: Service Unavailable - The requested service is temporarily unavailable. Please try again later.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
    Forbidden:
      description: Forbidden - Access to the requested resource or action is forbidden.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                - INSUFFICIENT_PERMISSIONS
  parameters:
    lastUpdatedTimestampTo:
      name: lastUpdatedTimestampTo
      in: query
      required: false
      description: Filter for transactions last updated before this timestamp. Epoch timestamp using millisecond precision.
      schema:
        type: integer
        format: int64
    transactionActivityType:
      name: type
      in: query
      required: false
      description: Filter by one or more transaction activity types.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/TransactionActivityType'
    transactionActivityDirection:
      name: direction
      in: query
      required: false
      description: Filter by transaction direction (CREDIT or DEBIT).
      schema:
        $ref: '#/components/schemas/TransactionActivityDirection'
    lastUpdatedTimestampFrom:
      name: lastUpdatedTimestampFrom
      in: query
      required: false
      description: Filter for transactions last updated after this timestamp. Useful for pulling recently changed transactions. Epoch timestamp using millisecond precision.
      schema:
        type: integer
        format: int64
    creationTimestampTo:
      name: creationTimestampTo
      in: query
      required: false
      description: Filter for transactions created before this timestamp. Epoch timestamp using millisecond precision.
      schema:
        type: integer
        format: int64
    transactionActivityStatus:
      name: status
      in: query
      required: false
      description: Filter by one or more normalised transaction statuses.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/TransactionActivityStatus'
    sortOrder:
      name: sortOrder
      in: query
      required: false
      description: "Sort order for the results:\n  - ASC: Ascending order, oldest first.\n  - DESC: Descending order, most recent first.\n"
      schema:
        type: string
        enum:
        - ASC
        - DESC
    offset:
      name: offset
      in: query
      required: false
      description: The offset value for paging, indicating the initial item number to be returned from the data set satisfying the given criteria. Leave out to fetch the first page of results.
      schema:
        minimum: 0
        type: integer
        format: int32
    limit:
      name: limit
      in: query
      required: false
      description: The limit of the results for paging, starting at the offset. Limit is always capped at 100.
      schema:
        maximum: 100
        minimum: 1
        type: integer
        format: int32
    transactionActivitySortBy:
      name: sortBy
      in: query
      required: false
      description: The field to sort transaction activity results by. Defaults to `creationTimestamp`.
      schema:
        $ref: '#/components/schemas/TransactionActivitySortBy'
    creationTimestampFrom:
      name: creationTimestampFrom
      in: query
      required: false
      description: Filter for transactions created after this timestamp. Epoch timestamp using millisecond precision.
      schema:
        type: integer
        format: int64
  securitySchemes:
    api_key:
      type: apiKey
      description: The API Key representing your Multi account.
      name: api-key
      in: header
    auth_token:
      type: http
      description: The authentication token representing the user. This will be included in the login response object.
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Access
  tags:
  - Access Token
  - User Impersonation
  - Consent Request
- name: Identities
  tags:
  - Corporates
  - Consumers
- name: User Management
  tags:
  - Authorised Users
- name: Instruments
  tags:
  - Managed Accounts
  - Managed Cards
- name: Transactions
  tags:
  - Transfers
- name: Fees
  tags:
  - Fees
- name: Bulk Operations [Beta]
  tags:
  - Operations
  - Manage
