openapi: 3.2.0
info:
  title: Weavr Manage API
  version: v3
  contact:
    name: Weavr
    url: https://weavr.io
  x-logo:
    url: https://storage.googleapis.com/weavr-cdn/weavr_logo-new.png
    backgroundColor: '#FFFFFF'
    altText: Weavr
  description: 'Operations tagged Manage across 2 of this provider''s published API definitions: weavr-multi-backoffice-openapi-original.yml, weavr-multi-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: Weavr Sandbox Environment
  url: https://sandbox.weavr.io/multi/backoffice
- description: Weavr Sandbox Environment
  url: https://sandbox.weavr.io/multi
tags:
- name: Manage
paths:
  /bulks:
    get:
      description: Filter bulk processes.
      summary: Get all bulk processes
      operationId: bulks
      tags:
      - Manage
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/bulkProcessStatus'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkProcessesPaged'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/BulkProcessorConflictResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi/backoffice
  /bulks/{bulk_id}:
    get:
      tags:
      - Manage
      description: Retrieves details on the bulk process identified by the bulk_id parameter.
      summary: Get bulk process
      operationId: bulkId
      parameters:
      - $ref: '#/components/parameters/bulkId'
      responses:
        '200':
          $ref: '#/components/responses/BulkProcessDetails'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi/backoffice
  /bulks/{bulk_id}/operations:
    get:
      tags:
      - Manage
      description: Retrieves the bulk process operations that match the query parameters.
      summary: Get all operations in a bulk
      operationId: bulkIdOperations
      parameters:
      - $ref: '#/components/parameters/bulkId'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/sequence'
      - $ref: '#/components/parameters/bulkProcessOperationStatus'
      responses:
        '200':
          $ref: '#/components/responses/BulkProcessOperations'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi/backoffice
  /bulks/{bulk_id}/execute:
    post:
      tags:
      - Manage
      description: 'Launches execution of operations of any bulk process identified by the bulk_id  parameter.


        The status of the bulk process has to be in a ‘SUBMITTED’ state and after execution initiates, the bulk process state is set to ‘RUNNING’.


        The final state of execution can be any of


        COMPLETED: the execution of the bulk process is complete and all bulk operations of the bulk process were executed successfully


        FAILED:  none of the operations of the bulk process have executed.


        PARTIALLY_COMPLETED: the execution of the bulk process is complete and some of the bulk operations of the bulk process failed.


        This operation is asynchronous and will return immediately. You can track the status of the execution of the bulk process through Get bulk process. You can also pause execution through _bulkIdPause_

        '
      summary: Execute bulk process
      operationId: bulkIdExecute
      parameters:
      - $ref: '#/components/parameters/bulkId'
      requestBody:
        $ref: '#/components/requestBodies/BulkProcessExecute'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/BulkProcessorConflictResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi/backoffice
  /bulks/{bulk_id}/pause:
    post:
      tags:
      - Manage
      description: 'Pauses the execution of operations of the bulk process that is in state ‘RUNNING’ as identified by the bulk_id  parameter.


        The status of the bulk process after execution of this operation is set to ‘PAUSED’


        The execution can be resumed through _bulkIdResume_

        '
      summary: Pause bulk process
      operationId: bulkIdPause
      parameters:
      - $ref: '#/components/parameters/bulkId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/BulkProcessorConflictResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi/backoffice
  /bulks/{bulk_id}/resume:
    post:
      tags:
      - Manage
      description: 'Resumes the execution of operations of the bulk process that is in state '' PAUSED'' as identified by the bulk_id parameter.


        The status of the bulk process after execution of this operation is set back to ‘RUNNING’

        '
      summary: Resume bulk process
      operationId: bulkIdResume
      parameters:
      - $ref: '#/components/parameters/bulkId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/BulkProcessorConflictResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi/backoffice
  /bulks/{bulk_id}/cancel:
    post:
      tags:
      - Manage
      description: 'Cancels the execution of operations of a bulk process that is in state ‘PAUSED’ or ‘RUNNING’ as identified by the bulk_id parameter.


        The status of the bulk process after execution of this operation is set  to ‘CANCELLED’. This is a final state and a cancelled bulk process cannot be resumed.

        '
      summary: Cancel bulk process
      operationId: bulkIdCancel
      parameters:
      - $ref: '#/components/parameters/bulkId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/BulkProcessorConflictResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
    servers:
    - description: Weavr Sandbox Environment
      url: https://sandbox.weavr.io/multi/backoffice
components:
  responses:
    InternalServerError:
      description: Internal Server Error - There is a problem with the server. Please try again later.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
    Unauthorized:
      description: Unauthorized - Your credentials or access token are invalid.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
    Forbidden:
      description: Forbidden - Access to the requested resource or action is forbidden.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                - INSUFFICIENT_PERMISSIONS
    NoContent:
      description: Success - No Content.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
    BulkProcessDetails:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BulkProcessDetails'
    BulkProcessorConflictResponse:
      description: BulkProcessorConflict - bulk processor conflict.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BulkProcessConflict'
    NotFound:
      description: Not found - The requested resource couldn't be found.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequestError:
      description: Bad Request Error - Your request is invalid.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                maxLength: 255
                type: string
                description: When present helps to identify and fix the problem.
              syntaxErrors:
                $ref: '#/components/schemas/SyntaxError'
    Error:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BulkProcessOperations:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BulkProcessOperationsPaged'
    ServiceUnavailable:
      description: Service Unavailable - The requested service is temporarily unavailable. Please try again later.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
  schemas:
    BulkProcessOperationStatus:
      type: string
      enum:
      - SUBMITTED
      - RUNNING
      - COMPLETED
      - FAILED
      - CANCELLED
    BulkProcessMode:
      description: 'ON_FAILURE_STOP : the execution of the bulk process stops after the first bulk operation that fails (operation returns a 4xx or 5xx response code).

        ON_FAILURE_CONTINUE: the execution of the bulk process resumes as normal even when any of the bulk operations fail.

        '
      type: string
      enum:
      - ON_FAILURE_STOP
      - ON_FAILURE_CONTINUE
    BulkProcessOperation:
      type: object
      properties:
        operationId:
          description: Id of a specific bulk operation. Useful only if you need to refer to a specific operation when reporting an issue
          type: string
        sequence:
          description: The operations submitted in a Bulk Processes are executed in sequence. This field indicates the position of this specific operation in the context of such sequence
          format: int32
          type: integer
        method:
          description: HTTP request method used for the executed operation within the Bulk process
          type: string
        path:
          description: The endpoint path for the Operation
          type: string
        status:
          description: 'The execution status of the operation within the Bulk Process. This can be one of: "SUBMITTED" "RUNNING" "COMPLETED" "FAILED" "CANCELLED"

            '
          $ref: '#/components/schemas/BulkProcessOperationStatus'
        requestPayload:
          description: This is the payload for the execution of an operation within the context of a Bulk Process
          type: string
        responsePayload:
          description: The response for the execution of the operation
          type: string
    BulkId:
      type: string
      pattern: ^[0-9]+$
    BulkProcessStatus:
      type: string
      enum:
      - SUBMITTED
      - RUNNING
      - PARTIALLY_COMPLETED
      - COMPLETED
      - FAILED
      - PAUSED
      - CANCELLED
    BulkProcessOperationsPaged:
      properties:
        count:
          description: Total number of records (excluding limit)
          format: int32
          type: integer
        operations:
          items:
            $ref: '#/components/schemas/BulkProcessOperation'
          type: array
        responseCount:
          description: Total number of records returned in this response
          format: int32
          type: integer
      type: object
    BulkProcessConflict:
      properties:
        errorCode:
          $ref: '#/components/schemas/BulkProcessConflictErrorCode'
      type: object
    SyntaxError:
      type: object
      description: Is returned as part of an HTTP error response whenever a syntax error is detected. A list of the fields together with their syntax error will be provided.
      properties:
        invalidFields:
          type: array
          items:
            type: object
            properties:
              params:
                type: array
                items:
                  type: string
              fieldName:
                type: string
              error:
                type: string
                enum:
                - REQUIRED
                - HAS_TEXT
                - REQUIRES
                - SIZE
                - RANGE
                - IN
                - NOT_IN
                - REGEX
                - EXACTLY
                - AT_LEAST
                - AT_MOST
                - ALL_OR_NONE
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    BulkProcessOperationStatusCounts:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/BulkProcessOperationStatus'
        count:
          type: integer
    BulkProcessesPaged:
      properties:
        count:
          description: Total number of records (excluding limit)
          format: int32
          type: integer
        bulkProcesses:
          items:
            $ref: '#/components/schemas/BulkProcess'
          type: array
        responseCount:
          description: Total number of records returned in this response
          format: int32
          type: integer
      type: object
    BulkProcessExecute:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/BulkProcessMode'
        webhookInterval:
          description: The count of operations after which a Bulk Process Progress will be sent. For example, if set to 10, a webhook will be sent after every 10th operation is attempted. The minimum value fo count is 25% of all operations. If a value below this is entered, a webhook will only be sent for each 25% of operations attempted (i.e. 4 webhooks per Bulk Process).
          format: int32
          type: integer
    BulkProcess:
      type: object
      properties:
        bulkId:
          description: The bulk id of the bulk process
          type: string
        status:
          description: "\"SUBMITTED\": the data for the bulk process operations has been persisted and bulk process is ready for execution. A bulk process in this status can be executed or submitted. This is the initial state for a bulk process\n\n\"RUNNING\" :  the bulk process is currently being executed by the system\n\n\"COMPLETED\"  : the execution of the bulk process is complete and all bulk operations of the bulk process were executed successfully. This is a final state for the bulk process \n\n\"PARTIALLY_COMPLETED\"  the execution of the bulk process is complete and some of the bulk operations of the bulk process failed. This is a final state for the bulk process\n\n\"FAILED\" : none of the operations of the bulk process have executed. This is a final state for the bulk process\n\n\"PAUSED\"  : the execution of bulk process has been paused through the Pause bulk process operation  Execution can be resumed through Resume bulk operation\n\n\"CANCELLED\" : the execution of bulk process has been cancelled through Cancel bulk operation. This is a final state for the bulk process\n"
          type: string
        submittedItemsCount:
          description: The number of bulk operations in the bulk process
          type: integer
        executionStart:
          description: Timestamp of when the execution of the Bulk Process started
          type: integer
          format: int64
        executionFinish:
          description: Timestamp of when the execution of the Bulk Process finished.
          type: integer
          format: int64
        operation:
          description: The underlying operations contained within the Bulk; shown as the endpoint for the equivalent single operation.
          type: string
        mode:
          description: The mode that was instructed when execution was started
          $ref: '#/components/schemas/BulkProcessMode'
    BulkProcessDetails:
      allOf:
      - $ref: '#/components/schemas/BulkProcess'
      - type: object
        properties:
          operationStatusCounts:
            type: array
            items:
              $ref: '#/components/schemas/BulkProcessOperationStatusCounts'
    BulkProcessConflictErrorCode:
      enum:
      - VALIDATION_FAILED
      - USER_VALIDATION_FAILED
      - ALREADY_SUBMITTED
      - DUPLICATE_OPERATION_TYPE
      - NO_CONFIG_FOUND
      - INVALID_STATE
      - TOO_MANY_REQUESTS
      type: string
  parameters:
    bulkProcessOperationStatus:
      name: status
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/BulkProcessOperationStatus'
    offset:
      name: offset
      in: query
      required: false
      description: The offset value for paging, indicating the initial item number to be returned from the data set satisfying the given criteria. Leave out to fetch the first page of results.
      schema:
        minimum: 0
        type: integer
        format: int32
    sequence:
      name: sequence
      in: query
      required: false
      schema:
        type: integer
        format: int64
    limit:
      name: limit
      in: query
      required: false
      description: The limit of the results for paging, starting at the offset. Limit is always capped at 100.
      schema:
        maximum: 100
        minimum: 1
        type: integer
        format: int32
    bulkId:
      name: bulk_id
      in: path
      required: true
      description: The bulk id of the bulk process.
      schema:
        $ref: '#/components/schemas/BulkId'
    bulkProcessStatus:
      name: status
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/BulkProcessStatus'
  requestBodies:
    BulkProcessExecute:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BulkProcessExecute'
  headers:
    request-ref:
      description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
      required: true
      schema:
        type: string
  securitySchemes:
    api_key:
      type: apiKey
      description: The API Key representing your Multi account.
      name: api-key
      in: header
    auth_token:
      type: http
      description: The authentication token representing the user. This will be included in the login response object.
      scheme: bearer
      bearerFormat: JWT
    api-key:
      type: apiKey
      description: An API key defined in your User API Client  (or Delegate API Client - this feature is available only to customers enabled with delegation functionality).  API Clients are as managed in the Embedder Portal
      name: api-key
      in: header
    webhooks_key:
      type: apiKey
      description: The Webhooks key can be found in the API Credentials tab in your Portal Page.
      name: webhooks-key
      in: header
x-refined-from:
- weavr-multi-backoffice-openapi-original.yml
- weavr-multi-openapi-original.yml
x-tagGroups:
- name: Access
  tags:
  - Access Token
  - User Impersonation
  - Consent Request
- name: Identities
  tags:
  - Corporates
  - Consumers
- name: User Management
  tags:
  - Authorised Users
- name: Instruments
  tags:
  - Managed Accounts
  - Managed Cards
- name: Transactions
  tags:
  - Transfers
- name: Fees
  tags:
  - Fees
- name: Bulk Operations [Beta]
  tags:
  - Operations
  - Manage
