openapi: 3.2.0
info:
  title: Weavr Simulator Factors API
  x-logo:
    url: https://storage.googleapis.com/weavr-cdn/weavr_logo-new.png
    backgroundColor: '#FFFFFF'
    altText: Weavr
  description: This is a Simulator API which is only available on the Weavr Sandbox Environment
  contact:
    name: Weavr
    url: http://weavr.io
  version: v2
servers:
- url: https://sandbox.weavr.io/simulate/api"
tags:
- name: Factors
paths:
  /factors/{credentials_id}/challenges/{challenge_id}/verify_invalid:
    post:
      tags:
      - Factors
      summary: Simulate invalid verification of specified challenge
      operationId: factors_credentials_id_challenges_challenge_id_verify_invalid
      parameters:
      - name: credentials_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: challenge_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/call-ref'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulateVerifyChallengeResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInvalidRequest'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /factors/{credentials_id}/challenges/{challenge_id}/verify_expired:
    post:
      tags:
      - Factors
      summary: Simulate expiry of specified challenge
      operationId: factors_credentials_id_challenges_challenge_id_verify_expired
      parameters:
      - name: credentials_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: challenge_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/call-ref'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulateVerifyChallengeResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInvalidRequest'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
      security:
      - Auth_Token: []
        API_Secret_Key: []
  /factors/{credentials_id}/challenges/{challenge_id}/verify_success:
    post:
      tags:
      - Factors
      summary: Simulate successful verification of specified challenge
      operationId: factors_credentials_id_challenges_challenge_id_verify_success
      parameters:
      - name: credentials_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: challenge_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/call-ref'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulateVerifyChallengeResponse'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInvalidRequest'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultError'
      security:
      - Auth_Token: []
        API_Secret_Key: []
components:
  schemas:
    FieldValidationType:
      type: string
      enum:
      - REQUIRED
      - HAS_TEXT
      - REQUIRES
      - SIZE
      - RANGE
      - IN
      - NOT_IN
      - REGEX
      - EXACTLY
      - AT_LEAST
      - AT_MOST
      - ALL_OR_NONE
    FieldValidation:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/FieldValidationType'
        params:
          type: array
          items:
            type: string
    SimulateVerifyChallengeResponseResponseCode:
      type: string
      enum:
      - COMPLETED
      - DENIED
    FieldValidationErrors:
      type: object
      properties:
        name:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/FieldValidation'
    MessageValidation:
      type: object
      properties:
        invalid:
          type: boolean
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldValidationErrors'
    DefaultError:
      type: object
      properties:
        message:
          maxLength: 255
          type: string
          description: When present helps to identify and fix the problem.
          x-fieldValidation: size(_,255)
      description: A default error model in case of errors other than 400, 409 or 504.
    ClientInvalidRequest:
      type: object
      properties:
        message:
          maxLength: 255
          type: string
          description: When present helps to identify and fix the problem.
          x-fieldValidation: size(_,255)
        validation:
          allOf:
          - $ref: '#/components/schemas/MessageValidation'
          - description: Description of fields which were invalid.
    SimulateVerifyChallengeResponse:
      required:
      - code
      type: object
      properties:
        code:
          allOf:
          - $ref: '#/components/schemas/SimulateVerifyChallengeResponseResponseCode'
          - x-fieldValidation: required
  parameters:
    call-ref:
      name: call-ref
      in: header
      description: A call reference generated by the caller and unique to the caller to provide correlation between the caller and system with a maximum length of 255
      required: false
      style: simple
      explode: false
      schema:
        type: string
  securitySchemes:
    API_Secret_Key:
      type: apiKey
      description: The API Secret Key - available from the Configuration area of the Innovator Portal
      name: programme-key
      in: header
    Auth_Token:
      type: http
      description: 'Authorization Token returned by login - example format: e6YrWi53lW0Bb6TbBL4ADA=='
      scheme: bearer
      bearerFormat: JWT
