openapi: 3.1.0
info:
  version: v3
  title: Weavr Multi Product BackOffice Access Token Institutions API
  x-logo:
    url: https://storage.googleapis.com/weavr-cdn/weavr_logo-new.png
    backgroundColor: '#FFFFFF'
    altText: Weavr
  description: 'Weavr Multi Back Office API allows you, as an innovator, to perform various back office operations concerning

    identities and their instruments, without requiring the users to be logged in.


    A token is to be obtained through the `access_token` method, and this will allow relevant operations

    to be performed on behalf of this same identity.

    '
  contact:
    name: Weavr
    url: https://weavr.io
servers:
- description: Weavr Sandbox Environment
  url: https://sandbox.weavr.io/multi/backoffice
tags:
- name: Institutions
  description: Institutions supported by Embedded Payment Run.
paths:
  /v1/institutions:
    get:
      operationId: getInstitutions
      summary: Get Institutions
      description: 'Retrieves the `Institutions` supported by Embedded Payment Run. The response payload should list all the institutions.


        Payment runs are funded from linked bank accounts provided by one of the supported institutions.


        We recommend that you enable Buyers to check if their banks are supported before they start the registration and onboarding process.

        '
      tags:
      - Institutions
      security:
      - apiKey: []
      parameters:
      - in: query
        name: country
        required: false
        description: Filter by country
        schema:
          type: string
      - in: query
        name: institutionIds
        required: false
        description: Filter by institution ID
        schema:
          type: array
          items:
            type: string
      - in: query
        name: institutionName
        required: false
        description: Filter by institution name
        schema:
          type: string
      - in: query
        name: market
        required: false
        description: Filter by market
        schema:
          type: array
          items:
            type: string
            enum:
            - EEA
            - UK
      - in: query
        name: offset
        required: false
        schema:
          type: integer
          minimum: 0
      - in: query
        name: limit
        required: false
        schema:
          type: integer
          minimum: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - institutions
                  properties:
                    institutions:
                      type: array
                      items:
                        type: object
                        title: Institution
                        required:
                        - id
                        - countries
                        properties:
                          id:
                            type: string
                          displayName:
                            type: string
                          markets:
                            type: array
                            items:
                              type: string
                              enum:
                              - EEA
                              - UK
                          currencies:
                            type: array
                            items:
                              type: string
                              enum:
                              - GBP
                              - EUR
                          countries:
                            type: array
                            items:
                              enum:
                              - GB
                              - AT
                              - BE
                              - BG
                              - HR
                              - CY
                              - CZ
                              - DK
                              - EE
                              - FI
                              - FR
                              - DE
                              - GI
                              - GR
                              - HU
                              - IS
                              - IE
                              - IT
                              - LV
                              - LI
                              - LT
                              - LU
                              - MT
                              - NL
                              - 'NO'
                              - PL
                              - PT
                              - RO
                              - SK
                              - SI
                              - ES
                              - SE
                          images:
                            type: object
                            properties:
                              logo:
                                type: string
                                format: uri
                              icon:
                                type: string
                                format: uri
                - type: object
                  title: PaginationFields
                  properties:
                    count:
                      type: integer
                      description: The total number of records (excluding the paging limit)
                      example: 10
                    responseCount:
                      type: integer
                      description: The total number of records returned in this response (always capped at 100).
                      example: 100
                  required:
                  - count
                  - responseCount
        '400':
          description: Bad Request Error - Your request is invalid.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    maxLength: 255
                    type: string
                    description: When present helps to identify and fix the problem.
                  syntaxErrors:
                    type: object
                    description: Is returned as part of an HTTP error response whenever a syntax error is detected. A list of the fields together with their syntax error will be provided.
                    properties:
                      invalidFields:
                        type: array
                        items:
                          type: object
                          properties:
                            params:
                              type: array
                              items:
                                type: string
                            fieldName:
                              type: string
                            error:
                              type: string
                              enum:
                              - REQUIRED
                              - HAS_TEXT
                              - REQUIRES
                              - SIZE
                              - RANGE
                              - IN
                              - NOT_IN
                              - REGEX
                              - EXACTLY
                              - AT_LEAST
                              - AT_MOST
                              - ALL_OR_NONE
        '401':
          description: Unauthorized - Your credentials or access token are invalid.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '403':
          description: Forbidden - Access to the requested resource or action is forbidden.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    enum:
                    - INSUFFICIENT_PERMISSIONS
        '429':
          description: Too many requests.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
            x-ratelimit-limit:
              description: 'Example: `20, 10;w=60, 20;w=3600, 200;w=86400`

                The first number (20) is the limit that has been exceeded.

                The remaining numbers are the limits that are in force, with ''w'' meaning ''window in seconds''. In this example `20;w=3600` was exceeded. 20 calls in 3600secs (1hr)

                '
              required: true
              schema:
                type: string
            x-ratelimit-reset:
              description: The number of seconds until the window is reset.
              required: true
              schema:
                minimum: 0
                type: integer
                format: int32
        '500':
          description: Internal Server Error - There is a problem with the server. Please try again later.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        '503':
          description: Service Unavailable - We're temporarily offline for maintenance. Please try again later.
          headers:
            request-ref:
              description: A request identifier. Providing this reference when contacting our support team will help us investigate your query.
              required: true
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
components:
  securitySchemes:
    api_key:
      type: apiKey
      description: The API Key representing your Multi account.
      name: api-key
      in: header
    auth_token:
      type: http
      description: The authentication token representing the user. This will be included in the login response object.
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Access
  tags:
  - Access Token
  - User Impersonation
  - Consent Request
- name: Identities
  tags:
  - Corporates
  - Consumers
- name: User Management
  tags:
  - Authorised Users
- name: Instruments
  tags:
  - Managed Accounts
  - Managed Cards
- name: Transactions
  tags:
  - Transfers
- name: Fees
  tags:
  - Fees
- name: Bulk Operations [Beta]
  tags:
  - Operations
  - Manage
