openapi: 3.1.0
info:
  version: v3
  title: Weavr Multi Product API
  x-logo:
    url: https://storage.googleapis.com/weavr-cdn/weavr_logo-new.png
    backgroundColor: '#FFFFFF'
    altText: Weavr
  description: >
    Weavr Multi API provides a simple and flexible way to issue cards and
    accounts to your customers.


    By integrating Weavr Multi API in your application you can embed banking
    capabilities within your app and provide a seamless experience for your
    customers.


    # Authentication


    Each request to the Multi API must include an `api-key` that represents your
    account. You can obtain an API Key by registering for a Multi account
    [here](https://portal.weavr.io).


    Almost all endpoints require a secondary authentication token `auth_token`
    that represents the user for whom the request is being executed.
  contact:
    name: Weavr
    url: https://weavr.io
servers:
  - description: Weavr Sandbox Environment
    url: https://sandbox.weavr.io/multi
tags:
  - name: Corporates
    description: >-
      Corporates are identities representing companies. Once on-boarded,
      Corporates can create and manage their own instruments via your
      application.
  - name: Consumers
    description: >-
      Consumers are identities representing individuals. Once on-boarded,
      Consumers can create and manage their own instruments via your
      application.
  - name: Setup
    description: >
      Register and manage the lifecycle of users that can access an identity,
      including authorised users invited by a Corporate or Consumer root user.
  - name: Sign-in
    description: Sign users in using passwords, biometrics, or third-party auth providers.
  - name: Step-up Challenges
    description: Issue and verify step-up challenges that elevate an existing user token.
  - name: Confirmation Challenges
    description: >-
      Issue and verify confirmation challenges used to authorise lists of
      resources.
  - name: Authentication Factors
    description: >
      Manage user authentication factors, including passwords and device-based
      factors (OTP and push).
  - name: Access Tokens
    description: Acquire and revoke access tokens.
  - name: Customer Data & Due Diligence
    description: >-
      Manage customer profile data and KYC/KYB due diligence flows for
      corporates and consumers.
  - name: Authorised Signatories
    description: >-
      Verify the email of root users who act as authorised signatories of a
      Corporate or Consumer identity.
  - name: Trusted Payees
    description: >
      Manage a list of trusted payees for Outgoing wire transfers and Sends.


      Aside from convenience and a reduced chance of making errors when making
      transactions,

      this allows for the introduction an SCA exemption, where the account
      holder can request

      that transactions to `TRUSTED` payees to be exempted from the requirement
      to pass

      an SCA challenge every time.
  - name: Managed Accounts
    description: >
      Managed Accounts are a type of financial instrument offered by Weavr.


      They hold funds for their owner, and can be upgraded to IBANs so as to
      receive and send funds to instruments outside of the Weavr Platform, via
      Wire Transfers.


      Managed accounts can also be used as source and destination instruments in
      the `transfer` and `send` transactions.
  - name: Managed Cards
    description: >
      Managed Cards are a type of financial instrument offered by Weavr.


      You can create virtual or physical cards that are issued to the consumer
      or corporate identity.


      A card created in prepaid mode has its own balance, whereas a card created
      in debit mode does not have its own balance but taps into the balance of
      its parent managed account.
  - name: Transfers
    description: >
      The Transfer transaction is used to transfer funds between managed
      accounts and managed cards belonging to same identity.
  - name: Transaction Activity
    description: Retrieve the consolidated transaction activity across instruments.
  - name: Incoming Wire Transfers
    description: >
      Incoming wire transfers received from external bank accounts to managed
      accounts with IBANs.
  - name: Outgoing Wire Transfers
    description: >
      The Outgoing Wire Transfer transaction is used to transfer funds from
      managed accounts to an external bank account.
  - name: Correspondent Bank Transfers
    description: >
      Correspondent bank transfers allow financial institutions to initiate wire
      transfers on behalf of originators (third parties).

      These transfers comply with travel rule requirements by capturing and
      transmitting originator information.
  - name: Card Payments
    description: >-
      Retrieve card payment activity, including authorisations, settlements, and
      related events.
  - name: Spend Controls
    description: >-
      Manage spend rules and authorisation forwarding to approve or reject card
      payments in real time.
  - name: Sends
    description: >
      The Send transaction is used to send funds between managed accounts and
      managed cards belonging to different identities.
  - name: Fees
    description: Charge and retrieve in-platform fees.
  - name: Manage
    description: >
      Manage bulk processes that group together multiple operations to be
      executed asynchronously.
x-tagGroups:
  - name: Customer Registration
    tags:
      - Corporates
      - Consumers
  - name: Users & User Authentication
    tags:
      - Setup
      - Sign-in
      - Step-up Challenges
      - Confirmation Challenges
      - Authentication Factors
  - name: Access
    tags:
      - Access Tokens
  - name: Customer Settings
    tags:
      - Customer Data & Due Diligence
      - Authorised Signatories
      - Trusted Payees
  - name: Instruments
    tags:
      - Managed Accounts
      - Managed Cards
  - name: Funds Management
    tags:
      - Transfers
      - Transaction Activity
  - name: External Payments
    tags:
      - Incoming Wire Transfers
      - Outgoing Wire Transfers
      - Correspondent Bank Transfers
  - name: Card Payments
    tags:
      - Card Payments
      - Spend Controls
  - name: In-Platform Payments
    tags:
      - Sends
      - Fees
  - name: Bulk Operations
    tags:
      - Operations
      - Manage
components:
  securitySchemes:
    api-key:
      type: apiKey
      description: >-
        An API key defined in your User API Client  (or Delegate API Client -
        this feature is available only to customers enabled with delegation
        functionality).  API Clients are as managed in the Embedder Portal
      name: api-key
      in: header
    auth_token:
      type: http
      description: >-
        The authentication token representing the user. This will be included in
        the login response object.
      scheme: bearer
      bearerFormat: JWT
    webhooks_key:
      type: apiKey
      description: >-
        The Webhooks key can be found in the API Credentials tab in your Portal
        Page.
      name: webhooks-key
      in: header
  parameters:
    idempotency-ref:
      name: idempotency-ref
      in: header
      description: >-
        A unique call reference generated by the caller that, taking into
        consideration the payload as well as the operation itself, helps avoid
        duplicate operations. Idempotency reference uniqueness is maintained for
        at least 24 hours.
      required: false
      schema:
        type: string
    channel:
      name: channel
      in: path
      required: true
      description: The unique identifier for the channel.
      schema:
        $ref: '#/components/schemas/SCAOtpChannel'
    scaPushChannel:
      name: channel
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/SCAPushChannel'
    userId:
      name: user_id
      in: path
      required: true
      description: The unique identifier for the user.
      schema:
        $ref: '#/components/schemas/UserId'
    authFactorsPushChannel:
      name: channel
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/AuthSCAPushChannel'
    offset:
      name: offset
      in: query
      required: false
      description: >-
        The offset value for paging, indicating the initial item number to be
        returned from the data set satisfying the given criteria. Leave out to
        fetch the first page of results.
      schema:
        minimum: 0
        type: integer
        format: int32
    limit:
      name: limit
      in: query
      required: false
      description: >-
        The limit of the results for paging, starting at the offset. Limit is
        always capped at 100.
      schema:
        maximum: 100
        minimum: 1
        type: integer
        format: int32
    active:
      name: active
      in: query
      required: false
      description: Filter for active or deactivated users. Leave out to fetch all users.
      schema:
        type: boolean
    email:
      name: email
      in: query
      required: false
      description: Filter by the email address of the user.
      schema:
        $ref: '#/components/schemas/Email'
    tag:
      name: tag
      in: query
      required: false
      description: >-
        Filter by the managed account/card tag. The exact tag must be provided,
        as wildcards are not supported. Leave out to fetch all managed
        accounts/card.
      schema:
        type: string
    bulkProcessStatus:
      name: status
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/BulkProcessStatus'
    bulkId:
      name: bulk_id
      in: path
      required: true
      description: The bulk id of the bulk process.
      schema:
        $ref: '#/components/schemas/BulkId'
    sequence:
      name: sequence
      in: query
      required: false
      schema:
        type: integer
        format: int64
    bulkProcessOperationStatus:
      name: status
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/BulkProcessOperationStatus'
    userIdExplode:
      name: user_id
      in: path
      required: true
      description: The unique identifier for the user.
      style: simple
      explode: false
      schema:
        $ref: '#/components/schemas/UserId'
    creationTimestampFrom:
      name: creationTimestampFrom
      in: query
      required: false
      description: >-
        Filter for transactions created after this timestamp. Epoch timestamp
        using millisecond precision.
      schema:
        type: integer
        format: int64
    creationTimestampTo:
      name: creationTimestampTo
      in: query
      required: false
      description: >-
        Filter for transactions created before this timestamp. Epoch timestamp
        using millisecond precision.
      schema:
        type: integer
        format: int64
    sortOrder:
      name: sortOrder
      in: query
      required: false
      description: |
        Sort order for the results:
          - ASC: Ascending order, oldest first.
          - DESC: Descending order, most recent first.
      schema:
        type: string
        enum:
          - ASC
          - DESC
    profileId:
      name: profileId
      in: query
      required: false
      description: >-
        Filter by the managed account/card profile. Leave out to fetch all
        managed accounts/card.
      schema:
        $ref: '#/components/schemas/ProfileId'
    friendlyName:
      name: friendlyName
      in: query
      required: false
      description: >
        Filter by the managed account/card friendly name. Leave out to fetch all
        managed accounts/card.


        The exact name must be provided, as wildcards are not supported.
      schema:
        minLength: 1
        maxLength: 50
        type: string
    state:
      name: state
      in: query
      required: false
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/InstrumentState'
    currency:
      name: currency
      in: query
      required: false
      description: >
        Filter by the managed account/card currency.


        Currencies are expressed as an ISO 4217 code. Leave out to fetch all
        managed accounts/card.
      schema:
        $ref: '#/components/schemas/Currency'
    createdFrom:
      name: createdFrom
      in: query
      required: false
      description: >-
        Filter for managed accounts/cards created after `createdFrom` timestamp.
        Timestamp is expressed in Epoch timestamp using millisecond precision.
        Leave out to fetch all managed accounts/cards.
      schema:
        type: integer
        format: int64
    createdTo:
      name: createdTo
      in: query
      required: false
      description: >-
        Filter for managed accounts/cards created before `createdTo` timestamp.
        Timestamp is expressed in Epoch timestamp using millisecond precision.
        Leave out to fetch all managed accounts/cards.
      schema:
        type: integer
        format: int64
    verificationRunState:
      name: state
      in: query
      required: false
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/LinkedAccountVerificationRunState'
    state_blockedReason:
      name: state.blockedReason
      in: query
      required: false
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/BlockedReason'
    state_destroyedReason:
      name: state.destroyedReason
      in: query
      required: false
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/DestroyedReason'
    accept:
      name: accept
      in: header
      description: >
        A request parameter specifying the type of response the client would
        like. Must be one of `application/json`, `application/pdf` or
        `text/csv`.


        The default response type (`application/json`) will be returned if
        specified incorrectly or not specified.
      required: false
      schema:
        type: string
    statementLimit:
      name: statementLimit
      in: query
      required: false
      description: >-
        The limit of the results for statements paging, starting at the offset.
        Limit is capped at 500.
      schema:
        maximum: 500
        minimum: 1
        type: integer
        format: int32
    orderByTimestamp:
      name: orderByTimestamp
      in: query
      required: false
      description: |
        Orders the result in ascending or descending order.
          - ASC: Ascending order, oldest transactions first.
          - DESC: Descending order, most recent transactions first.

        If not specified, the transactions will be returned in descending order.
      schema:
        type: string
        enum:
          - ASC
          - DESC
    fromTimestamp:
      name: fromTimestamp
      in: query
      required: false
      description: >-
        Filter for transactions having transaction timestamp after
        `fromTimestamp`. Timestamp is expressed in Epoch timestamp using
        millisecond precision. If omitted, all matching transactions up to the
        present will be included.
      schema:
        type: integer
        format: int64
    toTimestamp:
      name: toTimestamp
      in: query
      required: false
      description: >-
        Filter for transactions having transaction timestamp before
        `toTimestamp`. Timestamp is expressed in Epoch timestamp using
        millisecond precision. If omitted, all matching transactions up to the
        present will be included. If both `fromTimestamp` and `toTimestamp` are
        provided, `toTimestamp` must be greater than `fromTimestamp`.
      schema:
        type: integer
        format: int64
    showFundMovementsOnly:
      name: showFundMovementsOnly
      in: query
      required: false
      description: |
        Deprecated. Use singleEntryPerTransaction instead.

        Returns only the entries which contain fund movements.
      schema:
        type: boolean
    singleEntryPerTransaction:
      name: singleEntryPerTransaction
      in: query
      required: false
      description: >
        Returns transactions that span multiple movements as a single entry.

        Only includes transactions that have been completed.

        Defaults to true for PDF statements, false otherwise.

        Note: due to the fact that only completed transactions are included,
        some

        transactions that are in progress and have modified the balance of the
        instrument

        will not be shown, which could lead to seemingly inconsistent balance
        being displayed.
      schema:
        type: boolean
    statementTransactionType:
      name: transactionType
      in: query
      required: false
      description: Filter by the transaction type. Leave out to fetch all entries.
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/StatementTransactionType'
    apiVersion:
      name: x-api-version
      in: header
      description: >
        Opts the call in to the latest version of the endpoint. Set to `LATEST`
        to be routed to the newest implementation; omit to retain the default
        routing for your tenant.
      required: false
      schema:
        type: string
        enum:
          - LATEST
    statementResponseLimit:
      name: limit
      in: query
      required: false
      description: >-
        The maximum number of statement entries to return. Limit is capped at
        500.
      schema:
        maximum: 500
        minimum: 1
        type: integer
        format: int32
    startPeriod:
      name: startPeriod
      in: query
      required: false
      description: >-
        Start of the statement period. Epoch timestamp using millisecond
        precision.
      schema:
        type: integer
        format: int64
    endPeriod:
      name: endPeriod
      in: query
      required: false
      description: >-
        End of the statement period. Epoch timestamp using millisecond
        precision.
      schema:
        type: integer
        format: int64
    statementSortOrder:
      name: sortOrder
      in: query
      required: false
      description: |
        Sort order for the results:
          - ASC: Ascending order, oldest first (default for statements).
          - DESC: Descending order, most recent first.
      schema:
        $ref: '#/components/schemas/InstrumentStatementSortOrder'
    statementResponseTransactionType:
      name: transaction.type
      in: query
      required: false
      description: Filter statement entries by one or more transaction types.
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/StatementResponseEntryTransactionType'
    statementResponseExecutingAccessInstrumentId:
      name: executingAccessInstrument.id
      in: query
      required: false
      description: >-
        Filter statement entries by the ID of the access instrument that
        initiated the transaction.
      schema:
        type: string
        pattern: ^[0-9]+$
    statementResponseExecutingAccessInstrumentType:
      name: executingAccessInstrument.type
      in: query
      required: false
      description: >-
        Filter statement entries by the type of access instrument that initiated
        the transaction (managed cards or IBANs).
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/AccessInstrumentType'
    transactionActivityType:
      name: type
      in: query
      required: false
      description: Filter by one or more transaction activity types.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/TransactionActivityType'
    transactionActivityStatus:
      name: status
      in: query
      required: false
      description: Filter by one or more normalised transaction statuses.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/TransactionActivityStatus'
    transactionActivityDirection:
      name: direction
      in: query
      required: false
      description: Filter by transaction direction (CREDIT or DEBIT).
      schema:
        $ref: '#/components/schemas/TransactionActivityDirection'
    lastUpdatedTimestampFrom:
      name: lastUpdatedTimestampFrom
      in: query
      required: false
      description: >-
        Filter for transactions last updated after this timestamp. Useful for
        pulling recently changed transactions. Epoch timestamp using millisecond
        precision.
      schema:
        type: integer
        format: int64
    lastUpdatedTimestampTo:
      name: lastUpdatedTimestampTo
      in: query
      required: false
      description: >-
        Filter for transactions last updated before this timestamp. Epoch
        timestamp using millisecond precision.
      schema:
        type: integer
        format: int64
    transactionActivitySortBy:
      name: sortBy
      in: query
      required: false
      description: >-
        The field to sort transaction activity results by. Defaults to
        `creationTimestamp`.
      schema:
        $ref: '#/components/schemas/TransactionActivitySortBy'
    card_type:
      name: type
      in: query
      required: false
      description: Filter by the type of the card.
      schema:
        type: string
        enum:
          - VIRTUAL
          - PHYSICAL
    card_renewal_type:
      name: renewalType
      in: query
      required: false
      description: Filter by the renewal type of the card.
      schema:
        type: string
        enum:
          - RENEW
          - NO_RENEW
    userIdQuery:
      name: userId
      in: query
      required: false
      description: The unique identifier for the user.
      schema:
        $ref: '#/components/schemas/UserId'
    cardPaymentCardId:
      name: cardId
      in: query
      required: false
      description: Filter by the managed card the payment belongs to.
      schema:
        type: string
        pattern: ^[0-9]+$
    cardPaymentStatus:
      name: status
      in: query
      required: false
      explode: false
      description: Filter by one or more card payment statuses.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/CardPaymentStatus'
    cardPaymentType:
      name: type
      in: query
      required: false
      explode: false
      description: Filter by one or more card payment types.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/CardPaymentType'
    cardPaymentSubtype:
      name: subtype
      in: query
      required: false
      explode: false
      description: >-
        Filter by one or more event subtypes (joined against the events
        timeline).
      schema:
        type: array
        items:
          $ref: '#/components/schemas/CardPaymentSubtype'
    cardPaymentMerchantName:
      name: merchantName
      in: query
      required: false
      description: Partial, case-insensitive match against merchant name.
      schema:
        type: string
    cardPaymentAmountFrom:
      name: amountFrom
      in: query
      required: false
      description: Filter for `displayAmount.amount >= amountFrom`.
      schema:
        type: integer
        format: int64
    cardPaymentAmountTo:
      name: amountTo
      in: query
      required: false
      description: Filter for `displayAmount.amount <= amountTo`.
      schema:
        type: integer
        format: int64
    cardPaymentRelatedCardPaymentId:
      name: relatedCardPaymentId
      in: query
      required: false
      description: Filter for card payments related to the given parent id.
      schema:
        type: string
        pattern: ^[0-9]+$
    cardPaymentCreationTimestampFrom:
      name: creationTimestampFrom
      in: query
      required: false
      schema:
        type: integer
        format: int64
    cardPaymentCreationTimestampTo:
      name: creationTimestampTo
      in: query
      required: false
      schema:
        type: integer
        format: int64
    cardPaymentLastUpdatedTimestampFrom:
      name: lastUpdatedTimestampFrom
      in: query
      required: false
      schema:
        type: integer
        format: int64
    cardPaymentLastUpdatedTimestampTo:
      name: lastUpdatedTimestampTo
      in: query
      required: false
      schema:
        type: integer
        format: int64
    cardPaymentSortOrder:
      name: sortOrder
      in: query
      required: false
      description: Sort order on `creationTimestamp`. ASC = oldest first.
      schema:
        type: string
        enum:
          - ASC
          - DESC
    cardPaymentId:
      name: id
      in: path
      required: true
      description: The unique identifier of a card payment.
      schema:
        type: string
        pattern: ^[0-9]+$
    cardPaymentEventCardPaymentId:
      name: cardPaymentId
      in: query
      required: false
      description: Filter events to a single card payment.
      schema:
        type: string
        pattern: ^[0-9]+$
    cardPaymentEventCardId:
      name: cardId
      in: query
      required: false
      description: Filter events to those on a single managed card.
      schema:
        type: string
        pattern: ^[0-9]+$
    cardPaymentEventType:
      name: type
      in: query
      required: false
      explode: false
      description: Filter by one or more event types.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/CardPaymentEventType'
    cardPaymentEventSubtype:
      name: subtype
      in: query
      required: false
      explode: false
      description: Filter events by one or more network subtypes.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/CardPaymentSubtype'
    cardPaymentEventReversal:
      name: reversal
      in: query
      required: false
      description: Filter events by reversal flag.
      schema:
        type: boolean
    cardPaymentEventTimestampFrom:
      name: timestampFrom
      in: query
      required: false
      schema:
        type: integer
        format: int64
    cardPaymentEventTimestampTo:
      name: timestampTo
      in: query
      required: false
      schema:
        type: integer
        format: int64
    cardPaymentEventSortOrder:
      name: sortOrder
      in: query
      required: false
      description: Sort order on event timestamp. ASC = oldest first (default DESC).
      schema:
        type: string
        enum:
          - ASC
          - DESC
    transferProfileId:
      name: profileId
      in: query
      required: false
      description: >-
        Filter by the transfer profile. Leave out to fetch all transfer
        transactions.
      schema:
        $ref: '#/components/schemas/ProfileId'
    instrumentId:
      name: instrumentId
      in: query
      required: false
      description: Filter by the source instrument id.
      schema:
        $ref: '#/components/schemas/InstrumentId'
    transactionState:
      name: state
      in: query
      required: false
      description: Filter by the transfer transaction state. Leave out to fetch all states.
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/TransactionState'
    transferCreatedFrom:
      name: createdFrom
      in: query
      required: false
      description: >-
        Filter for transfer transactions created after `createdFrom` timestamp.
        Timestamp is expressed in Epoch timestamp using millisecond precision.
        Leave out to fetch all transfers.
      schema:
        type: integer
        format: int64
    transferCreatedTo:
      name: createdTo
      in: query
      required: false
      description: >-
        Filter for transfer transactions created before `createdTo` timestamp.
        Timestamp is expressed in Epoch timestamp using millisecond precision.
        Leave out to fetch all transfers.
      schema:
        type: integer
        format: int64
    transferExecutedFrom:
      name: executedFrom
      in: query
      required: false
      description: >-
        Filter for transfer transactions executed after `executedFrom`
        timestamp. Timestamp is expressed in Epoch timestamp using millisecond
        precision. Leave out to fetch all transfers.
      schema:
        type: integer
        format: int64
    transferExecutedTo:
      name: executedTo
      in: query
      required: false
      description: >-
        Filter for transfer transactions executed before `executedTo` timestamp.
        Timestamp is expressed in Epoch timestamp using millisecond precision.
        Leave out to fetch all transfers.
      schema:
        type: integer
        format: int64
    transferTag:
      name: tag
      in: query
      required: false
      description: >-
        Filter by the transfer tag. The exact tag must be provided, as wildcards
        are not supported. Leave out to fetch all entries.
      schema:
        type: string
    sendProfileId:
      name: profileId
      in: query
      required: false
      description: Filter by the Send profile. Leave out to fetch all entries.
      schema:
        $ref: '#/components/schemas/ProfileId'
    sourceId:
      name: source.id
      in: query
      required: false
      description: >-
        Filter by the source instrument id. Must be specified when `source.type`
        is provided.
      schema:
        $ref: '#/components/schemas/Id'
    sourceType:
      name: source.type
      in: query
      required: false
      description: >-
        Filter by the source instrument type. Must be specified when `source.id`
        is provided.
      schema:
        $ref: '#/components/schemas/InstrumentType'
    sendState:
      name: state
      in: query
      required: false
      description: Filter by the Send transaction state. Leave out to fetch all states.
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/SendState'
    sendCreatedFrom:
      name: createdFrom
      in: query
      required: false
      description: >-
        Filter for send transactions created after `createdFrom` timestamp.
        Timestamp is expressed in Epoch timestamp using millisecond precision.
        Leave out to fetch all Send transactions.
      schema:
        type: integer
        format: int64
    sendCreatedTo:
      name: createdTo
      in: query
      required: false
      description: >-
        Filter for send transactions created before `createdTo` timestamp.
        Timestamp is expressed in Epoch timestamp using millisecond precision.
        Leave out to fetch all Send transactions.
      schema:
        type: integer
        format: int64
    sendExecutedFrom:
      name: executedFrom
      in: query
      required: false
      description: >-
        Filter for send transactions executed after `executedFrom` timestamp.
        Timestamp is expressed in Epoch timestamp using millisecond precision.
        Leave out to fetch all Send transactions.
      schema:
        type: integer
        format: int64
    sendExecutedTo:
      name: executedTo
      in: query
      required: false
      description: >-
        Filter for send transactions executed before `executedTo` timestamp.
        Timestamp is expressed in Epoch timestamp using millisecond precision.
        Leave out to fetch all Send transactions.
      schema:
        type: integer
        format: int64
    sendTag:
      name: tag
      in: query
      required: false
      description: >-
        Filter by the send tag. The exact tag must be provided, as wildcards are
        not supported. Leave out to fetch all entries.
      schema:
        type: string
    iwtState:
      name: state
      in: query
      required: false
      description: Filter incoming wire transfers by state.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/IncomingWireTransferMultiState'
    sourceInstrument_id:
      name: sourceInstrument.id
      in: query
      required: false
      description: >-
        Filter by the source instrument id. Must be specified when `source.type`
        is provided.
      schema:
        $ref: '#/components/schemas/Id'
    sourceInstrument_type:
      name: sourceInstrument.type
      in: query
      required: false
      description: >-
        Filter by the source instrument type. Must be specified when `source.id`
        is provided.
      schema:
        $ref: '#/components/schemas/SourceInstrumentType'
    owtState:
      name: state
      in: query
      required: false
      description: >-
        Filter by the outgoing wire transfer state. Leave out to fetch all
        states.
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/OutgoingWireTransferState'
    request-ref:
      name: request-ref
      in: header
      description: >-
        A unique call reference included in every call, that enables the
        receiver to avoid duplicate handling of a webhook request (e.g. webhook
        was resent).
      required: false
      schema:
        type: string
    published-timestamp:
      name: published-timestamp
      in: header
      description: >-
        The timestamp, expressed in Epoch timestamp using millisecond precision,
        when this event was published.
      required: true
      style: simple
      explode: false
      schema:
        type: integer
        format: int64
    signature:
      name: signature
      in: header
      description: >-
        The signature to verify the authenticity of this request.  This is the
        base64 hash (HmacSHA256) of the `published-timestamp` using your API
        key.
      required: true
      style: simple
      explode: false
      deprecated: true
      schema:
        type: string
    signature-v2:
      name: signature-v2
      in: header
      description: >-
        The signature to verify the authenticity of this request.  This is the
        base64 hash (HmacSHA256) of the `call-ref + payload +
        published-timestamp` using your API key.
      required: true
      style: simple
      explode: false
      schema:
        type: string
    call-ref:
      description: >-
        A call reference generated by the caller and unique to the caller to
        provide correlation between the caller and system with a maximum length
        of 255
      in: header
      name: call-ref
      required: false
      schema:
        type: string
  headers:
    request-ref:
      description: >-
        A request identifier. Providing this reference when contacting our
        support team will help us investigate your query.
      required: true
      schema:
        type: string
    x-ratelimit-limit:
      description: >
        Example: `20, 10;w=60, 20;w=3600, 200;w=86400`

        The first number (20) is the limit that has been exceeded.

        The remaining numbers are the limits that are in force, with 'w' meaning
        'window in seconds'. In this example `20;w=3600` was exceeded. 20 calls
        in 3600secs (1hr)
      required: true
      schema:
        type: string
    x-ratelimit-reset:
      description: The number of seconds until the window is reset.
      required: true
      schema:
        minimum: 0
        type: integer
        format: int32
  requestBodies:
    LoginWithPasswordRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - email
              - password
            type: object
            properties:
              email:
                $ref: '#/components/schemas/Email'
              password:
                $ref: '#/components/schemas/SensitivePassword'
    LoginViaBiometricsRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - email
            type: object
            properties:
              email:
                $ref: '#/components/schemas/Email'
              identity:
                $ref: '#/components/schemas/IdentityId'
    SCAVerifyRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - verificationCode
            type: object
            properties:
              verificationCode:
                description: The code received by the user on the device.
                $ref: '#/components/schemas/Nonce'
    PasswordCreateRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - password
            type: object
            properties:
              password:
                $ref: '#/components/schemas/SensitivePassword'
    PasswordUpdateRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - oldPassword
              - newPassword
            type: object
            properties:
              oldPassword:
                $ref: '#/components/schemas/SensitivePassword'
              newPassword:
                $ref: '#/components/schemas/SensitivePassword'
    PasswordValidateRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - password
            type: object
            properties:
              password:
                $ref: '#/components/schemas/SensitivePassword'
    EmailRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - email
            type: object
            properties:
              email:
                $ref: '#/components/schemas/Email'
    LostPasswordResumeRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - email
              - nonce
              - newPassword
            type: object
            properties:
              nonce:
                $ref: '#/components/schemas/Nonce'
              email:
                $ref: '#/components/schemas/Email'
              newPassword:
                $ref: '#/components/schemas/SensitivePassword'
    MultipleSCAChallengeRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - resourceType
              - resourceIds
            type: object
            properties:
              resourceType:
                description: >-
                  The resource type that the subsequent Ids pertain to. Note
                  that the `linked_account_declaration` can only be performed by
                  a logged in Root User.
                $ref: '#/components/schemas/MultipleSCAResourceType'
              resourceIds:
                type: array
                description: >-
                  Can be used with a single or a list of resource Ids. A
                  resource Id is the unique identifier of the resource type that
                  was provided in the response when the resource (such as a
                  transaction) was created.
                items:
                  type: string
                  pattern: ^[0-9]{1,}$
    MultipleSCAVerifyRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - verificationCode
              - resourceType
            type: object
            properties:
              verificationCode:
                description: The code received by the user on the device.
                $ref: '#/components/schemas/Nonce'
              resourceType:
                description: >-
                  The resource type that the subsequent Ids pertain to. Note
                  that the `linked_account_declaration` can only be performed by
                  a logged in Root User.
                $ref: '#/components/schemas/MultipleSCAResourceType'
    AccessTokenRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - identity
            type: object
            properties:
              identity:
                $ref: '#/components/schemas/IdentityId'
              clientAssertion:
                description: >-
                  Generated using the certificate linked to the Delegated API
                  Client. This feature is available only to customers that have
                  been enabled with delegation functionality.
                type: string
              token:
                description: >-
                  A short-lived one-time token to be exchanged for an access
                  token. This token is used for identity verification and
                  authorisation purposes.
                type: string
    UserCreateRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - email
              - name
              - surname
            type: object
            properties:
              name:
                minLength: 1
                maxLength: 50
                type: string
                description: The first name of the user.
              surname:
                minLength: 1
                maxLength: 50
                type: string
                description: The last name of the user.
              email:
                $ref: '#/components/schemas/Email'
              mobile:
                $ref: '#/components/schemas/Mobile'
              dateOfBirth:
                description: Date of birth of the authorised user.
                $ref: '#/components/schemas/Date'
              tag:
                $ref: '#/components/schemas/Tag'
              countryOfResidence:
                type: string
                maxLength: 2
                minLength: 2
                pattern: ^[A-Z]+$
              locale:
                $ref: '#/components/schemas/UserLocale'
              brand:
                $ref: '#/components/schemas/Brand'
              roles:
                type: array
                items:
                  $ref: '#/components/schemas/UserPredefinedRole'
                description: >-
                  Optional roles to assign to the user. For a full description
                  of the permissions associated with each role, see our product
                  documentation.
    BulkProcessExecute:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BulkProcessExecute'
    UserPatchRequest:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                minLength: 1
                maxLength: 50
                type: string
                description: The first name of the user.
              surname:
                minLength: 1
                maxLength: 50
                type: string
                description: The last name of the user.
              email:
                $ref: '#/components/schemas/Email'
              mobile:
                $ref: '#/components/schemas/Mobile'
              dateOfBirth:
                description: Date of birth of the authorised user.
                $ref: '#/components/schemas/Date'
              tag:
                $ref: '#/components/schemas/Tag'
              locale:
                $ref: '#/components/schemas/UserLocale'
              brand:
                $ref: '#/components/schemas/Brand'
              roles:
                type: array
                items:
                  $ref: '#/components/schemas/UserPredefinedRole'
                description: >-
                  Optional roles to assign to the user. This uses overwrite
                  behaviour - roles included in this list will be assigned, and
                  roles not included will be unassigned. Users cannot update
                  their own roles. For a full description of the permissions
                  associated to each role, see our product documentation.
    UserInviteValidateRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - inviteCode
            type: object
            properties:
              inviteCode:
                $ref: '#/components/schemas/Nonce'
    UserInviteConsumeRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - inviteCode
              - password
            type: object
            properties:
              inviteCode:
                $ref: '#/components/schemas/Nonce'
              password:
                $ref: '#/components/schemas/SensitivePassword'
              mobile:
                $ref: '#/components/schemas/Mobile'
                description: >-
                  Optional mobile number for the user. If provided, the user's
                  mobile is set/replaced as part of consuming the invite. The
                  new number is left unverified — it must be enrolled
                  afterwards.
    CorporateCreateRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - profileId
              - rootUser
              - company
              - ipAddress
              - baseCurrency
            type: object
            properties:
              profileId:
                $ref: '#/components/schemas/ProfileId'
              tag:
                $ref: '#/components/schemas/Tag'
              rootUser:
                required:
                  - name
                  - surname
                  - email
                  - mobile
                  - companyPosition
                type: object
                description: >
                  The root user needs to be a director or a legal representative
                  of the corporate that is being onboarded - this user cannot be
                  deactivated.


                  Root users need to verify their email address and mobile
                  number, as well as complete KYC as part of the Corporate's due
                  diligence process.
                properties:
                  name:
                    maxLength: 50
                    type: string
                    description: The first name of the root user.
                  surname:
                    maxLength: 50
                    type: string
                    description: The last name of the root user.
                  email:
                    $ref: '#/components/schemas/Email'
                  mobile:
                    $ref: '#/components/schemas/Mobile'
                  companyPosition:
                    $ref: '#/components/schemas/CompanyPosition'
                  dateOfBirth:
                    description: Date of birth of the root user.
                    $ref: '#/components/schemas/Date'
                  tag:
                    $ref: '#/components/schemas/Tag'
                  locale:
                    $ref: '#/components/schemas/UserLocale'
                  brand:
                    $ref: '#/components/schemas/Brand'
              company:
                required:
                  - name
                  - type
                  - registrationCountry
                type: object
                description: >-
                  The details associated with the company being on-boarded. The
                  details provided need to match exactly with the details
                  provided during KYB. 
                properties:
                  type:
                    $ref: '#/components/schemas/CompanyType'
                  businessAddress:
                    $ref: '#/components/schemas/Address'
                  name:
                    maxLength: 100
                    type: string
                    description: The registered name of the company.
                  registrationNumber:
                    maxLength: 20
                    minLength: 1
                    type: string
                    description: The registration number of the company.
                  registrationCountry:
                    maxLength: 2
                    minLength: 2
                    pattern: ^[A-Z]+$
                    type: string
                    description: >-
                      The country of company registration, in ISO 3166 alpha-2
                      format.
              industry:
                $ref: '#/components/schemas/Industry'
              sourceOfFunds:
                $ref: '#/components/schemas/CorporateSourceOfFunds'
              sourceOfFundsOther:
                type: string
                description: Description of source of funds in case `OTHER` was chosen.
                deprecated: true
              acceptedTerms:
                type: boolean
                description: >-
                  Must be set to *true* to indicate that the corporate root user
                  has accepted the terms and conditions.
                deprecated: true
              ipAddress:
                maxLength: 45
                minLength: 5
                type: string
                description: The IP address of the corporate user doing the registration.
              baseCurrency:
                $ref: '#/components/schemas/Currency'
              feeGroup:
                type: string
                description: >-
                  Fee groups allow the possibility to charge different fees to
                  users under the same profile. If fee groups are not required,
                  ignore this field.
    CorporateUpdateRequest:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              tag:
                $ref: '#/components/schemas/Tag'
              industry:
                $ref: '#/components/schemas/Industry'
              sourceOfFunds:
                $ref: '#/components/schemas/CorporateSourceOfFunds'
              sourceOfFundsOther:
                type: string
                deprecated: true
                description: Description of source of funds in case `OTHER` was chosen.
              companyBusinessAddress:
                $ref: '#/components/schemas/Address'
              feeGroup:
                type: string
                description: >-
                  The fee group which the Corporate will be bound to. Do not
                  specify this if you are not using fee groups.
              baseCurrency:
                $ref: '#/components/schemas/Currency'
              name:
                maxLength: 20
                pattern: ^[^0-9~!@#$%^*()_+={}\|:;,<>/?]*$
                type: string
                description: The first name of the Corporate root user.
              surname:
                maxLength: 20
                pattern: ^[^0-9~!@#$%^*()_+={}\|:;,<>/?]*$
                type: string
                description: The last name of the Corporate root user.
              email:
                $ref: '#/components/schemas/Email'
              mobile:
                $ref: '#/components/schemas/Mobile'
              dateOfBirth:
                description: Date of birth of the authorised user.
                $ref: '#/components/schemas/Date'
              resetMobileCounter:
                type: boolean
              userTag:
                description: The tag to be assigned to the root user.
                $ref: '#/components/schemas/Tag'
              locale:
                $ref: '#/components/schemas/UserLocale'
              brand:
                $ref: '#/components/schemas/Brand'
    EmailVerifyRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - email
              - verificationCode
            type: object
            properties:
              email:
                $ref: '#/components/schemas/Email'
              verificationCode:
                $ref: '#/components/schemas/VerificationCode'
    ChargeFeeRequest:
      required: true
      content:
        application/json:
          schema:
            description: The custom fee to be charged to the consumer/corporate.
            $ref: '#/components/schemas/Fee'
    ConsumerCreateRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - profileId
              - rootUser
              - ipAddress
            type: object
            properties:
              profileId:
                $ref: '#/components/schemas/ProfileId'
              tag:
                $ref: '#/components/schemas/Tag'
              rootUser:
                required:
                  - name
                  - surname
                  - email
                  - mobile
                  - dateOfBirth
                  - address
                type: object
                description: >
                  The root user represents the identity.


                  Root users need to verify their email address and mobile
                  number, as well as complete KYC, as part of the Consumer's due
                  diligence process.
                properties:
                  name:
                    maxLength: 50
                    type: string
                    description: The first name of the root user.
                  surname:
                    maxLength: 50
                    type: string
                    description: The last name of the root user.
                  email:
                    $ref: '#/components/schemas/Email'
                  mobile:
                    $ref: '#/components/schemas/Mobile'
                  dateOfBirth:
                    description: Date of birth of the consumer root user.
                    $ref: '#/components/schemas/Date'
                  occupation:
                    $ref: '#/components/schemas/Occupation'
                  address:
                    description: Address of the consumer root user.
                    $ref: '#/components/schemas/AddressWithCountryRequired'
                  placeOfBirth:
                    type: string
                    description: Place of birth of the consumer root user.
                  nationality:
                    description: Nationality of the root user, in ISO 3166 alpha-2 format."
                    $ref: '#/components/schemas/Nationality'
                  tag:
                    description: Tag to be assigned to the consumer root user.
                    $ref: '#/components/schemas/Tag'
                  locale:
                    $ref: '#/components/schemas/UserLocale'
                  brand:
                    $ref: '#/components/schemas/Brand'
              ipAddress:
                maxLength: 45
                minLength: 5
                type: string
                description: The IP address of the user doing the registration.
              acceptedTerms:
                type: boolean
                description: >-
                  Must be set to *true* to indicate that the consumer has
                  accepted the terms and conditions.
                deprecated: true
              baseCurrency:
                $ref: '#/components/schemas/Currency'
              feeGroup:
                type: string
                description: >-
                  The fee group which the consumer is bound to. Fee groups
                  provide the possibility of different fees to users under the
                  same profile. If fee groups are not required, ignore this
                  field.
              sourceOfFunds:
                $ref: '#/components/schemas/ConsumerSourceOfFunds'
              sourceOfFundsOther:
                deprecated: true
                type: string
                description: Description of source of funds in case `OTHER` was chosen.
    ConsumerUpdateRequest:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              tag:
                $ref: '#/components/schemas/Tag'
              name:
                maxLength: 20
                pattern: ^[^0-9~!@#$%^*()_+={}\|:;,<>/?]*$
                type: string
                description: The first name of the Consumer root user.
              surname:
                maxLength: 20
                pattern: ^[^0-9~!@#$%^*()_+={}\|:;,<>/?]*$
                type: string
                description: The last name of the Consumer root user.
              email:
                $ref: '#/components/schemas/Email'
              mobile:
                $ref: '#/components/schemas/Mobile'
              dateOfBirth:
                description: Date of birth of the consumer root user.
                $ref: '#/components/schemas/Date'
              address:
                description: Address of the consumer root user.
                $ref: '#/components/schemas/AddressWithCountryRequired'
              feeGroup:
                type: string
                description: >-
                  The fee group which the consumer will be bound to. Do not
                  specify this if you are not using fee groups.
              baseCurrency:
                $ref: '#/components/schemas/Currency'
              occupation:
                $ref: '#/components/schemas/Occupation'
              sourceOfFunds:
                $ref: '#/components/schemas/ConsumerSourceOfFunds'
              sourceOfFundsOther:
                deprecated: true
                type: string
                description: Description of source of funds in case `OTHER` was chosen.
              placeOfBirth:
                type: string
                description: The place of birth of the consumer root user.
              nationality:
                description: >-
                  Nationality of the consumer root user, in ISO 3166 alpha-2
                  format.
                $ref: '#/components/schemas/Nationality'
              resetMobileCounter:
                type: boolean
              userTag:
                description: The tag to be assigned to the root user.
                $ref: '#/components/schemas/Tag'
              locale:
                $ref: '#/components/schemas/UserLocale'
              brand:
                $ref: '#/components/schemas/Brand'
    ConsumerKycLevelRequest:
      content:
        application/json:
          schema:
            type: object
            properties:
              kycLevel:
                $ref: '#/components/schemas/KycLevel'
                description: >-
                  The KYC level that the consumer will be assigned to, which
                  determines the due diligence details that the user will need
                  to provide.
              prefillDetails:
                description: List of KYC details to be prefilled for the consumer.
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
    LinkedAccountCreationRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateLinkedAccountRequest'
    LinkedAccountMetadataUpdateRequest:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              tag:
                $ref: '#/components/schemas/Tag'
              friendlyName:
                maxLength: 50
                minLength: 1
                type: string
                description: >-
                  Updates the friendly name of the linked account. Leave blank
                  if no change is needed.
    ManagedAccountCreateRequest:
      content:
        application/json:
          schema:
            required:
              - profileId
              - friendlyName
              - currency
            type: object
            properties:
              profileId:
                $ref: '#/components/schemas/ProfileId'
              friendlyName:
                type: string
                minLength: 1
                maxLength: 50
                description: The friendly name to be given to the managed account.
              currency:
                $ref: '#/components/schemas/Currency'
              tag:
                $ref: '#/components/schemas/Tag'
              lowBalanceThreshold:
                $ref: '#/components/schemas/AccountLowBalanceThreshold'
      required: true
    ManagedAccountUpdateRequest:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              tag:
                $ref: '#/components/schemas/Tag'
              friendlyName:
                maxLength: 50
                minLength: 1
                type: string
                description: >-
                  Updates the friendly name of the managed account. Leave blank
                  if no change is needed.
              lowBalanceThreshold:
                $ref: '#/components/schemas/AccountLowBalanceThreshold'
              clearLowBalanceThreshold:
                type: boolean
                description: >-
                  When true, clears the configured low balance threshold on the
                  account. Ignored if lowBalanceThreshold is also provided.
    ManagedCardRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ManagedCardRequest'
    ManagedCardUpdateRequest:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              tag:
                $ref: '#/components/schemas/Tag'
              friendlyName:
                maxLength: 50
                minLength: 1
                type: string
                description: >-
                  Updates the friendly name of the card. Leave blank if no
                  change is needed.
              nameOnCard:
                maxLength: 27
                pattern: >-
                  ^[a-zA-Z0-9ßÀÁÂÃÄÅǍÆÇÈÉÊËÌÍÎÏÒÓÔÕÖØŠÙÚÛÜŸÝĄĆČĎĘĹĽŁŃŇÑŐŔŚȘȚŤŰŹŻŽàáâãäåǎæçèéêëìíîïòóôõöøšùúûüÿýąćčďęĺľłńňñőŕśșțťűźżž\-^.
                  '-]*$
                type: string
                description: >
                  The card holder's name for the card.


                  This may be verified by merchants when the card is used
                  online. For Physical cards, this field will be printed on the
                  card.

                  The maximum characters allowed will depend on the design
                  chosen and will be provided to you by Weavr when setting up
                  your plastic cards.
              nameOnCardLine2:
                maxLength: 27
                pattern: >-
                  ^[a-zA-Z0-9ßÀÁÂÃÄÅǍÆÇÈÉÊËÌÍÎÏÒÓÔÕÖØŠÙÚÛÜŸÝĄĆČĎĘĹĽŁŃŇÑŐŔŚȘȚŤŰŹŻŽàáâãäåǎæçèéêëìíîïòóôõöøšùúûüÿýąćčďęĺľłńňñőŕśșțťűźżž\-^.
                  '-]*$
                type: string
                description: >-
                  Line 2 of the 'name on card' field. For Physical cards, this
                  field will be printed on the card. The maximum characters
                  allowed will depend on the design chosen and will be provided
                  to you by Weavr when setting up your plastic cards.
              cardholderMobileNumber:
                maxLength: 15
                minLength: 5
                pattern: ^\+[0-9]+$
                type: string
                description: >-
                  The mobile number including country code of the card holder,
                  needed in case a 3DS challenge is required.
                deprecated: true
              billingAddress:
                description: >-
                  The billing address of the card holder. Merchants may request
                  the billing address to be checked for online purchases.
                $ref: '#/components/schemas/BillingAddress'
              deliveryAddress:
                description: >-
                  The delivery address set for the card holder. This is only
                  applicable for physical cards.
                $ref: '#/components/schemas/DeliveryAddress'
              deliveryMethod:
                $ref: '#/components/schemas/DeliveryMethod'
              digitalWallets:
                $ref: '#/components/schemas/DigitalWallets'
              authForwardingDefaultTimeoutDecision:
                type: string
                description: Default decision for auth forwarding on timeout
                enum:
                  - APPROVE
                  - DECLINE
              threeDSecureAuthConfig:
                $ref: '#/components/schemas/ThreeDSecureAuthConfig'
              externalData:
                $ref: '#/components/schemas/ExternalData'
              bulkDelivery:
                $ref: '#/components/schemas/BulkCardDelivery'
              activationCode:
                $ref: '#/components/schemas/PhysicalCardActivationCode'
                description: The unique code to be used to activate the physical card.
              productReference:
                type: string
                description: >
                  The product design reference to be used for this physical
                  card.


                  This reference will be given to you once your physical card
                  programme has been set up. If only one card programme is
                  configured, this field can be left empty.
              carrierType:
                type: string
                description: >
                  The carrier type to be used for this physical card.


                  This reference will be given to you once your physical card
                  carrier has been set up. If only one carrier is configured,
                  this field can be left empty.
              renewalType:
                $ref: '#/components/schemas/CardRenewalType'
              userId:
                $ref: '#/components/schemas/UserId'
                description: >-
                  The Authorised User to be linked to the card, whose
                  authentication details will be used for actions such as 3DS
                  authentication, or manual provisioning to a digital wallet.
                  This field can be used instead of threeDSecureAuthConfig as it
                  better describes the wider scope of possible uses.
    CardLevelSpendRulesRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CardLevelSpendRules'
    UpdateCardLevelSpendRulesRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateCardLevelSpendRules'
    ManagedCardPhysicalUpgradeRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - deliveryAddress
            type: object
            properties:
              productReference:
                type: string
                description: >
                  The product design reference to be used for this physical
                  card.


                  This reference will be given to you once your physical card
                  programme has been set up. If only one card programme is
                  configured, this field can be left empty.
              carrierType:
                type: string
                description: >
                  The carrier type to be used for this physical card.


                  This reference will be given to you once your physical card
                  carrier has been set up. If only one carrier is configured,
                  this field can be left empty.
              deliveryMethod:
                $ref: '#/components/schemas/DeliveryMethod'
              deliveryAddress:
                $ref: '#/components/schemas/DeliveryAddress'
              activationCode:
                $ref: '#/components/schemas/PhysicalCardActivationCode'
                description: >-
                  A unique code that can be used when activating the physical
                  card. This is an optional feature. An end-user will always
                  need to be logged in to activate a card, but providing an
                  activation code can give an additional layer of comfort to a
                  user regarding security.
              pin:
                $ref: '#/components/schemas/SensitivePin'
              nameOnCardLine2:
                maxLength: 27
                pattern: >-
                  ^[a-zA-Z0-9ßÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÒÓÔÕÖØŠÙÚÛÜŸÝĄĆČĎĘĹĽŁŃŇÑŐŔŚȘȚŤŰŹŻŽàáâãäåæçèéêëìíîïòóôõöøšùúûüÿýąćčďęĺľłńňñőŕśșțťűźżž\-^.
                  '-]*$
                type: string
                description: >-
                  Line 2 of the 'name on card' field. For Physical cards, this
                  field will be printed on the card. The maximum characters
                  allowed will depend on the design chosen and will be provided
                  to you by Weavr when setting up your plastic cards. This field
                  is deprecated.
                deprecated: true
              bulkDelivery:
                $ref: '#/components/schemas/BulkCardDelivery'
    ManagedCardPhysicalActivateRequest:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              activationCode:
                $ref: '#/components/schemas/PhysicalCardActivationCode'
                description: >-
                  The code that was set up when upgrading the card, that can be
                  used to activate a physical card. If provided in the request,
                  this will be validated against the code that was originally
                  provided. If left blank, no validation will be carried out.
    ManagedCardPhysicalReplaceDamagedRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - activationCode
            type: object
            properties:
              activationCode:
                $ref: '#/components/schemas/PhysicalCardActivationCode'
                description: >-
                  The code that will be used to activate the physical card
                  replacement.
    ManagedCardPhysicalReplaceLostOrStolenRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - activationCode
            type: object
            properties:
              activationCode:
                $ref: '#/components/schemas/PhysicalCardActivationCode'
                description: >-
                  A unique code to be used to activate the replacement physical
                  card.
    CreateTransferRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - profileId
              - source
              - destination
              - destinationAmount
            type: object
            properties:
              profileId:
                $ref: '#/components/schemas/ProfileId'
              tag:
                $ref: '#/components/schemas/Tag'
              source:
                description: >-
                  The managed account or managed card from where the funds will
                  be transferred.
                $ref: '#/components/schemas/InstrumentId'
              description:
                type: string
                maxLength: 255
                pattern: ^[a-zA-Z0-9\/\-?:().$_,'+\s#=!"%&*<>;\{@\r\n]*$
                description: >-
                  The description details that are included in the transaction
                  as reference.
              destination:
                description: >-
                  The managed account or managed card to where the funds will be
                  transferred.
                $ref: '#/components/schemas/InstrumentId'
              destinationAmount:
                description: >-
                  The amount, in same currency as the source and destination
                  instruments, to be transferred to the destination (exclusive
                  of any fee amount that may be specified in the profile).
                $ref: '#/components/schemas/CurrencyAmount'
              scheduledTimestamp:
                $ref: '#/components/schemas/ScheduledTimestamp'
    TransactionBulkCancelRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionBulkCancelRequest'
    SendCreateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SendCreateRequest'
    TransactionSingleCancelRequest:
      required: false
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionSingleCancelRequest'
    OutgoingWireTransferCreateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OutgoingWireTransferCreateRequest'
    CorrespondentBankingOwtCreateRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CorrespondentBankingOwtCreateRequest'
    BeneficiaryBatchCreateRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - beneficiaries
            type: object
            properties:
              tag:
                $ref: '#/components/schemas/Tag'
              beneficiaries:
                type: array
                description: The object representing the beneficiaries' details.
                items:
                  $ref: '#/components/schemas/BasicBeneficiary'
    BeneficiaryBatchRemoveRequest:
      required: true
      content:
        application/json:
          schema:
            required:
              - beneficiaryIds
            type: object
            properties:
              beneficiaryIds:
                type: array
                description: A list of Beneficiary Ids.
                minItems: 1
                items:
                  type: string
                  pattern: ^[0-9]+$
  responses:
    LoginWithPasswordResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              token:
                type: string
                description: >-
                  An authorisation token (valid for 5 minutes from last
                  activity) identifying the user to be used in the `auth_token`
                  authorization header for secured operations.
              tokenType:
                $ref: '#/components/schemas/TokenType'
              identity:
                description: The identity to which the logged-in user belongs to.
                $ref: '#/components/schemas/IdentityId'
              credentials:
                description: The unique identifier for the logged-in user.
                $ref: '#/components/schemas/CredentialId'
    BadRequestError:
      description: Bad Request Error - Your request is invalid.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                maxLength: 255
                type: string
                description: When present helps to identify and fix the problem.
              syntaxErrors:
                $ref: '#/components/schemas/SyntaxError'
    Unauthorized:
      description: Unauthorized - Your credentials or access token are invalid.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
    NotFoundToken:
      description: Not found - The requested token couldn't be found.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenError'
    LoginWithPasswordConflict:
      description: >-
        The user's password has expired. Use the returned temporary token to
        update their password via the  '_/passwords/update_' endpoint.
      content:
        application/json:
          schema:
            type: object
            properties:
              token:
                type: string
                description: >-
                  Temporary authorisation token required to initiate the
                  _passwordUpdate_ operation.
    TokenExpired:
      description: Gone - The requested token is expired.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenError'
    Locked:
      description: >-
        Locked - Account is temporarily locked due to failed consecutive login
        attempts. Try again in 30 minutes.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
    TooManyRequests:
      description: Too many requests.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
        x-ratelimit-limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        x-ratelimit-reset:
          $ref: '#/components/headers/x-ratelimit-reset'
    InternalServerError:
      description: >-
        Internal Server Error - There is a problem with the server. Please try
        again later.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
    ServiceUnavailable:
      description: >-
        Service Unavailable - The requested service is temporarily unavailable.
        Please try again later.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
    Error:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    LoginViaBiometricsResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              challengeId:
                type: string
                description: The unique identifier of a Biometric challenge.
    LoginViaBiometricsConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - CHANNEL_NOT_REGISTERED
                  - CHANNEL_NOT_SUPPORTED
    LoginWithIamResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              url:
                type: string
    NoContent:
      description: Success - No Content.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
    Forbidden:
      description: Forbidden - Access to the requested resource or action is forbidden.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - INSUFFICIENT_PERMISSIONS
    MethodNotAllowed:
      description: >-
        Method Not Allowed - The request was received but has been rejected for
        the requested resource.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    StepUpSCAChallengeConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - CHANNEL_NOT_SUPPORTED
                  - CHANNEL_NOT_REGISTERED
                  - MOBILE_NUMBER_INVALID
                  - MOBILE_COUNTRY_NOT_SUPPORTED
                  - RETRY_IN_15SEC
                  - CHALLENGE_LIMIT_EXCEEDED
    StepUpSCAVerifyConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - STATE_INVALID
                  - VERIFICATION_CODE_EXPIRED
                  - VERIFICATION_CODE_INVALID
                  - CHANNEL_NOT_SUPPORTED
                  - CHANNEL_NOT_REGISTERED
                  - ONE_CHALLENGE_LIMIT_REMAINING
                  - CHALLENGE_LIMIT_EXCEEDED
                  - ALREADY_VERIFIED
    StepUpSCAChallengePushResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                pattern: ^[0-9]+$
                description: The challenge id.
    StepUpSCAChallengePushConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - STATE_INVALID
                  - CHANNEL_NOT_SUPPORTED
                  - CHANNEL_NOT_REGISTERED
                  - CHALLENGE_LIMIT_EXCEEDED
    LogoutResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              url:
                type: string
                description: The logout url for third party auth providers.
    PasswordResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              passwordInfo:
                $ref: '#/components/schemas/PasswordInfo'
              token:
                type: string
                description: >-
                  The authorisation token to be used in the Authorization header
                  for secured operations.
    CreatePasswordConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - UNRESOLVED_IDENTITY
                  - PASSWORD_PROFILE_NOT_CONFIGURED_FOR_CREDENTIAL_TYPE
                  - PASSWORD_TOO_SHORT
                  - PASSWORD_TOO_LONG
                  - PASSWORD_TOO_SIMPLE
                  - PASSWORD_KEY_ALREADY_IN_USE
                  - PASSWORD_ALREADY_CREATED
    PasswordUpdateConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - PASSWORD_ALREADY_USED
                  - PASSWORD_TOO_SHORT
                  - PASSWORD_TOO_LONG
                  - PASSWORD_TOO_SIMPLE
                  - PASSWORD_INCORRECT
    PasswordValidateConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - UNRESOLVED_IDENTITY
                  - PASSWORD_PROFILE_NOT_CONFIGURED_FOR_CREDENTIAL_TYPE
                  - PASSWORD_TOO_SHORT
                  - PASSWORD_TOO_LONG
                  - PASSWORD_TOO_SIMPLE
    NotFound:
      description: Not found - The requested resource couldn't be found.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    LostPasswordInitiateConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - MULTIPLE_ACCOUNTS_FOUND
                  - ACCOUNT_NOT_FOUND
    TokenResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TokenResponse'
    LostPasswordResumeConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - INVALID_NONCE_OR_EMAIL
                  - PASSWORD_ALREADY_USED
                  - PASSWORD_TOO_SHORT
                  - PASSWORD_TOO_LONG
                  - PASSWORD_TOO_SIMPLE
                  - PASSWORD_INCORRECT
                  - PASSWORD_NOT_SET
    AuthFactorsGetResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              factors:
                type: array
                description: The list of challenge types the logged-in user is enrolled on.
                items:
                  $ref: '#/components/schemas/SCAFactor'
    EnrolDeviceUsingOtpStepOneConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - CHANNEL_NOT_SUPPORTED
                  - CHANNEL_ALREADY_REGISTERED
                  - MOBILE_NUMBER_NOT_AVAILABLE
                  - MOBILE_NUMBER_INVALID
                  - MOBILE_COUNTRY_NOT_SUPPORTED
                  - CREDENTIALS_INACTIVE
                  - TYPE_DOES_NOT_SUPPORT_ENROLMENT
    EnrolDeviceUsingOtpStepTwoConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - CHANNEL_NOT_SUPPORTED
                  - CHANNEL_ALREADY_REGISTERED
                  - VERIFICATION_CODE_EXPIRED
                  - VERIFICATION_CODE_INVALID
                  - CREDENTIALS_INACTIVE
                  - CHALLENGE_LIMIT_EXCEEDED
                  - ONE_CHALLENGE_LIMIT_REMAINING
                  - STATE_INVALID
                  - TYPE_DOES_NOT_SUPPORT_ENROLMENT
    InstrumentForbidden:
      description: Forbidden - Access to the requested resource or action is forbidden.
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - STEP_UP_REQUIRED
                  - ACCESS_TOKEN_REQUIRED
                  - INSUFFICIENT_PERMISSIONS
    EnrolDeviceUsingPushConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - CHANNEL_NOT_SUPPORTED
                  - CHANNEL_NOT_READY
                  - CHANNEL_ALREADY_REGISTERED
                  - MOBILE_NUMBER_NOT_AVAILABLE
                  - CHALLENGE_LIMIT_EXCEEDED
                  - PASSCODE_NOT_SET
                  - ENROLMENT_LIMIT_EXCEEDED
                  - MOBILE_COUNTRY_NOT_SUPPORTED
                  - TYPE_DOES_NOT_SUPPORT_ENROLMENT
    UnlinkDeviceUsingPushConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - CHANNEL_NOT_REGISTERED
                  - CREDENTIALS_INACTIVE
    SCAChallengeResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              scaChallengeId:
                $ref: '#/components/schemas/Id'
    MultipleSCAChallengeConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                description: |
                  Error codes:
                    * `STATE_INVALID` - The operation no longer requires additional verification, it was either cancelled or completed.
                    * `CHANNEL_NOT_SUPPORTED` - The channel selected cannot be used to verify this type of operation.
                    * `CHANNEL_NOT_REGISTERED` - The channel selected must be enrolled to receive one-time passwords before it can be used to verify this type of operation.
                    * `RETRY_IN_15_SECS` - The endpoint can be called again in 15 seconds. Once called successfully, a new SMS will be sent (with a different OTP to the original SMS).
                    * `CHALLENGE_LIMIT_EXCEEDED` - No more SMS OTPs can be requested. If verification was not completed, the original action must be started again from the beginning.
                type: string
                enum:
                  - STATE_INVALID
                  - CHANNEL_NOT_SUPPORTED
                  - CHANNEL_NOT_REGISTERED
                  - RETRY_IN_15SEC
                  - CHALLENGE_LIMIT_EXCEEDED
    MultipleSCAVerifyConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - STATE_INVALID
                  - CHANNEL_NOT_SUPPORTED
                  - CHANNEL_NOT_REGISTERED
                  - VERIFICATION_CODE_EXPIRED
                  - VERIFICATION_CODE_INVALID
                  - CHALLENGE_LIMIT_EXCEEDED
                  - ONE_CHALLENGE_LIMIT_REMAINING
    MultipleSCAChallengePushConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - STATE_INVALID
                  - CHANNEL_NOT_SUPPORTED
                  - CHANNEL_NOT_REGISTERED
                  - CHALLENGE_LIMIT_EXCEEDED
    AccessTokenResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              token:
                type: string
              identity:
                description: The identity to which the logged-in user belongs to.
                $ref: '#/components/schemas/IdentityId'
              credentials:
                description: The unique identifier for the logged-in user.
                $ref: '#/components/schemas/CredentialId'
              status:
                type: string
                description: |
                  The token status, as follows:
                    - STANDARD: it is a standard token. 
                    - STEPPED_UP: it is a stepped up token.
                enum:
                  - STANDARD
                  - STEPPED_UP
    UserResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'
    UserForbidden:
      description: Forbidden - Access to the requested resource or action is forbidden.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - STEP_UP_REQUIRED
    UserCreateConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - EMAIL_NOT_UNIQUE
                  - MOBILE_OR_COUNTRY_CODE_INVALID
                  - EMAIL_DOMAIN_NOT_ALLOWED
                  - COUNTRY_OF_RESIDENCE_INVALID
                  - ROLE_NOT_FOUND
                  - CANNOT_MODIFY_OWN_ROLES
                  - ADMIN_ROLE_REMOVAL_NOT_ALLOWED
    UsersGetResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            type: object
            properties:
              users:
                type: array
                description: The list of users matching the criteria specified.
                items:
                  $ref: '#/components/schemas/User'
              count:
                type: integer
                description: The total number of records (excluding the paging limit).
                format: int32
              responseCount:
                type: integer
                description: >-
                  The total number of records returned in this response (always
                  capped at 100).
                format: int32
    BulkProcessorConflictResponse:
      description: BulkProcessorConflict - bulk processor conflict.
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BulkProcessConflict'
    BulkProcessDetails:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BulkProcessDetails'
    BulkProcessOperations:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BulkProcessOperationsPaged'
    UserPatchConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - EMAIL_NOT_UNIQUE
                  - MOBILE_OR_COUNTRY_CODE_INVALID
                  - MOBILE_NO_CHANGE_LIMIT_EXCEEDED
                  - TOO_FREQUENT_EMAIL_CHANGES
                  - EMAIL_DOMAIN_NOT_ALLOWED
                  - MOBILE_CHANGE_NOT_ALLOWED
                  - UNSUPPORTED_CURRENCY
                  - ROLE_NOT_FOUND
                  - CANNOT_MODIFY_OWN_ROLES
                  - ADMIN_ROLE_REMOVAL_NOT_ALLOWED
    UserIdentitiesGetResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserIdentitiesGetResponseSchema'
    UserIdentitiesConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - IDENTITY_TYPE_NOT_SUPPORTED
    UserInviteSendConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - INVITE_ALREADY_CONSUMED
    UserInviteValidateConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - INVITE_OR_INVITE_CODE_INVALID
    UserInviteConsumeConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - INVITE_OR_INVITE_CODE_INVALID
                  - UNRESOLVED_IDENTITY
                  - PASSWORD_ALREADY_USED
                  - PASSWORD_PROFILE_NOT_CONFIGURED_FOR_CREDENTIAL_TYPE
                  - PASSWORD_TOO_SHORT
                  - PASSWORD_TOO_LONG
                  - PASSWORD_TOO_SIMPLE
                  - PASSWORD_KEY_ALREADY_IN_USE
                  - PASSWORD_ALREADY_CREATED
    CreateCorporateResponse:
      description: Success
      headers:
        request-ref:
          $ref: '#/components/headers/request-ref'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreatedCorporate'
    CorporateCreateConflict:
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                enum:
                  - PAYMENT_MODEL_CONSTRAINTS_VIOLATED
                  - PROFILE_NOT_FOUND
                  - PROFILE_INACTIVE
                  - ROOT_EMAIL_NOT_UNIQUE
                  - COMPANY_NOT_FOUND
                  - COMPANY_LOOKUP_FAILED
                  - CURRENCY_UNSUPPORTED
                  - FEE_GROUP_INVALID
                  - COUNTRY_INVALID
                  - MOBILE_OR_COUNTRY_CODE_INVALID
                  - COUNTRY_UNSUPPORTED
                  - ROOT_USER_INACTIVE
                  - ROOT_EMAIL_NOT_VERIFIED
                  - KYC_APPROVAL_MISSING
[...]
